<!--
  @block Date Picker — Demo
  @type component
  @description Demo usage example for the forge-date-picker component.
  @tags date-picker, demo, storybook, component-example
-->
<forge-date-picker>
  <forge-text-field>
    <label for="date-picker" slot="label">Date</label>
    <input aria-label="Pick a date" type="text" id="date-picker" autocomplete="off" placeholder autocorrect="off" autocapitalize="off" spellcheck="false" role="combobox" aria-live="assertive" aria-atomic="true" aria-haspopup="true" aria-expanded="false" aria-owns="forge-date-picker-jrl2d" aria-controls="forge-aria-controls-placeholder" aria-disabled="false">
    <forge-icon-button aria-label="Toggle calendar" slot="end" density="medium">
      <forge-icon name="insert_invitation">
      </forge-icon>
    </forge-icon-button>
  </forge-text-field>
</forge-date-picker>
