<div>
  <forge-spinner id="spinner"></forge-spinner>
  <forge-text-field style="margin-block-start: 16px;">
    <input type="number" id="input" />
    <label for="input">Number input</label>
  </forge-text-field>
</div>

<script type="module" src="spinner.ts"></script>
