<!--
  @block Content Scaffold — Demo
  @type component
  @description Demo usage example for the forge-content-scaffold component.
  @tags content-scaffold, demo, storybook, component-example
-->
<div class="h-[240px] border border-outline rounded-lg">
  <forge-content-scaffold>
    <div slot="before-header-start">before-header-start</div>
    <div slot="header-start">header-start</div>
    <div slot="header-end">header-end</div>
    <div slot="body">body</div>
    <div slot="footer-start">footer-start</div>
    <div slot="footer-end">footer-end</div>
  </forge-content-scaffold>
</div>
