<!--
  @block Button Toggle — Outline
  @type component
  @description Outline usage example for the forge-button-toggle component.
  @tags button-toggle, outline, storybook, component-example
-->
<forge-button-toggle-group aria-label="Outlined example">
  <forge-button-toggle value="email">By email</forge-button-toggle>
  <forge-button-toggle value="mail">By mail</forge-button-toggle>
</forge-button-toggle-group>
<forge-button-toggle-group no-outline aria-label="No outline example">
  <forge-button-toggle value="email">By email</forge-button-toggle>
  <forge-button-toggle value="mail">By mail</forge-button-toggle>
</forge-button-toggle-group>
