@import 'tailwindcss';
@import '@tylertech/forge-tailwind';

@layer components {
  .striped-box {
    @apply rounded-lg p-4 border text-lowest bg-[size:var(--forge-spacing-small)_var(--forge-spacing-small)] bg-top-left bg-[image:repeating-linear-gradient(315deg,currentColor_0,currentColor_1px,transparent_0,transparent_50%)];
  }
}

.sbdocs.sbdocs-wrapper {
  min-height: fit-content;
}

.sbdocs.sbdocs-content {
  padding: 0;
}

.sbdocs .sbdocs-preview {
  margin: 0;
}

.sbdocs.sbdocs-preview-actions {
  margin: 0;
}
