<div>
  <h3 class="forge-typography--heading2">Common</h3>
  <forge-split-button>
    <forge-button class="primary-action">Send</forge-button>
    <forge-menu id="split-menu">
      <forge-button popover-icon></forge-button>
    </forge-menu>
  </forge-split-button>
</div>

<div>
  <h3 class="forge-typography--heading2">Multiple</h3>
  <forge-split-button>
    <forge-button class="primary-action">Button one</forge-button>
    <forge-button class="primary-action">Button two</forge-button>
    <forge-button class="primary-action">Button three</forge-button>
    <forge-button class="primary-action">Button four</forge-button>
  </forge-split-button>
</div>

<script type="module" src="split-button.ts"></script>
