<!--
  @block Autocomplete — Multi Select
  @type component
  @description Multi Select usage example for the forge-autocomplete component.
  @tags autocomplete, multi-select, storybook, component-example
-->
<forge-autocomplete multiple class="w-[256px]">
  <forge-text-field show-clear popover-icon>
    <input type="text" id="autocomplete-multiselect" autocomplete="off" role="combobox" aria-live="polite" aria-atomic="true" aria-haspopup="true" aria-expanded="false" aria-autocomplete="list" aria-controls="forge-aria-controls-placeholder">
    <label for="autocomplete-multiselect" slot="label">Choose states</label>
  </forge-text-field>
</forge-autocomplete>
