<!--
  @block Expansion Panel — CSS Only
  @type component
  @description CSS Only usage example for the forge-expansion-panel component.
  @tags expansion-panel, css-only, storybook, component-example
-->
<button type="button" id="my-button" aria-expanded="false">
  Toggle
</button>
<div class="forge-expansion-panel">
  <div class="forge-expansion-panel__content">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae recusandae ullam facilis ipsa deleniti temporibus modi nam, eveniet, dolore aut rem,
    tempore excepturi! Porro corporis culpa quis modi ab corrupti?
  </div>
</div>
