<!--
  @block Button Toggle — With Icons
  @type component
  @description With Icons usage example for the forge-button-toggle component.
  @tags button-toggle, with-icons, storybook, component-example
-->
<forge-button-toggle-group aria-label="Choose communication type">
  <forge-button-toggle value="email">
    <forge-icon name="email" slot="start"></forge-icon>
    By email
  </forge-button-toggle>
  <forge-button-toggle value="mail">
    <forge-icon name="mail" slot="start"></forge-icon>
    By mail
  </forge-button-toggle>
  <forge-button-toggle value="phone">
    <forge-icon name="phone" slot="start"></forge-icon>
    By phone
  </forge-button-toggle>
</forge-button-toggle-group>
