<div class="vert">
  <form autocomplete="off">
    <forge-autocomplete id="autocomplete">
      <forge-text-field>
        <label for="autocomplete-input">Choose state</label>
        <input type="text" id="autocomplete-input" aria-label="Choose state" />
        <forge-icon-button slot="trailing" dense density-level="2">
          <button type="button" data-forge-autocomplete-clear>
            <forge-icon name="close"></forge-icon>
          </button>
        </forge-icon-button>
        <forge-icon slot="trailing" name="arrow_drop_down" data-forge-dropdown-icon></forge-icon>
      </forge-text-field>
    </forge-autocomplete>
  </form>

  <forge-label-value>
    <span slot="label">Selected value</span>
    <span slot="value" id="autocomplete-value">No value selected</span>
  </forge-label-value>
</div>

<script type="module" src="autocomplete.ts"></script>
