<div class="vert">
  <form autocomplete="off">
    <forge-autocomplete id="autocomplete">
      <forge-text-field popover-icon>
        <label for="autocomplete-input">Choose state</label>
        <input type="text" id="autocomplete-input" />
        <forge-icon-button slot="trailing" density="medium" data-forge-autocomplete-clear aria-label="Clear value">
          <forge-icon name="close"></forge-icon>
        </forge-icon-button>
      </forge-text-field>
    </forge-autocomplete>
  </form>

  <forge-label-value>
    <span slot="label">Selected value</span>
    <span slot="value" id="autocomplete-value">No value selected</span>
  </forge-label-value>
</div>

<script type="module" src="autocomplete.ts"></script>
