<form autocomplete="off">
  <forge-autocomplete id="autocomplete">
    <forge-text-field>
      <input type="text" id="autocomplete-input" aria-label="Choose state" />
      <label for="autocomplete-input">Choose state</label>
      <forge-icon slot="trailing" name="arrow_drop_down" data-forge-dropdown-icon></forge-icon>
    </forge-text-field>
  </forge-autocomplete>
</form>

<script type="module" src="autocomplete.ts"></script>
