<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="https://cdn.forge.tylertech.com/favicon.ico" sizes="16x16" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.forge.tylertech.com/v1/css/tyler-font.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forge - Button</title>
  </head>
  <body class="forge-typography">
    <forge-scaffold>
      <forge-app-bar slot="header" title-text="Forge - Button">
        <forge-icon name="forge_logo" slot="logo"></forge-icon>
      </forge-app-bar>
      <main id="app" slot="body">
        <forge-card>
          <h2 class="forge-typography--headline5">Button</h2>
          
          <div>
            <forge-button>
              <button type="button">Standard Button</button>
            </forge-button>
            <forge-button type="raised">
              <button type="button">Raised Button</button>
            </forge-button>
            <forge-button type="unelevated">
              <button type="button">Unelevated Button</button>
            </forge-button>
            <forge-button type="outlined">
              <button type="button">Outlined Button</button>
            </forge-button>
          </div>
      
          <div style="margin-top: 16px;">
            <forge-button type="outlined-dense">
              <button type="button">
                Dense Button
              </button>
            </forge-button>
            <forge-button type="outlined">
              <button type="button">
                <forge-icon name="favorite"></forge-icon>
                <span>Leading Icon</span>
              </button>
            </forge-button>
            <forge-button type="outlined">
              <button type="button">
                <span>Trailing Icon</span>
                <forge-icon name="favorite"></forge-icon>
              </button>
            </forge-button>
          </div>
        </forge-card>
      </main>
    </forge-scaffold>

    <script type="module" src="./button.ts"></script>
  </body>
</html>
