<!--
  @block Chip Field — Disabled
  @type component
  @description Disabled usage example for the forge-chip-field component.
  @tags chip-field, disabled, storybook, component-example
-->
<forge-chip-field disabled>
  <label slot="label" for="chip-field-disabled-input">Tags</label>
  <input type="text" id="chip-field-disabled-input" />
  <forge-chip slot="member" type="field" dense disabled value="design">design</forge-chip>
  <forge-chip slot="member" type="field" dense disabled value="research">research</forge-chip>
</forge-chip-field>
