.github/
.husky/
patches/
**/.storybook/
**/.storybook-static/
**/.angular/
**/.coverage/
**/.vitest-coverage/
**/storybook-static/
**/dist/
**/templates/
**/node_modules/
**/pnpm-lock.yaml
packages/forge/src/stories/**/*.mdx
packages/forge/src/dev/
packages/forge/templates/
CONTRIBUTING.md
CHANGELOG.md
**/README.md
.gitignore
