<meta charset="UTF-8" />
<link rel="shortcut icon" href="https://cdn.forge.tylertech.com/favicon.ico" sizes="16x16" type="image/x-icon">
<link rel="stylesheet" href="https://cdn.forge.tylertech.com/v1/css/tyler-font.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= !!title ? `${title} - ` : undefined %><%= site.title %></title>
<style>body { opacity: 0; }</style>
