<forge-app-bar slot="header" title-text="<%= site.title %><%= title ? ` - ${title}` : null %>">
  <forge-icon name="forge_logo" slot="logo"></forge-icon>
  <forge-icon-button slot="end">
    <button type="button" id="dark-theme-button">
      <forge-icon name="brightness_3"></forge-icon>
      <forge-tooltip>Toggle theme</forge-tooltip>
    </button>
  </forge-icon-button>
</forge-app-bar>
