<div class="vert">
  <div>
    <h3 class="forge-typography--subtitle1-secondary">Continuous</h3>
    <forge-slider value="25"></forge-slider>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Continuous range</h3>
    <forge-slider type="continuous-range" value="70" step="10"></forge-slider>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Disabled</h3>
    <forge-slider value="33" disabled></forge-slider>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Discrete</h3>
    <forge-slider type="discrete" value="50"></forge-slider>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Discrete with tick marks</h3>
    <forge-slider type="discrete-markers" value="70" step="10"></forge-slider>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Discrete range</h3>
    <forge-slider type="discrete-range" value="70" step="10"></forge-slider>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Discrete range with tick marks</h3>
    <forge-slider type="discrete-range-markers" value="70" step="10"></forge-slider>
  </div>
</div>

<script type="module" src="slider.ts"></script>
