<h3 class="forge-typography--subheading4">Basic (unstyled)</h3>
<forge-expansion-panel id="expansion-panel-basic">
  <div slot="header">Click me</div>
  <div>Expandable content</div>
</forge-expansion-panel>

<h3 class="forge-typography--subheading4">Card</h3>
<forge-card class="expandable-card">
  <forge-expansion-panel id="expansion-panel-card">
    <div slot="header" role="button" class="flex expansion-panel-header">
      <div>Click me too</div>
      <forge-open-icon></forge-open-icon>
    </div>
    <div>
      Expandable card content
    </div>
  </forge-expansion-panel>
</forge-card>

<script type="module" src="expansion-panel.ts"></script>
