<div class="vert">
  <section>
    <h3 class="forge-typography--heading2">Basic (unstyled)</h3>
    <forge-expansion-panel>
      <button type="button" slot="header">Click me</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel totam porro, quidem dolore repellat laborum soluta numquam? Voluptate debitis iusto, omnis perspiciatis dicta libero, unde amet molestiae minus quis sequi.</p>
    </forge-expansion-panel>
  </section>
  
  <section>
    <h3 class="forge-typography--heading2">Basic (button separate from expansion panel)</h3>
    <button id="button-id">Click me</button>
    <forge-expansion-panel trigger="button-id">
      <div>Header text</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel totam porro, quidem dolore repellat laborum soluta numquam? Voluptate debitis iusto, omnis perspiciatis dicta libero, unde amet molestiae minus quis sequi.</p>
    </forge-expansion-panel>
  </section>

  <section>
    <h3 class="forge-typography--heading2">CSS-Only</h3>
    <button id="css-only-panel-trigger" type="button">Click Me</button>
    <div class="forge-expansion-panel">
      <div class="forge-expansion-panel__content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae recusandae ullam facilis ipsa deleniti temporibus modi nam, eveniet, dolore aut rem, tempore excepturi! Porro corporis culpa quis modi ab corrupti?
      </div>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Basic w/scrollable content</h3>
    <forge-expansion-panel open>
      <button type="button" slot="header">Click me</button>
      <div class="scrollable-expansion-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel totam porro, quidem dolore repellat laborum soluta numquam? Voluptate debitis iusto, omnis perspiciatis dicta libero, unde amet molestiae minus quis sequi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel totam porro, quidem dolore repellat laborum soluta numquam? Voluptate debitis iusto, omnis perspiciatis dicta libero, unde amet molestiae minus quis sequi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel totam porro, quidem dolore repellat laborum soluta numquam? Voluptate debitis iusto, omnis perspiciatis dicta libero, unde amet molestiae minus quis sequi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel totam porro, quidem dolore repellat laborum soluta numquam? Voluptate debitis iusto, omnis perspiciatis dicta libero, unde amet molestiae minus quis sequi.</p>
      </div>
    </forge-expansion-panel>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Card</h3>
    <forge-card class="expandable-card">
      <forge-expansion-panel>
        <div slot="header" role="button" class="flex" style="justify-content: space-between;">
          <div>Header text</div>
          <forge-open-icon></forge-open-icon>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus ut illum corporis incidunt quod temporibus consequatur rem! Libero rem nulla quod corporis similique consequuntur facere laborum veniam error eius.</p>
      </forge-expansion-panel>
    </forge-card>
  </section>
</div>

<script type="module" src="expansion-panel.ts"></script>
