<div class="vert">
  <div>
    <forge-button type="raised">
      <button type="button">Shortcut target</button>
    </forge-button>
    <forge-keyboard-shortcut id="button-shortcut"></forge-keyboard-shortcut>
  </div>

  <div>
    <forge-text-field>
      <label for="keyboard-shortcut-text-field">Shortcut target</label>
      <input type="text" id="keyboard-shortcut-text-field" />
    </forge-text-field>
    <forge-keyboard-shortcut id="text-field-shortcut"></forge-keyboard-shortcut>
  </div>
</div>

<script type="module" src="keyboard-shortcut.ts"></script>
