<div class="vert">
  <div>
    <forge-button variant="raised">Shortcut target</forge-button>
    <forge-keyboard-shortcut id="button-shortcut"></forge-keyboard-shortcut>
  </div>

  <div>
    <forge-text-field>
      <input type="text" id="keyboard-shortcut-text-field" />
      <label for="keyboard-shortcut-text-field">Shortcut target</label>
    </forge-text-field>
    <forge-keyboard-shortcut id="text-field-shortcut"></forge-keyboard-shortcut>
  </div>
</div>

<script type="module" src="keyboard-shortcut.ts"></script>
