forge-date-range-picker {
  width: 300px;
}

forge-select {
  width: 300px;
}

section {
  margin: 32px 0;
}

.info-icon {
  font-size: 18px;
  margin-left: 8px;
  cursor: pointer;
}

.form-value-label {
  display: flex;
  align-items: center;
}

forge-label-value {
  margin: 12px 0;
}
