<div class="demo-container">
  <forge-scaffold stretch class="app-full-scaffold">
    <div slot="left" class="placeholder-container">Left</div>
    <div slot="right" class="placeholder-container">Right</div>
    <div slot="header" class="placeholder-container">Header</div>
    <div slot="body-left" class="placeholder-container">Body Left</div>
    <div slot="body-header" class="placeholder-container">Body Header</div>
    <div slot="body" tabindex="0">
      <div class="placeholder-container">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
        </p>
      </div>
    </div>
    <div slot="body-right" class="placeholder-container">Body Right</div>
    <div slot="body-footer" class="placeholder-container">Body Footer</div>
    <div slot="footer" class="placeholder-container">Footer</div>
  </forge-scaffold>
</div>

<script type="module" src="scaffold.ts"></script>
