<!--
  @block Icon Button — Themed
  @type component
  @description Themed usage example for the forge-icon-button component.
  @tags icon-button, themed, storybook, component-example
-->
<forge-icon-button aria-label="Default theme icon button" variant="icon">
  <forge-icon name="forge_logo">
  </forge-icon>
</forge-icon-button>
<forge-icon-button theme="primary" aria-label="Primary theme icon button" variant="icon">
  <forge-icon name="forge_logo">
  </forge-icon>
</forge-icon-button>
<forge-icon-button theme="secondary" aria-label="Secondary theme icon button" variant="icon">
  <forge-icon name="forge_logo">
  </forge-icon>
</forge-icon-button>
<forge-icon-button theme="tertiary" aria-label="Tertiary theme icon button" variant="icon">
  <forge-icon name="forge_logo">
  </forge-icon>
</forge-icon-button>
<forge-icon-button theme="success" aria-label="Success theme icon button" variant="icon">
  <forge-icon name="forge_logo">
  </forge-icon>
</forge-icon-button>
<forge-icon-button theme="warning" aria-label="Warning theme icon button" variant="icon">
  <forge-icon name="forge_logo">
  </forge-icon>
</forge-icon-button>
<forge-icon-button theme="error" aria-label="Error theme icon button" variant="icon">
  <forge-icon name="forge_logo">
  </forge-icon>
</forge-icon-button>
<forge-icon-button theme="info" aria-label="Info theme icon button" variant="icon">
  <forge-icon name="forge_logo">
  </forge-icon>
</forge-icon-button>
