.expansion-panel-button--default {
  all: unset;
}

.expansion-panel-button--card {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.expansion-panel-button:hover,
.expansion-panel-button:focus-visible {
  outline: 2px #3f51b5 solid;
}