<div class="vert">
  <button class="demo-container state-layer-demo">
    <div>&lt;forge-state-layer&gt;</div>
    <forge-state-layer></forge-state-layer>
    <forge-focus-indicator inward></forge-focus-indicator>
  </button>

  <button class="demo-container css-only-demo">
    <div>CSS-only states</div>
    <div class="forge-state-layer"></div>
    <forge-focus-indicator inward></forge-focus-indicator>
  </button>
</div>

<script type="module" src="state-layer.ts"></script>
