.view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 1.5rem;
  margin-top: 16px;
  text-transform: uppercase;
  border: 4px dashed var(--forge-theme-outline);
}
