<!--
  @block Popover — Demo
  @type component
  @description Demo usage example for the forge-popover component.
  @tags popover, demo, storybook, component-example
-->
<forge-button id="popover-trigger" variant="raised">Show Popover</forge-button>
<forge-popover anchor="popover-trigger" placement="bottom" position-strategy="fixed" shift="false" hide="anchor-hidden">
  <forge-scaffold>
    <forge-toolbar no-border slot="header">
      <h2 class="forge-typography--heading4" slot="start">Popover Title</h2>
    </forge-toolbar>
    <div slot="body" style="width: 300px; padding: var(--forge-spacing-medium);">Popover content</div>
    <forge-toolbar no-border slot="footer">
      <forge-button slot="end" variant="filled">Close</forge-button>
    </forge-toolbar>
  </forge-scaffold>
</forge-popover>
