<!--
  @block Stack — CSS Only
  @type component
  @description CSS Only usage example for the forge-stack component.
  @tags stack, css-only, storybook, component-example
-->
<div class="forge-stack">
  <div class="forge-field">
    <input type="text" placeholder="Text field">
  </div>
  <div class="forge-stack forge-stack--inline forge-stack--stretch">
    <div class="forge-field">
      <input type="text" placeholder="Text field">
    </div>
    <div class="forge-field">
      <input type="text" placeholder="Text field">
    </div>
  </div>
  <div class="forge-stack forge-stack--inline forge-stack--stretch">
    <div class="forge-stack forge-stack--inline forge-stack--stretch">
      <div class="forge-field">
        <input type="text" placeholder="Text field">
      </div>
      <div class="forge-field">
        <input type="text" placeholder="Text field">
      </div>
    </div>
    <div class="forge-stack forge-stack--inline forge-stack--stretch">
      <div class="forge-field">
        <input type="text" placeholder="Text field">
      </div>
    </div>
  </div>
</div>
