<!--
  @block Scaffold — CSS Only
  @type component
  @description CSS Only usage example for the forge-scaffold component.
  @tags scaffold, css-only, storybook, component-example
-->
<div class="forge-scaffold [--forge-scaffold-height:500px] [--forge-scaffold-width:100%]">
  <div class="forge-scaffold__left border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">left</div>
  <div class="forge-scaffold__header border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">header</div>
  <div class="forge-scaffold__body border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">
    <div class="forge-scaffold">
      <div class="forge-scaffold__left border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">
        <div>Body Left</div>
      </div>
      <div class="forge-scaffold__right border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">
        <div>Body Right</div>
      </div>
      <div class="forge-scaffold__header border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">
        <div>Body Header</div>
      </div>
      <div class="forge-scaffold__body border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border" tabindex="0">
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed
            saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed
            saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed
            saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed
            saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed
            saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed
            saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed
            saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
          </p>
        </div>
      </div>
      <div class="forge-scaffold__footer border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">
        <div>Body Footer</div>
      </div>
    </div>
  </div>
  <div class="forge-scaffold__footer border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">footer</div>
  <div class="forge-scaffold__right border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">right</div>
</div>
