<!--
  @block Scaffold — CSS Only
  @type component
  @description CSS Only usage example for the forge-scaffold component.
  @tags scaffold, css-only, storybook, component-example
-->
<div class="scaffold-example forge-scaffold">
  <div class="forge-scaffold__left">left</div>
  <div class="forge-scaffold__header">header</div>
  <div class="forge-scaffold__body">
    <div class="forge-scaffold">
      <div class="forge-scaffold__left">
        <div>Body Left</div>
      </div>
      <div class="forge-scaffold__right">
        <div>Body Right</div>
      </div>
      <div class="forge-scaffold__header">
        <div>Body Header</div>
      </div>
      <div class="forge-scaffold__body" tabindex="0">
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed
            saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed
            saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed
            saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed
            saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed
            saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed
            saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed
            saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ea laboriosam alias quas incidunt distinctio est praesentium. Sed
            saepe eius, voluptatibus officia dolores recusandae cum. Molestias est numquam odio.
          </p>
        </div>
      </div>
      <div class="forge-scaffold__footer">
        <div>Body Footer</div>
      </div>
    </div>
  </div>
  <div class="forge-scaffold__footer">footer</div>
  <div class="forge-scaffold__right">right</div>
</div>
