@use '../../../lib/button-toggle/button-toggle-group';
@use '../../../lib/button-toggle/button-toggle';
@use '../../../lib/core/styles/theme';

section:not(:last-of-type) {
  margin-block-end: 32px;
}

#toolbar-card {
  display: inline-block;
  --forge-card-padding: 0;

  @include button-toggle-group.provide-theme((
    padding: 4px
  ));

  .toolbar-card__container {
    display: flex;
  }

  forge-divider {
    height: auto;
    margin-block: 4px;
  }
}

.legacy-button-toggle-group {
  @include button-toggle-group.provide-theme((
    gap: 1px,
    padding: 0,
    outline-color: theme.variable(primary),
    outline-color-active: theme.variable(primary)
  ));
  
  forge-button-toggle {
    @include button-toggle.provide-theme((
      color: theme.variable(primary),
      selected-color: theme.variable(on-primary),
      selected-background: theme.variable(primary),
      focus-indicator-offset: 2px
    ));

    &:first-of-type {
      @include button-toggle.provide-theme((
        shape-start-end: 0,
        shape-end-end: 0
      ));
    }

    &:not(:first-of-type):not(:last-of-type) {
      @include button-toggle.provide-theme((
        shape: 0
      ));
    }

    &:last-of-type {
      @include button-toggle.provide-theme((
        shape-start-start: 0,
        shape-end-start: 0
      ));
    }
  }
}