<h3 class="forge-typography--subheading4">Static</h3>
<forge-button-toggle-group id="button-toggle-group">
  <forge-button-toggle value="email" aria-label="By email">
    <forge-icon name="email" slot="leading"></forge-icon>
    By email
  </forge-button-toggle>
  <forge-button-toggle value="mail" aria-label="By mail">By mail</forge-button-toggle>
  <forge-button-toggle value="phone" aria-label="By phone">
    By phone
    <forge-icon name="phone" slot="trailing"></forge-icon>
  </forge-button-toggle>
</forge-button-toggle-group>

<h3 class="forge-typography--subheading4">Dynamic</h3>
<forge-button-toggle-group id="button-toggle-group-dynamic"></forge-button-toggle-group>

<script type="module" src="button-toggle.ts"></script>
