<!--
  @block Date Range Picker — Shortcuts
  @type component
  @description Shortcuts usage example for the forge-date-range-picker component.
  @tags date-range-picker, shortcuts, storybook, component-example
-->
<forge-date-range-picker show-today="false">
  <forge-text-field>
    <label for="date-range-shortcuts-01">Future range</label>
    <input type="text" id="date-range-shortcuts-01" autocomplete="off" placeholder="mm/dd/yyyy" />
    <input type="text" id="date-range-shortcuts-02" autocomplete="off" placeholder="mm/dd/yyyy" />
  </forge-text-field>
</forge-date-range-picker>
