<!-- Default -->
<div>
  <h3 class="forge-typography--heading2">Default (noninteractive)</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item">List Item One</li>
      <li class="forge-list-item">List Item Two</li>
      <li class="forge-list-item">List Item Three</li>
    </ul>
  </div>
</div>

<!-- Disabled -->
<div>
  <h3 class="forge-typography--heading2">Disabled</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item">
        <button disabled type="button">List Item One</button>
      </li>
      <li class="forge-list-item">
        <button disabled type="button">List Item Two</button>
      </li>
      <li class="forge-list-item">
        <button disabled type="button">List Item Three</button>
      </li>
    </ul>
  </div>
</div>

<!-- Single-line -->
<div>
  <h3 class="forge-typography--heading2">Single-Line (interactive)</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item">
        <button type="button">List Item One</button>
      </li>
      <li class="forge-list-item">
        <button type="button">List Item Two</button>
      </li>
      <li class="forge-list-item">
        <button type="button">List Item Three</button>
      </li>
    </ul>
  </div>
</div>

<!-- Two-Line -->
<div>
  <h3 class="forge-typography--heading2">Two-Line (interactive)</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item forge-list-item--two-line">
        <button type="button">Primary Text</button>
        <span class="forge-list-item__text">Secondary Text</span>
      </li>
      <li class="forge-list-item forge-list-item--two-line">
        <button type="button">Primary Text</button>
        <span class="forge-list-item__text">Secondary Text</span>
      </li>
      <li class="forge-list-item forge-list-item--two-line">
        <button type="button">Primary Text</button>
        <span class="forge-list-item__text">Secondary Text</span>
      </li>
    </ul>
  </div>
</div>

<!-- Three-Line -->
<div>
  <h3 class="forge-typography--heading2">Three-Line (interactive)</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item forge-list-item--three-line">
        <button type="button">Primary Text</button>
        <span class="forge-list-item__text">Secondary Text</span>
        <span class="forge-list-item__text">Tertiary Text</span>
      </li>
      <li class="forge-list-item forge-list-item--three-line">
        <button type="button">Primary Text</button>
        <span class="forge-list-item__text">Secondary Text</span>
        <span class="forge-list-item__text">Tertiary Text</span>
      </li>
      <li class="forge-list-item forge-list-item--three-line">
        <button type="button">Primary Text</button>
        <span class="forge-list-item__text">Secondary Text</span>
        <span class="forge-list-item__text">Tertiary Text</span>
      </li>
    </ul>
  </div>
</div>

<!-- Single-line long text -->
<div>
  <h3 class="forge-typography--heading2">Single-Line (long text)</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</li>
      <li class="forge-list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</li>
      <li class="forge-list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</li>
    </ul>
  </div>
</div>

<!-- Single-line long text w/wrap -->
<div>
  <h3 class="forge-typography--heading2">Single-Line (long text w/wrap)</h3>
  <div class="list-demo">
    <ul class="forge-list forge-list--wrap">
      <li class="forge-list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</li>
      <li class="forge-list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</li>
      <li class="forge-list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</li>
    </ul>
  </div>
</div>

<!-- Two-line long text w/wrap -->
<div>
  <h3 class="forge-typography--heading2">Two-Line (long text w/wrap)</h3>
  <div class="list-demo">
    <ul class="forge-list forge-list--two-line forge-list--wrap">
      <li class="forge-list-item">
        List Item
        <span class="forge-list-item__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
      </li>
      <li class="forge-list-item">
        List Item
        <span class="forge-list-item__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
      </li>
      <li class="forge-list-item">
        List Item
        <span class="forge-list-item__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
      </li>
    </ul>
  </div>
</div>

<!-- Three-line long text w/wrap -->
<div>
  <h3 class="forge-typography--heading2">Three-Line (long text w/wrap)</h3>
  <div class="list-demo">
    <ul class="forge-list forge-list--three-line forge-list--wrap">
      <li class="forge-list-item">
        List Item
        <span class="forge-list-item__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
        <span class="forge-list-item__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
      </li>
      <li class="forge-list-item">
        List Item
        <span class="forge-list-item__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
        <span class="forge-list-item__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
      </li>
      <li class="forge-list-item">
        List Item
        <span class="forge-list-item__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
        <span class="forge-list-item__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
      </li>
    </ul>
  </div>
</div>

<!-- Single-line (dense) -->
<div>
  <h3 class="forge-typography--heading2">Single-Line (dense)</h3>
  <div class="list-demo">
    <ul class="forge-list forge-list--dense">
      <li class="forge-list-item">
        <button type="button">List Item One</button>
      </li>
      <li class="forge-list-item">
        <button type="button">List Item Two</button>
      </li>
      <li class="forge-list-item">
        <button type="button">List Item Three</button>
      </li>
    </ul>
  </div>
</div>

<!-- Two-line (dense) -->
<div>
  <h3 class="forge-typography--heading2">Two-Line (dense)</h3>
  <div class="list-demo">
    <ul class="forge-list forge-list--two-line forge-list--dense">
      <li class="forge-list-item">
        <button type="button">Primary Text</button>
        <span class="forge-list-item__text">Secondary Text</span>
      </li>
      <li class="forge-list-item">
        <button type="button">Primary Text</button>
        <span class="forge-list-item__text">Secondary Text</span>
      </li>
      <li class="forge-list-item">
        <button type="button">Primary Text</button>
        <span class="forge-list-item__text">Secondary Text</span>
      </li>
    </ul>
  </div>
</div>

<!-- Three-line (dense) -->
<div>
  <h3 class="forge-typography--heading2">Three-Line (dense)</h3>
  <div class="list-demo">
    <ul class="forge-list forge-list--three-line forge-list--dense">
      <li class="forge-list-item">
        <button type="button">Primary Text</button>
        <span class="forge-list-item__text">Secondary Text</span>
        <span class="forge-list-item__text">Tertiary Text</span>
      </li>
      <li class="forge-list-item">
        <button type="button">Primary Text</button>
        <span class="forge-list-item__text">Secondary Text</span>
        <span class="forge-list-item__text">Tertiary Text</span>
      </li>
      <li class="forge-list-item">
        <button type="button">Primary Text</button>
        <span class="forge-list-item__text">Secondary Text</span>
        <span class="forge-list-item__text">Tertiary Text</span>
      </li>
    </ul>
  </div>
</div>

<!-- List with Selected Item -->
<div>
  <h3 class="forge-typography--heading2">List with Selected Item</h3>
  <div class="list-demo">
    <ul class="forge-list forge-list--three-line">
      <li class="forge-list-item forge-list-item--selected">
        <forge-icon class="forge-list-item__start" name="wifi"></forge-icon>
        <div>
          <button type="button">Wifi</button>
          <span class="forge-list-item__text">Secondary Text</span>
          <span class="forge-list-item__text">Tertiary Text</span>
        </div>
      </li>
      <li class="forge-list-item">
        <forge-icon class="forge-list-item__start" name="bluetooth"></forge-icon>
        <div>
          <button type="button">Bluetooth</button>
          <span class="forge-list-item__text">Secondary Text</span>
          <span class="forge-list-item__text">Tertiary Text</span>
        </div>
      </li>
      <li class="forge-list-item">
        <forge-icon class="forge-list-item__start" name="data_usage"></forge-icon>
        <div>
          <button type="button">Data usage</button>
          <span class="forge-list-item__text">Secondary Text</span>
          <span class="forge-list-item__text">Tertiary Text</span>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Start Icon -->
<div>
  <h3 class="forge-typography--heading2">Start Icon</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item">
        <forge-icon class="forge-list-item__start" name="wifi"></forge-icon>
        <button>List Item</button>
      </li>
      <li class="forge-list-item">
        <forge-icon class="forge-list-item__start" name="bluetooth"></forge-icon>
        <button>List Item</button>
      </li>
      <li class="forge-list-item">
        <forge-icon class="forge-list-item__start" name="data_usage"></forge-icon>
        <button>List Item</button>
      </li>
    </ul>
  </div>
</div>

<!-- End Icon -->
<div>
  <h3 class="forge-typography--heading2">End Icon</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item">
        <button>List Item</button>
        <forge-icon class="forge-list-item__end" name="info"></forge-icon>
      </li>
      <li class="forge-list-item">
        <button>List Item</button>
        <forge-icon class="forge-list-item__end" name="info"></forge-icon>
      </li>
      <li class="forge-list-item">
        <button>List Item</button>
        <forge-icon class="forge-list-item__end" name="info"></forge-icon>
      </li>
    </ul>
  </div>
</div>

<!-- Two-Line with Start and End Icon and Divider -->
<div>
  <h3 class="forge-typography--heading2">Two-Line with Start and End Icon and Divider</h3>
  <div class="list-demo" style="--forge-avatar-background: var(--forge-theme-text-medium);">
    <ul class="forge-list forge-list--two-line">
      <li class="forge-list-item">
        <forge-avatar class="forge-list-item__start">
          <forge-icon name="folder"></forge-icon>
        </forge-avatar>
        <div>
          <button type="button">Dog Photos</button>
          <span class="forge-list-item__text">9 Jan 2018</span>
        </div>
        <forge-icon class="forge-list-item__end" name="info"></forge-icon>
      </li>
      <li class="forge-list-item">
        <forge-avatar class="forge-list-item__start">
          <forge-icon name="folder"></forge-icon>
        </forge-avatar>
        <div>
          <button type="button">Cat Photos</button>
          <span class="forge-list-item__text">22 Dec 2017</span>
        </div>
        <forge-icon class="forge-list-item__end" name="info"></forge-icon>
        <hr class="forge-divider">
      </li>
      <li class="forge-list-item">
        <forge-avatar class="forge-list-item__start">
          <forge-icon name="folder"></forge-icon>
        </forge-avatar>
        <div>
          <button type="button">Potatoes</button>
          <span class="forge-list-item__text">30 Nov 2017</span>
        </div>
        <forge-icon class="forge-list-item__end" name="info"></forge-icon>
      </li>
      <li class="forge-list-item">
        <forge-avatar class="forge-list-item__start">
          <forge-icon name="folder"></forge-icon>
        </forge-avatar>
        <div>
          <button type="button">Carrots</button>
          <span class="forge-list-item__text">17 Oct 2017</span>
        </div>
        <forge-icon class="forge-list-item__end" name="info"></forge-icon>
      </li>
    </ul>
  </div>
</div>

<!-- List with Dividers and Expandable Items -->
<div>
  <h3 class="forge-typography--heading2">List with Dividers and Expandable Items</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item expandable-list-item">
        <forge-icon class="forge-list-item__start" name="code"></forge-icon>
        <button type="button">List Item One</button>
        <forge-open-icon class="forge-list-item__end"></forge-open-icon>
      </li>
      <div role="listitem" class="forge-expansion-panel">
        <div class="forge-expansion-panel__content">
          <ul class="forge-list forge-list--indented">
            <li class="forge-list-item">
              <button type="button">List Item One</button>
            </li>
            <li class="forge-list-item">
              <button type="button">List Item Two</button>
            </li>
            <li class="forge-list-item">
              <button type="button">List Item Three</button>
            </li>
          </ul>
        </div>
      </div>
      <hr class="forge-divider">
      <li class="forge-list-item expandable-list-item">
        <forge-icon class="forge-list-item__start" name="face"></forge-icon>
        <button type="button">List Item One</button>
        <forge-open-icon class="forge-list-item__end"></forge-open-icon>
      </li>
      <div role="listitem" class="forge-expansion-panel">
        <div class="forge-expansion-panel__content">
          <ul class="forge-list forge-list--indented">
            <li class="forge-list-item">
              <button type="button">List Item One</button>
            </li>
            <li class="forge-list-item">
              <button type="button">List Item Two</button>
            </li>
            <li class="forge-list-item">
              <button type="button">List Item Three</button>
            </li>
          </ul>
        </div>
      </div>
      <hr class="forge-divider">
      <li class="forge-list-item">
        <button type="button">List Item Three</button>
      </li>
    </ul>
  </div>
</div>

<!-- List with Start Checkbox -->
<div>
  <h3 class="forge-typography--heading2">List with Start Checkbox</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item">
        <forge-checkbox class="forge-list-item__start" checked id="start-checkbox-1-css"></forge-checkbox>
        <label for="start-checkbox-1-css">List Item One</label>
      </li>
      <li class="forge-list-item forge-list-item--interactive">
        <forge-checkbox class="forge-list-item__start" aria-labelledby="start-checkbox-2"></forge-checkbox>
        <span id="start-checkbox-2">List Item Two</span>
      </li>
      <li class="forge-list-item forge-list-item--interactive">
        <forge-checkbox class="forge-list-item__start" aria-labelledby="start-checkbox-3"></forge-checkbox>
        <span id="start-checkbox-3">List Item Three</span>
      </li>
    </ul>
  </div>
</div>

<!-- List with End Checkbox -->
<div>
  <h3 class="forge-typography--heading2">List with End Checkbox</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item forge-list-item--interactive">
        <span>List Item One</span>
        <forge-checkbox class="forge-list-item__end" checked aria-label="Select list item one with end"></forge-checkbox>
      </li>
      <li class="forge-list-item forge-list-item--interactive">
        <span>List Item Two</span>
        <forge-checkbox class="forge-list-item__end" aria-label="Select list item two with end"></forge-checkbox>
      </li>
      <li class="forge-list-item forge-list-item--interactive">
        <span>List Item Three</span>
        <forge-checkbox class="forge-list-item__end" aria-label="Select list item three with end"></forge-checkbox>
      </li>
    </ul>
  </div>
</div>

<!-- List with Start Radio Buttons -->
<div>
  <h3 class="forge-typography--heading2">List with Start Radio Buttons</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item forge-list-item--interactive">
        <forge-radio class="forge-list-item__start" name="css-list-with-start-radios" aria-labelledby="start-radio-1"></forge-radio>
        <span id="css-start-radio-1">List Item</span>
      </li>
      <li class="forge-list-item forge-list-item--interactive">
        <forge-radio class="forge-list-item__start" name="css-list-with-start-radios" aria-labelledby="start-radio-2" checked></forge-radio>
        <span id="css-start-radio-2">List Item</span>
      </li>
      <li class="forge-list-item forge-list-item--interactive">
        <forge-radio class="forge-list-item__start" name="css-list-with-start-radios" aria-labelledby="start-radio-3"></forge-radio>
        <span id="css-start-radio-3">List Item</span>
      </li>
    </ul>
  </div>
</div>

<!-- List with End Radio Buttons -->
<div>
  <h3 class="forge-typography--heading2">List with End Radio Buttons</h3>
  <div class="list-demo">
    <ul class="forge-list" arial-label="Choose radio option">
      <li class="forge-list-item forge-list-item--interactive">
        <label for="css-end-radio-1">List Item</label>
        <forge-radio id="end-radio-1" class="forge-list-item__end" name="css-list-radio-end" aria-label="Select list item one with end radio"></forge-radio>
      </li>
      <li class="forge-list-item forge-list-item--interactive">
        <label for="css-end-radio-2">List Item</label>
        <forge-radio id="end-radio-2" class="forge-list-item__end" name="css-list-radio-end" checked aria-label="Select list item two with end radio"></forge-radio>
      </li>
      <li class="forge-list-item forge-list-item--interactive">
        <label for="css-end-radio-3">List Item</label>
        <forge-radio id="end-radio-3" class="forge-list-item__end" name="css-list-radio-end" aria-label="Select list item three with end radio"></forge-radio>
      </li>
    </ul>
  </div>
</div>
  
<!-- List with End Switch -->
<div>
  <h3 class="forge-typography--heading2">List with End Switch</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item forge-list-item--interactive">
        <label for="end-switch-1-css">List Item</label>
        <forge-switch id="end-switch-1-css" class="forge-list-item__end" aria-label="Toggle list item"></forge-switch>
      </li>
      <li class="forge-list-item forge-list-item--interactive">
        <label for="end-switch-2-css">List Item</label>
        <forge-switch id="end-switch-2-css" class="forge-list-item__end" checked aria-label="Toggle list item"></forge-switch>
      </li>
      <li class="forge-list-item forge-list-item--interactive">
        <label for="end-switch-3-css">List Item</label>
        <forge-switch id="end-switch-3-css" class="forge-list-item__end" aria-label="Toggle list item"></forge-switch>
      </li>
    </ul>
  </div>
</div>

<!-- List with multiple Checkboxes (requires use of forge-ignore attribute) -->
<div>
  <h3 class="forge-typography--heading2">List with multiple Checkboxes (requires use of forge-ignore attribute)</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item">
        <forge-checkbox id="css-cb-both-1" class="forge-list-item__start" checked aria-label="Select list item one with ignored end checkbox"></forge-checkbox>
        <label for="css-cb-both-1">List Item</label>
        <forge-checkbox tabindex="-1" class="forge-list-item__end" forge-ignore aria-label="Select list item with end checkbox and ignored start checkbox"></forge-checkbox>
      </li>
      <li class="forge-list-item">
        <forge-checkbox id="css-cb-both-2" class="forge-list-item__start" aria-label="Select list item with start checkbox and ignored end checkbox"></forge-checkbox>
        <label for="css-cb-both-2">List Item</label>
        <forge-checkbox tabindex="-1" class="forge-list-item__end" forge-ignore aria-label="Select list item two with ignored end checkbox"></forge-checkbox>
      </li>
      <li class="forge-list-item">
        <forge-checkbox id="css-cb-both-3" class="forge-list-item__start" aria-label="Select list item"></forge-checkbox>
        <label for="css-cb-both-3">List Item</label>
        <forge-checkbox tabindex="-1" class="forge-list-item__end" forge-ignore aria-label="Select list item three with ignored end checkbox"></forge-checkbox>
      </li>
    </ul>
  </div>
</div>

<!-- List Inside of Drawer -->
<div>
  <h3 class="forge-typography--heading2">List Inside of Drawer</h3>
  <div class="list-demo">
    <aside class="forge-drawer">
      <ul class="forge-list forge-list--navlist">
        <li class="forge-list-item">
          <button type="button">Home</button>
        </li>
        <hr class="forge-divider">
        <li class="forge-list-item forge-list-item--selected">
          <button type="button">About</button>
        </li>
        <hr class="forge-divider">
        <li class="forge-list-item">
          <button type="button">Contact</button>
        </li>
      </ul>
    </aside>
  </div>
</div>

<!-- With nested buttons -->
<div>
  <h3 class="forge-typography--heading2">With nested buttons</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item">
        <forge-checkbox class="forge-list-item__start" tabindex="-1" forge-ignore aria-label="Select list item with ignored start checkbox css"></forge-checkbox>
        <button type="button">List Item (ignore start)</button>
      </li>
      <li class="forge-list-item">
        List Item w/switch
        <forge-switch class="forge-list-item__end" aria-label="Toggle list item with end switch css"></forge-switch>
      </li>
      <li class="forge-list-item">
        <button>List Item ignore switch</button>
        <forge-switch class="forge-list-item__end" tabindex="-1" aria-label="Toggle list item with ignored end switch css" forge-ignore></forge-switch>
      </li>
      <li class="forge-list-item">
        <div>
          <button type="button" aria-labelledby="li-3-css">List Item (ignore end)</button>
          <span id="li-3-css">List Item (ignore end)</span>
        </div>
        <forge-checkbox class="forge-list-item__end" tabindex="-1" forge-ignore aria-label="Select list item with ignored end checkbox css"></forge-checkbox>
      </li>
      <li class="forge-list-item">
        <forge-checkbox class="forge-list-item__start" aria-label="Select list item with start labeled button css"></forge-checkbox>
        List Item w/start
      </li>
      <li class="forge-list-item">
        List Item Two w/end
        <forge-checkbox class="forge-list-item__end" aria-label="Select list item with checkable end checkbox css"></forge-checkbox>
      </li>
      <li class="forge-list-item">
        <button type="button">List Item</button>
      </li>
      <li class="forge-list-item">
        Default (non-interactive) List Item
      </li>
      <li class="forge-list-item">
        <button disabled>List Item Disabled</button>
      </li>
      <li class="forge-list-item">
        <forge-icon-button class="forge-list-item__start" aria-label="Test start button css">
          <forge-icon name="forge_logo"></forge-icon>
        </forge-icon-button>
        <button type="button">List Item w/icon button</button>
        <forge-icon-button class="forge-list-item__end" aria-label="Test end button css">
          <forge-icon name="forge_logo"></forge-icon>
        </forge-icon-button>
      </li>
    </ul>
  </div>
</div>

<!-- Listbox -->
<div>
  <h3 class="forge-typography--heading2">Listbox role</h3>
  <div class="list-demo">
    <ul class="forge-list" role="listbox" tabindex="0" aria-label="Listbox label">
      <div class="forge-list-item">
        <button role="option">List Item One</button>
      </div>
      <div class="forge-list-item">
        <button role="option">List Item Two</button>
      </div>
      <div class="forge-list-item">
        <button role="option">List Item Three</button>
      </div>
    </ul>
  </div>
</div>

<!-- Menu -->
<div>
  <h3 class="forge-typography--heading2">Menu role</h3>
  <div class="list-demo">
    <menu class="forge-list" tabindex="0" aria-label="Menu label">
      <li class="forge-list-item">
        <button role="menuitem">List Item One</button>
      </li>
      <li class="forge-list-item">
        <button role="menuitem">List Item Two</button>
      </li>
      <li class="forge-list-item">
        <button role="menuitem">List Item Three</button>
      </li>
    </menu>
  </div>
</div>

<!-- List with anchor links -->
<div>
  <h3 class="forge-typography--heading2">List with anchor links</h3>
  <div class="list-demo">
    <ul class="forge-list">
      <li class="forge-list-item">
        <a href="javascript: console.log('https://www.google.com/')">Google</a>
        <forge-icon class="forge-list-item__end" name="open_in_new"></forge-icon>
      </li>
      <li class="forge-list-item">
        <a href="javascript: console.log('https://www.bing.com/')">Bing</a>
        <forge-icon class="forge-list-item__end" name="open_in_new"></forge-icon>
      </li>
      <li class="forge-list-item">
        <a href="javascript: console.log('https://www.yahoo.com/')">Yahoo</a>
        <forge-icon class="forge-list-item__end" name="open_in_new"></forge-icon>
      </li>
    </ul>
  </div>
</div>