<div>
  <!-- Non-interactive (static is deprecated) -->
  <div>
    <h3 class="forge-typography--heading2">Non-interactive (static is deprecated)</h3>
    <div class="list-demo">
      <forge-list non-interactive>
        <forge-list-item>List Item One</forge-list-item>
        <forge-list-item>List Item Two</forge-list-item>
        <forge-list-item>List Item Three</forge-list-item>
      </forge-list>
    </div>
  </div>

  <!-- Disabled -->
  <div>
    <h3 class="forge-typography--heading2">Disabled</h3>
    <div class="list-demo">
      <forge-list disabled>
        <forge-list-item>List Item One</forge-list-item>
        <forge-list-item>List Item Two</forge-list-item>
        <forge-list-item>List Item Three</forge-list-item>
      </forge-list>
    </div>
  </div>

  <!-- Single-line -->
  <div>
    <h3 class="forge-typography--heading2">Single-Line</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>List Item One</forge-list-item>
        <forge-list-item>List Item Two</forge-list-item>
        <forge-list-item>List Item Three</forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Two-Line -->
  <div>
    <h3 class="forge-typography--heading2">Two-Line</h3>
    <div class="list-demo">
      <forge-list two-line>
        <forge-list-item>
          <span>Primary Text</span>
          <span slot="secondary-text">Secondary Text</span>
        </forge-list-item>
        <forge-list-item>
          <span>Primary Text</span>
          <span slot="secondary-text">Secondary Text</span>
        </forge-list-item>
        <forge-list-item>
          <span>Primary Text</span>
          <span slot="secondary-text">Secondary Text</span>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Three-Line -->
  <div>
    <h3 class="forge-typography--heading2">Three-Line</h3>
    <div class="list-demo">
      <forge-list three-line>
        <forge-list-item>
          <span>Primary Text</span>
          <span slot="secondary-text">Secondary Text</span>
          <span slot="tertiary-text">Tertiary Text</span>
        </forge-list-item>
        <forge-list-item>
          <span>Primary Text</span>
          <span slot="secondary-text">Secondary Text</span>
          <span slot="tertiary-text">Tertiary Text</span>
        </forge-list-item>
        <forge-list-item>
          <span>Primary Text</span>
          <span slot="secondary-text">Secondary Text</span>
          <span slot="tertiary-text">Tertiary Text</span>
        </forge-list-item>
      </forge-list>
    </div>
  </div>

  <!-- Single-line long text -->
  <div>
    <h3 class="forge-typography--heading2">Single-Line (long text)</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</forge-list-item>
        <forge-list-item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</forge-list-item>
        <forge-list-item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Single-line long text w/wrap -->
  <div>
    <h3 class="forge-typography--heading2">Single-Line (long text w/wrap)</h3>
    <div class="list-demo">
      <forge-list wrap>
        <forge-list-item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</forge-list-item>
        <forge-list-item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</forge-list-item>
        <forge-list-item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Two-line long text w/wrap -->
  <div>
    <h3 class="forge-typography--heading2">Two-Line (long text w/wrap)</h3>
    <div class="list-demo">
      <forge-list two-line wrap>
        <forge-list-item>
          <span>List Item</span>
          <span slot="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
        </forge-list-item>
        <forge-list-item>
          <span>List Item</span>
          <span slot="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
        </forge-list-item>
        <forge-list-item>
          <span>List Item</span>
          <span slot="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Three-line long text w/wrap -->
  <div>
    <h3 class="forge-typography--heading2">Three-Line (long text w/wrap)</h3>
    <div class="list-demo">
      <forge-list three-line wrap>
        <forge-list-item>
          <span>List Item</span>
          <span slot="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
          <span slot="tertiary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
        </forge-list-item>
        <forge-list-item>
          <span>List Item</span>
          <span slot="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
          <span slot="tertiary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
        </forge-list-item>
        <forge-list-item>
          <span>List Item</span>
          <span slot="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
          <span slot="tertiary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Single-line (dense) -->
  <div>
    <h3 class="forge-typography--heading2">Single-Line (dense)</h3>
    <div class="list-demo">
      <forge-list dense>
        <forge-list-item>List Item One</forge-list-item>
        <forge-list-item>List Item Two</forge-list-item>
        <forge-list-item>List Item Three</forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Two-line (dense) -->
  <div>
    <h3 class="forge-typography--heading2">Two-Line (dense)</h3>
    <div class="list-demo">
      <forge-list dense two-line>
        <forge-list-item>
          <span>Primary Text</span>
          <span slot="secondary-text">Secondary Text</span>
        </forge-list-item>
        <forge-list-item>
          <span>Primary Text</span>
          <span slot="secondary-text">Secondary Text</span>
        </forge-list-item>
        <forge-list-item>
          <span>Primary Text</span>
          <span slot="secondary-text">Secondary Text</span>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Three-line (dense) -->
  <div>
    <h3 class="forge-typography--heading2">Three-Line (dense)</h3>
    <div class="list-demo">
      <forge-list dense three-line>
        <forge-list-item>
          <span>Primary Text</span>
          <span slot="secondary-text">Secondary Text</span>
          <span slot="tertiary-text">Tertiary Text</span>
        </forge-list-item>
        <forge-list-item>
          <span>Primary Text</span>
          <span slot="secondary-text">Secondary Text</span>
          <span slot="tertiary-text">Tertiary Text</span>
        </forge-list-item>
        <forge-list-item>
          <span>Primary Text</span>
          <span slot="secondary-text">Secondary Text</span>
          <span slot="tertiary-text">Tertiary Text</span>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List with Selected Item -->
  <div>
    <h3 class="forge-typography--heading2">List with Selected Item</h3>
    <div class="list-demo">
      <forge-list three-line selected-value="wifi">
        <forge-list-item value="wifi">
          <forge-icon slot="leading" name="wifi"></forge-icon>  
          Wifi
          <span slot="secondary-text">Secondary Text</span>
          <span slot="tertiary-text">Tertiary Text</span>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
        <forge-list-item value="bluetooth">
          <forge-icon slot="leading" name="bluetooth"></forge-icon>  
          Bluetooth
          <span slot="secondary-text">Secondary Text</span>
          <span slot="tertiary-text">Tertiary Text</span>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
        <forge-list-item value="date-usage">
          <forge-icon slot="leading" name="data_usage"></forge-icon>  
          Data Usage
          <span slot="secondary-text">Secondary Text</span>
          <span slot="tertiary-text">Tertiary Text</span>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Leading Icon -->
  <div>
    <h3 class="forge-typography--heading2">Leading Icon</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          <forge-icon slot="leading" name="wifi"></forge-icon>
          List Item
        </forge-list-item>
        <forge-list-item>
          <forge-icon slot="leading" name="bluetooth"></forge-icon>
          List Item
        </forge-list-item>
        <forge-list-item>
          <forge-icon slot="leading" name="data_usage"></forge-icon>
          List Item
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Trailing Icon -->
  <div>
    <h3 class="forge-typography--heading2">Trailing Icon</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          List Item
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
        <forge-list-item>
          List Item
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
        <forge-list-item>
          List Item
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Two-Line with Leading and Trailing Icon and Divider -->
  <div>
    <h3 class="forge-typography--heading2">Two-Line with Leading and Trailing Icon and Divider</h3>
    <div class="list-demo">
      <forge-list two-line>
        <forge-list-item>
          <forge-icon slot="avatar" external name="folder"></forge-icon>
          <span slot="primary-text">Dog Photos</span>
          <span slot="secondary-text">9 Jan 2018</span>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
        <forge-list-item>
          <forge-icon external name="folder" slot="avatar"></forge-icon>
          <span slot="primary-text">Cat Photos</span>
          <span slot="secondary-text">22 Dec 2017</span>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
        <forge-divider aria-hidden="true"></forge-divider>
        <forge-list-item>
          <forge-icon external name="folder" slot="avatar"></forge-icon>
          <span slot="primary-text">Potatoes</span>
          <span slot="secondary-text">30 Nov 2017</span>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
        <forge-list-item>
          <forge-icon external name="folder" slot="avatar"></forge-icon>
          <span slot="primary-text">Carrots</span>
          <span slot="secondary-text">17 Oct 2017</span>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List with Dividers and Expandable Items -->
  <div>
    <h3 class="forge-typography--heading2">List with Dividers and Expandable Items</h3>
    <div class="list-demo">
      <forge-list>
        <forge-expansion-panel>
          <forge-list-item slot="header">
            <forge-icon slot="leading" name="code"></forge-icon>
            List Item One
            <forge-open-icon slot="trailing"></forge-open-icon>
          </forge-list-item>
          <forge-list indented>
            <forge-list-item>List Item One</forge-list-item>
            <forge-list-item>List Item Two</forge-list-item>
            <forge-list-item>List Item Three</forge-list-item>
          </forge-list>
        </forge-expansion-panel>
        <forge-divider aria-hidden="true"></forge-divider>
        <forge-expansion-panel>
          <forge-list-item slot="header">
            <forge-icon slot="leading" name="face"></forge-icon>
            List Item Two
            <forge-open-icon slot="trailing"></forge-open-icon>
          </forge-list-item>
          <forge-list indented>
            <forge-list-item>List Item One</forge-list-item>
            <forge-list-item>List Item Two</forge-list-item>
            <forge-list-item>List Item Three</forge-list-item>
          </forge-list>
        </forge-expansion-panel>
        <forge-divider aria-hidden="true"></forge-divider>
        <forge-list-item>List Item Three</forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List with Leading Checkbox -->
  <div>
    <h3 class="forge-typography--heading2">List with Leading Checkbox</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          <forge-checkbox slot="leading" checked aria-label="Select list item one"></forge-checkbox>
          List Item
        </forge-list-item>
        <forge-list-item>
          <forge-checkbox slot="leading" aria-label="Select list item two"></forge-checkbox>
          List Item
        </forge-list-item>
        <forge-list-item>
          <forge-checkbox slot="leading" aria-label="Select list item three"></forge-checkbox>
          List Item
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List with Trailing Checkbox -->
  <div>
    <h3 class="forge-typography--heading2">List with Trailing Checkbox</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          List Item
          <forge-checkbox slot="trailing" checked aria-label="Select list item one"></forge-checkbox>
        </forge-list-item>
        <forge-list-item>
          List Item
          <forge-checkbox slot="trailing" aria-label="Select list item two"></forge-checkbox>
        </forge-list-item>
        <forge-list-item>
          List Item
          <forge-checkbox slot="trailing" aria-label="Select list item three"></forge-checkbox>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List with Leading Radio Buttons -->
  <div>
    <h3 class="forge-typography--heading2">List with Leading Radio Buttons</h3>
    <div class="list-demo" role="radiogroup">
      <forge-list aria-label="Choose radio option">
        <forge-list-item>
          <forge-radio slot="leading">
            <input type="radio" name="list-radio" aria-label="Select list item one" />
          </forge-radio>
          List Item
        </forge-list-item>
        <forge-list-item>
          <forge-radio slot="leading">
            <input type="radio" name="list-radio" checked aria-label="Select list item two" />
          </forge-radio>
          List Item
        </forge-list-item>
        <forge-list-item>
          <forge-radio slot="leading">
            <input type="radio" name="list-radio" aria-label="Select list item three" />
          </forge-radio>
          List Item
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List with Trailing Radio Buttons -->
  <div>
    <h3 class="forge-typography--heading2">List with Trailing Radio Buttons</h3>
    <div class="list-demo" role="radiogroup">
      <forge-list aria-label="Choose radio option">
        <forge-list-item>
          List Item
          <forge-radio slot="trailing">
            <input type="radio" name="list-radio" aria-label="Select list item one" />
          </forge-radio>
        </forge-list-item>
        <forge-list-item>
          List Item
          <forge-radio slot="trailing">
            <input type="radio" name="list-radio" checked aria-label="Select list item two" />
          </forge-radio>
        </forge-list-item>
        <forge-list-item>
          List Item
          <forge-radio slot="trailing">
            <input type="radio" name="list-radio" aria-label="Select list item three" />
          </forge-radio>
        </forge-list-item>
      </forge-list>
    </div>
  </div>

    
  <!-- List with Trailing Switch -->
  <div>
    <h3 class="forge-typography--heading2">List with Trailing Switch</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          List Item
          <forge-switch slot="trailing" aria-label="Toggle list item"></forge-switch>
        </forge-list-item>
        <forge-list-item>
          List Item
          <forge-switch slot="trailing" aria-label="Toggle list item"></forge-switch>
        </forge-list-item>
        <forge-list-item>
          List Item
          <forge-switch slot="trailing" aria-label="Toggle list item"></forge-switch>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List with multiple Checkboxes (requires use of forge-ignore attribute) -->
  <div>
    <h3 class="forge-typography--heading2">List with multiple Checkboxes (requires use of forge-ignore attribute)</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          <forge-checkbox slot="leading" checked aria-label="Select list item"></forge-checkbox>
          <forge-checkbox slot="trailing" forge-ignore aria-label="Select list item"></forge-checkbox>
          List Item
        </forge-list-item>
        <forge-list-item>
          <forge-checkbox slot="leading" aria-label="Select list item"></forge-checkbox>
          <forge-checkbox slot="trailing" forge-ignore aria-label="Select list item"></forge-checkbox>
          List Item
        </forge-list-item>
        <forge-list-item>
          <forge-checkbox slot="leading" aria-label="Select list item"></forge-checkbox>
          <forge-checkbox slot="trailing" forge-ignore aria-label="Select list item"></forge-checkbox>
          List Item
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List Inside of Drawer -->
  <div>
    <h3 class="forge-typography--heading2">List Inside of Drawer</h3>
    <div class="list-demo">
      <forge-drawer static open>
        <aside>
          <forge-list navlist>
            <forge-list-item>List Item One</forge-list-item>
            <forge-divider aria-hidden="true"></forge-divider>
            <forge-list-item selected>List Item Two</forge-list-item>
            <forge-divider aria-hidden="true"></forge-divider>
            <forge-list-item>List Item Three</forge-list-item>
          </forge-list>
        </aside>
      </forge-drawer>
    </div>
  </div>

  <!-- List with anchor links -->
  <div>
    <h3 class="forge-typography--heading2">List with anchor links</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item href="https://www.google.com/">
          Google
          <forge-icon slot="trailing" name="open_in_new"></forge-icon>
        </forge-list-item>
        <forge-list-item href="https://www.bing.com/">
          Bing
          <forge-icon slot="trailing" name="open_in_new"></forge-icon>
        </forge-list-item>
        <forge-list-item href="https://www.yahoo.com/">
          Yahoo
          <forge-icon slot="trailing" name="open_in_new"></forge-icon>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
</div>

<script type="module" src="list.ts"></script>
