<div id="list-demo-root">
  <!-- Default -->
  <div>
    <h3 class="forge-typography--heading2">Default</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>List Item One</forge-list-item>
        <forge-list-item>List Item Two</forge-list-item>
        <forge-list-item>List Item Three</forge-list-item>
      </forge-list>
    </div>
  </div>

  <!-- Disabled -->
  <div>
    <h3 class="forge-typography--heading2">Disabled</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          <button disabled type="button">List Item One</button>
        </forge-list-item>
        <forge-list-item>
          <button disabled type="button">List Item Two</button>
        </forge-list-item>
        <forge-list-item>
          <button disabled type="button">List Item Three</button>
        </forge-list-item>
      </forge-list>
    </div>
  </div>

  <!-- Single-line -->
  <div>
    <h3 class="forge-typography--heading2">Single-Line</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          <button type="button">List Item One</button>
        </forge-list-item>
        <forge-list-item>
          <button type="button">List Item Two</button>
        </forge-list-item>
        <forge-list-item>
          <button type="button">List Item Three</button>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Two-Line -->
  <div>
    <h3 class="forge-typography--heading2">Two-Line</h3>
    <div class="list-demo">
      <forge-list two-line>
        <forge-list-item>
          <button type="button" aria-describedby="two-line-desc-1">Primary Text</button>
          <span id="two-line-desc-1" slot="secondary-text">Secondary Text</span>
        </forge-list-item>
        <forge-list-item>
          <button type="button" aria-describedby="two-line-desc-2">Primary Text</button>
          <span id="two-line-desc-2" slot="secondary-text">Secondary Text</span>
        </forge-list-item>
        <forge-list-item>
          <button type="button" aria-describedby="two-line-desc-3">Primary Text</button>
          <span id="two-line-desc-3" slot="secondary-text">Secondary Text</span>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Three-Line -->
  <div>
    <h3 class="forge-typography--heading2">Three-Line</h3>
    <div class="list-demo">
      <forge-list three-line>
        <forge-list-item>
          <button type="button" aria-describedby="three-line-secondary-text-1 three-line-tertiary-text-1">Primary Text</button>
          <span id="three-line-secondary-text-1" slot="secondary-text">Secondary Text</span>
          <span id="three-line-tertiary-text-1" slot="tertiary-text">Tertiary Text</span>
        </forge-list-item>
        <forge-list-item>
          <button type="button" aria-describedby="three-line-secondary-text-2 three-line-tertiary-text-2">Primary Text</button>
          <span id="three-line-secondary-text-2" slot="secondary-text">Secondary Text</span>
          <span id="three-line-tertiary-text-2" slot="tertiary-text">Tertiary Text</span>
        </forge-list-item>
        <forge-list-item>
          <button type="button" aria-describedby="three-line-secondary-text-3 three-line-tertiary-text-3">Primary Text</button>
          <span id="three-line-secondary-text-3" slot="secondary-text">Secondary Text</span>
          <span id="three-line-tertiary-text-3" slot="tertiary-text">Tertiary Text</span>
        </forge-list-item>
      </forge-list>
    </div>
  </div>

  <!-- Single-line long text -->
  <div>
    <h3 class="forge-typography--heading2">Single-Line (long text)</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</forge-list-item>
        <forge-list-item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</forge-list-item>
        <forge-list-item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Single-line long text w/wrap -->
  <div>
    <h3 class="forge-typography--heading2">Single-Line (long text w/wrap)</h3>
    <div class="list-demo">
      <forge-list wrap>
        <forge-list-item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</forge-list-item>
        <forge-list-item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</forge-list-item>
        <forge-list-item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Two-line long text w/wrap -->
  <div>
    <h3 class="forge-typography--heading2">Two-Line (long text w/wrap)</h3>
    <div class="list-demo">
      <forge-list two-line wrap>
        <forge-list-item>
          <span>List Item</span>
          <span slot="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
        </forge-list-item>
        <forge-list-item>
          <span>List Item</span>
          <span slot="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
        </forge-list-item>
        <forge-list-item>
          <span>List Item</span>
          <span slot="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Three-line long text w/wrap -->
  <div>
    <h3 class="forge-typography--heading2">Three-Line (long text w/wrap)</h3>
    <div class="list-demo">
      <forge-list three-line wrap>
        <forge-list-item>
          <span>List Item</span>
          <span slot="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
          <span slot="tertiary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
        </forge-list-item>
        <forge-list-item>
          <span>List Item</span>
          <span slot="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
          <span slot="tertiary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
        </forge-list-item>
        <forge-list-item>
          <span>List Item</span>
          <span slot="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
          <span slot="tertiary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, libero nemo. Similique suscipit ipsam ab veritatis excepturi repellendus ipsa labore! Accusantium, sint ex. Illum architecto rerum, voluptates consectetur cum quaerat.</span>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Single-line (dense) -->
  <div>
    <h3 class="forge-typography--heading2">Single-Line (dense)</h3>
    <div class="list-demo">
      <forge-list dense>
        <forge-list-item>
          <button>List Item One</button>
        </forge-list-item>
        <forge-list-item>
          <button>List Item Two</button>
        </forge-list-item>
        <forge-list-item>
          <button>List Item Three</button>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Two-line (dense) -->
  <div>
    <h3 class="forge-typography--heading2">Two-Line (dense)</h3>
    <div class="list-demo">
      <forge-list dense two-line>
        <forge-list-item>
          <button>Primary Text</button>
          <span slot="secondary-text">Secondary Text</span>
        </forge-list-item>
        <forge-list-item>
          <button>Primary Text</button>
          <span slot="secondary-text">Secondary Text</span>
        </forge-list-item>
        <forge-list-item>
          <button>Primary Text</button>
          <span slot="secondary-text">Secondary Text</span>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Three-line (dense) -->
  <div>
    <h3 class="forge-typography--heading2">Three-Line (dense)</h3>
    <div class="list-demo">
      <forge-list dense three-line>
        <forge-list-item>
          <button>Primary Text</button>
          <span slot="secondary-text">Secondary Text</span>
          <span slot="tertiary-text">Tertiary Text</span>
        </forge-list-item>
        <forge-list-item>
          <button>Primary Text</button>
          <span slot="secondary-text">Secondary Text</span>
          <span slot="tertiary-text">Tertiary Text</span>
        </forge-list-item>
        <forge-list-item>
          <button>Primary Text</button>
          <span slot="secondary-text">Secondary Text</span>
          <span slot="tertiary-text">Tertiary Text</span>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List with Selected Item -->
  <div>
    <h3 class="forge-typography--heading2">List with Selected Item</h3>
    <div class="list-demo">
      <forge-list three-line selected-value="wifi">
        <forge-list-item value="wifi">
          <forge-icon slot="leading" name="wifi"></forge-icon>  
          <button>Wifi</button>
          <span slot="secondary-text">Secondary Text</span>
          <span slot="tertiary-text">Tertiary Text</span>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
        <forge-list-item value="bluetooth">
          <forge-icon slot="leading" name="bluetooth"></forge-icon>  
          <button>Bluetooth</button>
          <span slot="secondary-text">Secondary Text</span>
          <span slot="tertiary-text">Tertiary Text</span>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
        <forge-list-item value="date-usage">
          <forge-icon slot="leading" name="data_usage"></forge-icon>  
          <button>Data Usage</button>
          <span slot="secondary-text">Secondary Text</span>
          <span slot="tertiary-text">Tertiary Text</span>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Leading Icon -->
  <div>
    <h3 class="forge-typography--heading2">Leading Icon</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          <forge-icon slot="leading" name="wifi"></forge-icon>
          <button>List Item</button>
        </forge-list-item>
        <forge-list-item>
          <forge-icon slot="leading" name="bluetooth"></forge-icon>
          <button>List Item</button>
        </forge-list-item>
        <forge-list-item>
          <forge-icon slot="leading" name="data_usage"></forge-icon>
          <button>List Item</button>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Trailing Icon -->
  <div>
    <h3 class="forge-typography--heading2">Trailing Icon</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          <button>List Item</button>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
        <forge-list-item>
          <button>List Item</button>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
        <forge-list-item>
          <button>List Item</button>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- Two-Line with Leading and Trailing Icon and Divider -->
  <div>
    <h3 class="forge-typography--heading2">Two-Line with Leading and Trailing Icon and Divider</h3>
    <div class="list-demo" style="--forge-avatar-background: var(--forge-theme-text-medium);">
      <forge-list two-line>
        <forge-list-item>
          <forge-avatar slot="leading">
            <forge-icon  external name="folder"></forge-icon>
          </forge-avatar>
          <button type="button">Dog Photos</button>
          <span slot="secondary-text">9 Jan 2018</span>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
        <forge-list-item>
          <forge-avatar slot="leading">
            <forge-icon  external name="folder"></forge-icon>
          </forge-avatar>
          <button type="button">Cat Photos</button>
          <span slot="secondary-text">22 Dec 2017</span>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
        <forge-divider aria-hidden="true"></forge-divider>
        <forge-list-item>
          <forge-avatar slot="leading">
            <forge-icon  external name="folder"></forge-icon>
          </forge-avatar>
          <button type="button">Potatoes</button>
          <span slot="secondary-text">30 Nov 2017</span>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
        <forge-list-item>
          <forge-avatar slot="leading">
            <forge-icon  external name="folder"></forge-icon>
          </forge-avatar>
          <button type="button">Carrots</button>
          <span slot="secondary-text">17 Oct 2017</span>
          <forge-icon slot="trailing" name="info"></forge-icon>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List with Dividers and Expandable Items -->
  <div>
    <h3 class="forge-typography--heading2">List with Dividers and Expandable Items</h3>
    <div class="list-demo">
      <forge-list>
        <forge-expansion-panel>
          <forge-list-item slot="header">
            <forge-icon slot="leading" name="code"></forge-icon>
            <button type="button">List Item One</button>
            <forge-open-icon slot="trailing"></forge-open-icon>
          </forge-list-item>
          <div role="listitem">
            <forge-list indented>
              <forge-list-item>
                <button type="button">List Item One</button>
              </forge-list-item>
              <forge-list-item>
                <button type="button">List Item Two</button>
              </forge-list-item>
              <forge-list-item>
                <button type="button">List Item Three</button>
              </forge-list-item>
            </forge-list>
          </div>
        </forge-expansion-panel>
        <forge-divider role="presentation"></forge-divider>
        <forge-expansion-panel>
          <forge-list-item slot="header">
            <forge-icon slot="leading" name="face"></forge-icon>
            <button type="button">List Item Two</button>
            <forge-open-icon slot="trailing"></forge-open-icon>
          </forge-list-item>
          <div role="listitem">
            <forge-list indented>
              <forge-list-item>
                <button type="button">List Item One</button>
              </forge-list-item>
              <forge-list-item>
                <button type="button">List Item Two</button>
              </forge-list-item>
              <forge-list-item>
                <button type="button">List Item Three</button>
              </forge-list-item>
            </forge-list>
          </div>
        </forge-expansion-panel>
        <forge-divider role="presentation"></forge-divider>
        <forge-list-item>
          <button type="button">List Item Three</button>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List with Leading Checkbox -->
  <div>
    <h3 class="forge-typography--heading2">List with Leading Checkbox</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          <forge-checkbox slot="leading" checked id="leading-checkbox-1"></forge-checkbox>
          <label for="leading-checkbox-1">List Item One</label>
        </forge-list-item>
        <forge-list-item>
          <forge-checkbox slot="leading" id="leading-checkbox-2"></forge-checkbox>
          <label for="leading-checkbox-2">List Item Two</label>
        </forge-list-item>
        <forge-list-item>
          <forge-checkbox slot="leading" id="leading-checkbox-3"></forge-checkbox>
          <label for="leading-checkbox-3">List Item Three</label>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List with Trailing Checkbox -->
  <div>
    <h3 class="forge-typography--heading2">List with Trailing Checkbox</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          <label for="trailing-checkbox-3">List Item</label>
          <forge-checkbox id="trailing-checkbox-3" slot="trailing" checked aria-label="Select list item one with trailing"></forge-checkbox>
        </forge-list-item>
        <forge-list-item>
          <label for="trailing-checkbox-4">List Item</label>
          <forge-checkbox id="trailing-checkbox-4" slot="trailing" aria-label="Select list item two with trailing"></forge-checkbox>
        </forge-list-item>
        <forge-list-item>
          <label for="trailing-checkbox-5">List Item</label>
          <forge-checkbox id="trailing-checkbox-5" slot="trailing" aria-label="Select list item three with trailing"></forge-checkbox>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List with Leading Radio Buttons -->
  <div>
    <h3 class="forge-typography--heading2">List with Leading Radio Buttons</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          <forge-radio id="leading-radio-1" slot="leading" name="list-radio-leading" aria-label="Select list item one with leading radio"></forge-radio>
          <label for="leading-radio-1">List Item</label>
        </forge-list-item>
        <forge-list-item>
          <forge-radio id="leading-radio-2" slot="leading" name="list-radio-leading" checked aria-label="Select list item two with leading radio"></forge-radio>
          <label for="leading-radio-2">List Item</label>
        </forge-list-item>
        <forge-list-item>
          <forge-radio id="leading-radio-3" slot="leading" name="list-radio-leading" aria-label="Select list item three with leading radio"></forge-radio>
          <label for="leading-radio-3">List Item</label>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List with Trailing Radio Buttons -->
  <div>
    <h3 class="forge-typography--heading2">List with Trailing Radio Buttons</h3>
    <div class="list-demo">
      <forge-list aria-label="Choose radio option">
        <forge-list-item>
          <label for="trailing-radio-1">List Item</label>
          <forge-radio id="trailing-radio-1" slot="trailing" name="list-radio-trailing" aria-label="Select list item one with trailing radio"></forge-radio>
        </forge-list-item>
        <forge-list-item>
          <label for="trailing-radio-2">List Item</label>
          <forge-radio id="trailing-radio-2" slot="trailing" name="list-radio-trailing" checked aria-label="Select list item two with trailing radio"></forge-radio>
        </forge-list-item>
        <forge-list-item>
          <label for="trailing-radio-3">List Item</label>
          <forge-radio id="trailing-radio-3" slot="trailing" name="list-radio-trailing" aria-label="Select list item three with trailing radio"></forge-radio>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
    
  <!-- List with Trailing Switch -->
  <div>
    <h3 class="forge-typography--heading2">List with Trailing Switch</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          <label for="trailing-switch-1">List Item</label>
          <forge-switch id="trailing-switch-1" slot="trailing" aria-label="Toggle list item"></forge-switch>
        </forge-list-item>
        <forge-list-item>
          <label for="trailing-switch-2">List Item</label>
          <forge-switch id="trailing-switch-2" slot="trailing" checked aria-label="Toggle list item"></forge-switch>
        </forge-list-item>
        <forge-list-item>
          <label for="trailing-switch-3">List Item</label>
          <forge-switch id="trailing-switch-3" slot="trailing" aria-label="Toggle list item"></forge-switch>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List with multiple Checkboxes (requires use of forge-ignore attribute) -->
  <div>
    <h3 class="forge-typography--heading2">List with multiple Checkboxes (requires use of forge-ignore attribute)</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          <forge-checkbox tabindex="-1" slot="leading" checked aria-label="Select list item one with ignored trailing checkbox"></forge-checkbox>
          <button>List Item</button>
          <forge-checkbox tabindex="-1" slot="trailing" forge-ignore aria-label="Select list item with trailing checkbox and ignored leading checkbox"></forge-checkbox>
        </forge-list-item>
        <forge-list-item>
          <forge-checkbox tabindex="-1" slot="leading" aria-label="Select list item with leading checkbox and ignored trailing checkbox"></forge-checkbox>
          <button>List Item</button>
          <forge-checkbox tabindex="-1" slot="trailing" forge-ignore aria-label="Select list item two with ignored trailing checkbox"></forge-checkbox>
        </forge-list-item>
        <forge-list-item>
          <forge-checkbox tabindex="-1" slot="leading" aria-label="Select list item"></forge-checkbox>
          <button>List Item</button>
          <forge-checkbox tabindex="-1" slot="trailing" forge-ignore aria-label="Select list item three with ignored trailing checkbox"></forge-checkbox>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
  
  <!-- List Inside of Drawer -->
  <div>
    <h3 class="forge-typography--heading2">List Inside of Drawer</h3>
    <div class="list-demo">
      <forge-drawer static open>
        <aside>
          <forge-list navlist>
            <forge-list-item>
              <button type="button">Home</button>
            </forge-list-item>
            <forge-divider role="presentation"></forge-divider>
            <forge-list-item selected>
              <button type="button">About</button>
            </forge-list-item>
            <forge-divider role="presentation"></forge-divider>
            <forge-list-item>
              <button type="button">Contact</button>
            </forge-list-item>
          </forge-list>
        </aside>
      </forge-drawer>
    </div>
  </div>

  <!-- With nested buttons -->
  <div>
    <h3 class="forge-typography--heading2">With nested buttons</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          <button type="button">List Item (ignore leading)</button>
          <forge-checkbox slot="leading" tabindex="-1" forge-ignore aria-label="Select list item with ignored leading checkbox"></forge-checkbox>
        </forge-list-item>
        <forge-list-item>
          List Item w/switch
          <forge-switch slot="trailing" aria-label="Toggle list item with trailing switch"></forge-switch>
        </forge-list-item>

        <forge-list-item>
          <button>List Item ignore switch</button>
          <forge-switch slot="trailing" tabindex="-1" aria-label="Toggle list item with ignored trailing switch" forge-ignore></forge-switch>
        </forge-list-item>

        <forge-list-item>
          <button type="button" aria-labelledby="li-3"></button>
          <span id="li-3">List Item (ignore trailing)</span>
          <forge-checkbox slot="trailing" tabindex="-1" forge-ignore aria-label="Select list item with ignored trailing checkbox"></forge-checkbox>
        </forge-list-item>

        <forge-list-item>
          List Item w/leading
          <forge-checkbox slot="leading" aria-label="Select list item with leading labeled button"></forge-checkbox>
        </forge-list-item>

        <forge-list-item>
          List Item Two w/trailing
          <forge-checkbox slot="trailing" aria-label="Select list item with checkable trailing checkbox"></forge-checkbox>
        </forge-list-item>

        <forge-list-item>
          <button type="button">List Item</button>
        </forge-list-item>

        <forge-list-item>Default (non-interactive) List Item</forge-list-item>
        
        <forge-list-item>
          <button disabled>List Item Disabled</button>
        </forge-list-item>

        <forge-list-item>
          <forge-icon-button slot="leading" aria-label="Test leading button">
            <forge-icon name="forge_logo"></forge-icon>
          </forge-icon-button>

          <button type="button">List Item w/icon button</button>
          
          <forge-icon-button slot="trailing" aria-label="Test trailing button">
            <forge-icon name="forge_logo"></forge-icon>
          </forge-icon-button>
        </forge-list-item>
      </forge-list>
    </div>
  </div>

  <!-- Listbox -->
  <div>
    <h3 class="forge-typography--heading2">Listbox role</h3>
    <div class="list-demo">
    <forge-list role="listbox" tabindex="0" aria-label="Listbox label">
      <forge-list-item role="presentation">
        <button role="option">List Item One</button>
      </forge-list-item>
      <forge-list-item role="presentation">
        <button role="option">List Item Two</button>
      </forge-list-item>
      <forge-list-item role="presentation">
        <button role="option">List Item Three</button>
      </forge-list-item>
    </forge-list>
  </div>

  <!-- Menu -->
  <div>
    <h3 class="forge-typography--heading2">Menu role</h3>
    <div class="list-demo">
    <forge-list role="menu" tabindex="0" aria-label="Menu label">
      <forge-list-item role="presentation">
        <button role="menuitem">List Item One</button>
      </forge-list-item>
      <forge-list-item role="presentation">
        <button role="menuitem">List Item Two</button>
      </forge-list-item>
      <forge-list-item role="presentation">
        <button role="menuitem">List Item Three</button>
      </forge-list-item>
    </forge-list>
  </div>

  <!-- List with anchor links -->
  <div>
    <h3 class="forge-typography--heading2">List with anchor links</h3>
    <div class="list-demo">
      <forge-list>
        <forge-list-item>
          <a href="javascript: console.log('https://www.google.com/');">Google</a>
          <forge-icon slot="trailing"  name="open_in_new"></forge-icon>
        </forge-list-item>
        <forge-list-item>
          <a href="javascript: console.log('https://www.bing.com/');">Bing</a>
          <forge-icon slot="trailing"  name="open_in_new"></forge-icon>
        </forge-list-item>
        <forge-list-item>
          <a href="javascript: console.log('https://www.yahoo.com/');">Yahoo</a>
          <forge-icon slot="trailing" name="open_in_new"></forge-icon>
        </forge-list-item>
      </forge-list>
    </div>
  </div>
</div>

<script type="module" src="list.ts"></script>
