<div id="list-demo-root">
  <div>
    <h3 class="forge-typography--heading4">Component-based List</h3>
    <div>
      <%- include('./_list.component.ejs') %>
    </div>
  </div>
  <div>
    <h3 class="forge-typography--heading4">CSS-based List</h3>
    <div>
      <%- include('./_list.css.ejs') %>
    </div>
  </div>
</div>

<script type="module" src="list.ts"></script>
