<!--
  @block List — Interactive
  @type component
  @description Interactive usage example for the forge-list component.
  @tags list, interactive, storybook, component-example
-->
<forge-list>
  <forge-list-item value="list-item-1">
    <button type="button">List item 1</button>
  </forge-list-item>
  <forge-list-item value="list-item-2">
    <button type="button">List item 2</button>
  </forge-list-item>
  <forge-list-item value="list-item-3">
    <button type="button">List item 3</button>
  </forge-list-item>
  <forge-list-item value="list-item-4">
    <button type="button">List item 4</button>
  </forge-list-item>
</forge-list>
