<!--
  @block Select — Label Inline
  @type component
  @description Label Inline usage example for the forge-select component.
  @tags select, label-inline, storybook, component-example
-->
<forge-select label="Label" aria-label="Label" label-position="inline-start" label-alignment="default" variant="outlined" theme="default" shape="default" density="default" placeholder support-text-inset select-all-label="Select all" aria-haspopup="true" aria-controls="forge-aria-controls-placeholder" aria-required="false">
  <forge-option value="1">Option 1</forge-option>
  <forge-option value="2">Option 2</forge-option>
  <forge-option value="3">Option 3</forge-option>
</forge-select>
