<div class="vert">
  <forge-inline-message>
    <forge-icon slot="icon" name="info"></forge-icon>
    <div slot="title">Default (info theme)</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum illo quam aperiam hic quis perspiciatis ea laborum quia suscipit corporis cumque, accusantium, atque odit odio excepturi amet? Commodi, perferendis.</div>
  </forge-inline-message>

  <forge-inline-message>
    <div slot="title">No icon</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum illo quam aperiam hic quis perspiciatis ea laborum quia suscipit corporis cumque, accusantium, atque odit odio excepturi amet? Commodi, perferendis.</div>
  </forge-inline-message>

  <forge-inline-message>
    <forge-icon slot="icon" name="info"></forge-icon>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum illo quam aperiam hic quis perspiciatis ea laborum quia suscipit corporis cumque, accusantium, atque odit odio excepturi amet? Commodi, perferendis.</div>
  </forge-inline-message>

  <forge-inline-message>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum illo quam aperiam hic quis perspiciatis ea laborum quia suscipit corporis cumque, accusantium, atque odit odio excepturi amet? Commodi, perferendis.</div>
  </forge-inline-message>
</div>

<script type="module" src="inline-message.ts"></script>
