<div class="vert">
  <forge-inline-message>
    <forge-icon slot="icon" name="notifications"></forge-icon>
    <div slot="title">Info-primary theme (default)</div>
    <div>Irure quis enim labore qui deserunt ea fugiat. Mollit id in est sit in mollit.</div>
  </forge-inline-message>

  <forge-inline-message>
    <div slot="title">No icon</div>
    <div>Irure quis enim labore qui deserunt ea fugiat.</div>
  </forge-inline-message>

  <forge-inline-message>
    <forge-icon slot="icon" name="notifications"></forge-icon>
    <div>No title. Mollit id in est sit in mollit.</div>
  </forge-inline-message>

  <forge-inline-message>
    <div>No title. No icon. Mollit id in est sit in mollit.</div>
  </forge-inline-message>

  <forge-inline-message theme="info-secondary">
    <forge-icon slot="icon" name="info"></forge-icon>
    <div slot="title">Info-secondary theme</div>
    <div>
      Irure quis enim labore qui deserunt ea fugiat. Mollit id in est sit in mollit.
      Irure quis enim labore qui deserunt ea fugiat. Mollit id in est sit in mollit.
    </div>
  </forge-inline-message>

  <forge-inline-message theme="danger">
    <div slot="title">Danger theme</div>
    <forge-icon slot="icon" name="cancel"></forge-icon>
    <div>Irure quis enim labore qui deserunt ea fugiat. Mollit id in est sit in mollit.</div>
  </forge-inline-message>

  <forge-inline-message theme="warning">
    <forge-icon slot="icon" name="warning"></forge-icon>
    <div slot="title">Warning theme</div>
    <div>Irure quis enim labore qui deserunt ea fugiat. Mollit id in est sit in mollit.</div>
  </forge-inline-message>

  <forge-inline-message theme="success">
    <forge-icon slot="icon" name="check"></forge-icon>
    <div slot="title">Success theme</div>
    <div>
      Irure quis enim labore qui deserunt ea fugiat. Mollit id in est sit in mollit.
      Irure quis enim labore qui deserunt ea fugiat. Mollit id in est sit in mollit.
      Irure quis enim labore qui deserunt ea fugiat. Mollit id in est sit in mollit.
      Irure quis enim labore qui deserunt ea fugiat. Mollit id in est sit in mollit.
    </div>
  </forge-inline-message>
</div>

<script type="module" src="inline-message.ts"></script>
