<forge-button type="raised">
  <button type="button">Hover me</button>
  <forge-tooltip id="tooltip">✨ Tooltips are cool ✨</forge-tooltip>
</forge-button>

<script type="module" src="tooltip.ts"></script>
