<!--
  @block Stack — Demo
  @type component
  @description Demo usage example for the forge-stack component.
  @tags stack, demo, storybook, component-example
-->
<div class="stack-container">
  <forge-stack gap="16">
    <div class="border-thick border-dotted border-outline-medium bg-surface-container-low rounded-lg h-[25px] w-[25px]">
    </div>
    <div class="border-thick border-dotted border-outline-medium bg-surface-container-low rounded-lg h-[75px] w-[75px]">
    </div>
    <div class="border-thick border-dotted border-outline-medium bg-surface-container-low rounded-lg h-[100px] w-[100px]">
    </div>
    <div class="border-thick border-dotted border-outline-medium bg-surface-container-low rounded-lg h-[125px] w-[125px]">
    </div>
  </forge-stack>
</div>
