#page-app-bar {
  --forge-app-bar-background: var(--forge-theme-secondary);
  --forge-app-bar-foreground: var(--forge-theme-on-secondary);

  a[slot=title] {
    text-decoration: none;
    color: inherit;
  }
}

