.options-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

forge-drawer:has(.options-container) {
  --forge-drawer-width: 300px;
}

forge-switch {
  &::part(label) {
    padding-left: 0;
    margin-left: initial;
    width: 100%;
  }

  &::part(root) {
    justify-content: space-between;
  }
}

.radio-option-container {
  display: grid;

  &--vertical {
    [role=radiogroup] {
      display: grid;
    }
  }
}
