.options-container {
  padding: 16px;
  display: flex;
  flex-direction: column;

  forge-drawer:has(.options-container) {
    --forge-drawer-width: 300px;
  }

  forge-text-field,
  forge-select {
    &:not(:first-child) {
      margin-block-start: 8px;
    }

    &:not(:last-child) {
      margin-block-end: 8px;
    }
  }
  
  forge-switch {
    &::part(label) {
      padding-left: 0;
      margin-left: initial;
      width: 100%;
    }
  
    &::part(root) {
      justify-content: space-between;
    }
  }
  
  .radio-option-container {
    display: grid;
  
    &--vertical {
      [role=radiogroup] {
        display: grid;
      }
    }
  }
  
  .option-button {
    button {
      width: 100%;
    }
  }
}

