<div class="flex">
  <div class="vert">
    <forge-button>
      <button type="button">Default button</button>
    </forge-button>
    <forge-button type="raised">
      <button type="button">Raised button</button>
    </forge-button>
    <forge-button type="unelevated">
      <button type="button">Unelevated button</button>
    </forge-button>
    <forge-button type="outlined">
      <button type="button">Outlined button</button>
    </forge-button>
    <forge-button type="outlined">
      <button type="button">
        <forge-icon name="favorite"></forge-icon>
        <span>w/Leading Icon</span>
      </button>
    </forge-button>
    <forge-button type="outlined">
      <button type="button">
        <span>w/Trailing icon</span>
        <forge-icon name="favorite"></forge-icon>
      </button>
    </forge-button>
  </div>

  <div class="vert">
    <forge-next-button>Default button</forge-next-button>
    <forge-next-button variant="raised">Raised button</forge-next-button>
    <forge-next-button variant="flat">Flat button</forge-next-button>
    <forge-next-button variant="outlined">Outlined button</forge-next-button>
    <forge-next-button variant="outlined">
      <forge-icon slot="start" name="favorite"></forge-icon>
      w/Leading Icon
    </forge-next-button>
    <forge-next-button variant="outlined">
      w/Trailing icon
      <forge-icon slot="end" name="favorite"></forge-icon>
    </forge-next-button>
  </div>
</div>

<script type="module" src="button.ts"></script>
