<div class="vert">
  <forge-button>
    <button type="button">Default button</button>
  </forge-button>
  <forge-button type="raised">
    <button type="button">Raised button</button>
  </forge-button>
  <forge-button type="unelevated">
    <button type="button">Unelevated button</button>
  </forge-button>
  <forge-button type="outlined">
    <button type="button">Outlined button</button>
  </forge-button>
  <forge-button type="outlined">
    <button type="button">
      <forge-icon name="favorite"></forge-icon>
      <span>w/Leading Icon</span>
    </button>
  </forge-button>
  <forge-button type="outlined">
    <button type="button">
      <span>w/Trailing icon</span>
      <forge-icon name="favorite"></forge-icon>
    </button>
  </forge-button>
  <forge-button type="outlined">
    <a href="javascript: alert('Anchor link button works!');">
      <span>w/anchor tag</span>
      <forge-icon name="open_in_new"></forge-icon>
    </a>
  </forge-button>
</div>

<script type="module" src="button.ts"></script>
