<div class="button-demo">
  <section>
    <h3 class="forge-typography--heading2">Variants</h3>
    <div>
      <forge-button>Text button</forge-button>
      <forge-button variant="outlined">Outlined button</forge-button>
      <forge-button variant="tonal">Tonal button</forge-button>
      <forge-button variant="filled">Filled button</forge-button>
      <forge-button variant="raised">Raised button</forge-button>
      <forge-button variant="link">Link button</forge-button>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">CSS only</h3>
    <div>
      <button class="forge-button">Text button</button>
      <button class="forge-button forge-button--outlined">
        <forge-icon name="favorite"></forge-icon>
        Outlined button
      </button>
      <button class="forge-button forge-button--tonal">
        Tonal button
        <forge-icon name="favorite"></forge-icon>
      </button>
      <button class="forge-button forge-button--filled">Filled button</button>
      <button class="forge-button forge-button--raised">Raised button</button>
      <button class="forge-button forge-button--link">Link button</button>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Slots</h3>
    <div>
      <forge-button variant="outlined">
        <span>w/&lt;span&gt; text container</span>
      </forge-button>

      <forge-button variant="outlined">
        <forge-icon slot="start" name="favorite"></forge-icon>
        w/Start icon
      </forge-button>

      <forge-button variant="outlined">
        w/End icon
        <forge-icon slot="end" name="favorite"></forge-icon>
      </forge-button>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Anchor</h3>
    <div>
      <forge-button>
        <a href="javascript: console.log('Anchor button clicked');">
          Anchor button
          <forge-icon name="open_in_new"></forge-icon>
        </a>
      </forge-button>
      <forge-button variant="outlined">
        <a href="javascript: console.log('Anchor button clicked');">
          Anchor button
          <forge-icon name="open_in_new"></forge-icon>
        </a>
      </forge-button>
      <forge-button variant="tonal">
        <a href="javascript: console.log('Anchor button clicked');">
          Anchor button
          <forge-icon name="open_in_new"></forge-icon>
        </a>
      </forge-button>
      <forge-button variant="filled">
        <a href="javascript: console.log('Anchor button clicked');">
          Anchor button
          <forge-icon name="open_in_new"></forge-icon>
        </a>
      </forge-button>
      <forge-button variant="raised">
        <a href="javascript: console.log('Anchor button clicked');">
          Anchor button
          <forge-icon name="open_in_new"></forge-icon>
        </a>
      </forge-button>
      <forge-button variant="link">
        <a href="javascript: console.log('Anchor button clicked');">
          Anchor button
          <forge-icon name="open_in_new"></forge-icon>
        </a>
      </forge-button>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Custom</h3>
    <forge-button class="custom-button">Custom button</forge-button>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Label aware</h3>
    <forge-label class="flex">
      <forge-button variant="outlined">
        <forge-icon name="favorite"></forge-icon>
      </forge-button>
      <span>Label text for the button</span>
    </forge-label>
  </section>

  <section>
    <h3 class="forge-typography--heading2">w/Circular progress</h3>
    <div class="flex">
      <forge-button class="auto-width">
        <span>Saving...</span>
        <forge-circular-progress aria-label="Saving variant text" slot="end"></forge-circular-progress>
      </forge-button>

      <forge-button class="auto-width" variant="outlined">
        <span>Saving...</span>
        <forge-circular-progress aria-label="Saving variant outlined" slot="end"></forge-circular-progress>
      </forge-button>

      <forge-button class="auto-width" variant="tonal">
        <span>Saving...</span>
        <forge-circular-progress aria-label="Saving variant tonal" slot="end"></forge-circular-progress>
      </forge-button>

      <forge-button class="auto-width" variant="filled">
        <span>Saving...</span>
        <forge-circular-progress aria-label="Saving variant filled" slot="end"></forge-circular-progress>
      </forge-button>

      <forge-button class="auto-width" variant="raised">
        <span>Saving...</span>
        <forge-circular-progress aria-label="Saving variant raised" slot="end"></forge-circular-progress>
      </forge-button>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Form example</h3>
    <form class="test-form" id="test-btn-form" action="javascript: alert('<form> submit action');">
      <forge-text-field style="width: 516px">
        <input type="text" placeholder="Text input" aria-label="Test form input" autocomplete="off" />
      </forge-text-field>
      <forge-text-field style="width: 516px;">
        <input type="text" placeholder="Text input 2" aria-label="Test form input 2" autocomplete="off" />
      </forge-text-field>
      <div>
        <forge-button
          id="submit-btn"
          variant="outlined"
          type="submit"
          name="submit-btn"
          formaction="javascript: alert('<forge-button> submit override action');"
          >Submit</forge-button
        >
        <forge-button id="reset-btn" variant="outlined" type="reset">Reset</forge-button>
      </div>
    </form>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Popover target</h3>
    <forge-button id="popover-button" aria-expanded="false" popovertarget="my-popover" popover-icon variant="raised">Show popover</forge-button>
    <div popover id="my-popover">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam blanditiis cum quod, velit, architecto consequatur commodi sint odit non deleniti qui?
      Accusamus expedita, exercitationem laborum architecto facere quasi rem! Voluptate!
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Dialog</h3>
    <forge-button variant="raised" id="show-dialog-btn">Show dialog</forge-button>
    <dialog id="test-dialog">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus architecto sunt esse voluptatum possimus magnam omnis ipsum commodi neque maxime ab
        facere reiciendis, ex distinctio soluta qui maiores et aliquam.
      </p>
      <form method="dialog">
        <forge-button type="submit" variant="raised">Close</forge-button>
      </form>
    </dialog>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Deprecated (legacy) button</h3>
    <div class="flex flex--wrap">
      <forge-deprecated-button>
        <button type="button">Default button</button>
      </forge-deprecated-button>
      <forge-deprecated-button type="outlined">
        <button type="button">Outlined button</button>
      </forge-deprecated-button>
      <forge-deprecated-button type="unelevated">
        <button type="button">Unelevated button</button>
      </forge-deprecated-button>
      <forge-deprecated-button type="raised">
        <button type="button">Raised button</button>
      </forge-deprecated-button>
      <forge-deprecated-button type="outlined">
        <button type="button">
          <forge-icon name="favorite"></forge-icon>
          <span>w/Leading Icon</span>
        </button>
      </forge-deprecated-button>
      <forge-deprecated-button type="outlined">
        <button type="button">
          <span>w/Trailing icon</span>
          <forge-icon name="favorite"></forge-icon>
        </button>
      </forge-deprecated-button>
      <forge-deprecated-button type="outlined">
        <a href="javascript: alert('Anchor link button works!');">
          <span>w/anchor tag</span>
          <forge-icon name="open_in_new"></forge-icon>
        </a>
      </forge-deprecated-button>
    </div>
  </section>
</div>

<script type="module" src="button.ts"></script>
