
.demo-card {
  max-width: 400px;

  .forge-card-header-container {
    display: flex;
    justify-content: space-between;
  }

  .forge-card-footer {
    display: flex;
    justify-content: flex-end;
  }
}


.scaffold-card {
  width: 400px;
  --forge-card-padding: 0;
  --forge-card-height: 300px
}

.card-content {
  padding: 16px;
  margin: 0;
}
  