<div class="forge-typography--heading2" style="display: flex; justify-content: space-between; margin-block-end: 4px;">
  <label for="meter">Capacity</label>
  <span id="value">50%</span>
</div>
<forge-meter id="meter" value="50" max="100"></forge-meter>

<script type="module" src="meter.ts"></script>
