<div class="forge-typography--heading2" style="display: flex; justify-content: space-between; margin-block-end: 4px;">
</div>
<forge-meter id="meter" value="50" max="100">
  <label for="meter">Capacity</label>
  <span slot="value" id="value">50%</span>
</forge-meter>

<script type="module" src="meter.ts"></script>
