<forge-text-field id="text-field">
  <!-- Leading -->
  <forge-icon slot="leading" name="person"></forge-icon>

  <!-- Label and input -->
  <label for="text-field-input">First name</label>
  <input type="text" id="text-field-input" />

  <!-- Trailing-->
  <forge-icon slot="trailing" name="info_outline"></forge-icon>

  <!-- Addon-end-->
  <forge-icon-button slot="addon-end" dense density-level="3">
    <button type="button">
      <forge-icon name="more_vert"></forge-icon>
    </button>
  </forge-icon-button>

  <!-- Helper text -->
  <span slot="helper-text">Please enter your first name</span>
</forge-text-field>

<script type="module" src="text-field.ts"></script>
