.forge-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.placeholder-container {
    border: 1px dashed #e0e0e0;
    padding: 8px;
    margin: 8px;
}
