<!--
  @block Structured Card — Scrollable Body Content
  @type component
  @description Scrollable Body Content usage example for the forge-structured-card component.
  @tags structured-card, scrollable-body-content, storybook, component-example
-->
<div class="w-[360px]">
  <forge-structured-card style="--forge-structured-card-body-height: 200px">
    <span slot="title">Project Details</span>
    <forge-icon-button aria-label="More actions" slot="after-header-actions">
      <forge-icon name="more_vert"></forge-icon>
    </forge-icon-button>
    <div slot="body">
      <p class="m-0">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged.
      </p>
      <p class="m-0">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged.
      </p>
    </div>
    <forge-button variant="filled" slot="footer-primary-action">
      <forge-icon slot="start" name="save"></forge-icon>
      Save
    </forge-button>
  </forge-structured-card>
</div>
