<!--
  @block Content Scaffold — With Card
  @type component
  @description With Card usage example for the forge-content-scaffold component.
  @tags content-scaffold, with-card, storybook, component-example
-->
<div class="w-[600px] mx-auto p-medium">
  <forge-card style="--forge-card-padding: 0">
    <forge-content-scaffold>
      <h2 slot="header-start" class="text-heading4">Project Details</h2>
      <forge-icon-button aria-label="More actions" slot="header-end">
        <forge-icon name="more_vert"></forge-icon>
      </forge-icon-button>
      <div slot="body">
        <p class="m-0">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
          1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
          the leap into electronic typesetting, remaining essentially unchanged.
        </p>
      </div>
      <forge-button variant="filled" slot="footer-end">
        <forge-icon slot="start" name="edit"></forge-icon>
        Edit Project
      </forge-button>
    </forge-content-scaffold>
  </forge-card>
</div>
