<div class="clipping-container">
  <div class="scroll-container">
    <forge-button variant="raised" id="popover-trigger">Show popover</forge-button>

    <forge-popover id="my-popover">
      <forge-scaffold style="width: 300px;">
        <div slot="body" id="my-popover" role="dialog" class="popover-content" style="padding: 16px;">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus sit in placeat aliquam expedita quis, totam impedit atque, delectus quaerat dolorum labore, eaque cumque nobis a porro quia iste ex?</p>

          <forge-button variant="raised" id="my-child-btn">Show child popover</forge-button>
          <forge-popover placement="right" arrow>
            <p style="padding: 50px;">Nested popover test</p>
          </forge-popover>
        </div>
        <forge-toolbar slot="footer" no-border>
          <forge-button slot="end" autofocus id="close-button">Close</forge-button>
        </forge-toolbar>
      </forge-scaffold>
    </forge-popover>
  </div>
</div>

<script type="module" src="popover.ts"></script>
