<!--
  @block Tabs — Scrolling
  @type component
  @description Scrolling usage example for the forge-tabs component.
  @tags tabs, scrolling, storybook, component-example
-->
<forge-tab-bar data-aria-label="Demo tabs" active-tab="0" scroll-buttons="true" style="max-width:500px;">
  <forge-tab selected>
    Tab 1
  </forge-tab>
  <forge-tab>
    Tab 2
  </forge-tab>
  <forge-tab>
    Tab 3
  </forge-tab>
  <forge-tab>
    Tab 4
  </forge-tab>
  <forge-tab>
    Tab 5
  </forge-tab>
  <forge-tab>
    Tab 6
  </forge-tab>
  <forge-tab>
    Tab 7
  </forge-tab>
  <forge-tab>
    Tab 8
  </forge-tab>
  <forge-tab>
    Tab 9
  </forge-tab>
  <forge-tab>
    Tab 10
  </forge-tab>
  <forge-tab>
    Tab 11
  </forge-tab>
  <forge-tab>
    Tab 12
  </forge-tab>
  <forge-tab>
    Tab 13
  </forge-tab>
  <forge-tab>
    Tab 14
  </forge-tab>
  <forge-tab>
    Tab 15
  </forge-tab>
  <forge-tab>
    Tab 16
  </forge-tab>
  <forge-tab>
    Tab 17
  </forge-tab>
  <forge-tab>
    Tab 18
  </forge-tab>
  <forge-tab>
    Tab 19
  </forge-tab>
  <forge-tab>
    Tab 20
  </forge-tab>
</forge-tab-bar>
