<!--
  @block App Bar — Custom Theme
  @type component
  @description Custom Theme usage example for the forge-app-bar component.
  @tags app-bar, custom-theme, storybook, component-example
-->
<forge-app-bar class="[--forge-app-bar-background:salmon] [--forge-app-bar-foreground:black]" title-text="Tyler Forge™" theme-mode="scoped" elevation="raised">
  <forge-icon slot="logo" name="forge_logo">
  </forge-icon>
  <forge-button slot="end" theme="app-bar" class="me-xsmall">Sign In</forge-button>
</forge-app-bar>
