<!--
  @block Expansion Panel — Named Group
  @type component
  @description Named Group usage example for the forge-expansion-panel component.
  @tags expansion-panel, named-group, storybook, component-example
-->
<forge-expansion-panel name="panel-group" orientation="vertical" animation-type="default" trigger open-icon>
  <button slot="header">Panel 1</button>
  <p id="forge-expansion-panel-content-6mo6i">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus ut illum corporis incidunt quod temporibus consequatur rem! Libero rem nulla
    quod corporis similique consequuntur facere laborum veniam error eius.
  </p>
</forge-expansion-panel>
<forge-expansion-panel name="panel-group" orientation="vertical" animation-type="default" trigger open-icon>
  <button slot="header">Panel 2</button>
  <p id="forge-expansion-panel-content-vyl5g">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus ut illum corporis incidunt quod temporibus consequatur rem! Libero rem nulla
    quod corporis similique consequuntur facere laborum veniam error eius.
  </p>
</forge-expansion-panel>
<forge-expansion-panel name="panel-group" orientation="vertical" animation-type="default" trigger open-icon>
  <button slot="header">Panel 3</button>
  <p id="forge-expansion-panel-content-1395g">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus ut illum corporis incidunt quod temporibus consequatur rem! Libero rem nulla
    quod corporis similique consequuntur facere laborum veniam error eius.
  </p>
</forge-expansion-panel>
