<div>
  <div class="forge-typography--heading2">Heading</div>
  <!-- <div class="forge-typography--subheading1">Subtitle</div> -->
  <div class="forge-typography--subheading1">Subtitle</div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio vero dolore aspernatur veritatis cupiditate accusantium totam odit nihil officiis perspiciatis molestiae, cum sed ad quae dolorum. Veritatis omnis nobis repellat?
  </p>
</div>

<div class="section">
  <div class="forge-typography--display1">Display 1</div>
  <div class="forge-typography--display2">Display 2</div>
  <div class="forge-typography--display3">Display 3</div>
  <div class="forge-typography--display4">Display 4</div>
  <div class="forge-typography--display5">Display 5</div>
  <div class="forge-typography--display6">Display 6</div>
  <div class="forge-typography--display7">Display 7</div>
  <div class="forge-typography--display8">Display 8</div>
</div>

<div class="section">
  <div class="forge-typography--heading1">Heading 1</div>
  <div class="forge-typography--heading2">Heading 2</div>
  <div class="forge-typography--heading3">Heading 3</div>
  <div class="forge-typography--heading4">Heading 4</div>
  <div class="forge-typography--heading5">Heading 5</div>
  <div class="forge-typography--heading6">Heading 6</div>
  <div class="forge-typography--heading7">Heading 7</div>
  <div class="forge-typography--heading8">Heading 8</div>
</div>

<div class="section">
  <div class="forge-typography--subheading1">Subheading 1</div>
  <div class="forge-typography--subheading2">Subheading 2</div>
  <div class="forge-typography--subheading3">Subheading 3</div>
  <div class="forge-typography--subheading4">Subheading 4</div>
  <div class="forge-typography--subheading5">Subheading 5</div>
  <div class="forge-typography--subheading6">Subheading 6</div>
  <div class="forge-typography--subheading7">Subheading 7</div>
  <div class="forge-typography--subheading8">Subheading 8</div>
</div>

<div class="section">
  <div class="forge-typography--body1">Body 1</div>
  <div class="forge-typography--body2">Body 2</div>
  <div class="forge-typography--body3">Body 3</div>
  <div class="forge-typography--body4">Body 4</div>
</div>

<div class="section">
  <div class="forge-typography--label">Label</div>
  <div class="forge-typography--button">Button</div>
  <div class="forge-typography--overline">Overline</div>
</div>

<script type="module" src="typography.ts"></script>
