<div class="section">
  <div class="forge-typography--heading1">Heading 1</div>
  <div class="forge-typography--heading2">Heading 2</div>
  <div class="forge-typography--heading3">Heading 3</div>
  <div class="forge-typography--heading4">Heading 4</div>
  <div class="forge-typography--heading5">Heading 5</div>
  <div class="forge-typography--heading6">Heading 6</div>
</div>

<div class="section">
  <div class="forge-typography--display1">Display 1</div>
  <div class="forge-typography--display2">Display 2</div>
  <div class="forge-typography--display3">Display 3</div>
  <div class="forge-typography--display4">Display 4</div>
  <div class="forge-typography--display5">Display 5</div>
  <div class="forge-typography--display6">Display 6</div>
</div>

<div class="section">
  <div class="forge-typography--body1">Body 1</div>
  <div class="forge-typography--body2">Body 2</div>
</div>

<div class="section">
  <div class="forge-typography--title">Title</div>
  <div class="forge-typography--subtitle1">Subtitle 1</div>
  <div class="forge-typography--subtitle2">Subtitle 2</div>
  <div class="forge-typography--subtitle3">Subtitle 3</div>
  <div class="forge-typography--subtitle4">Subtitle 4</div>
</div>

<div class="section">
  <div class="forge-typography--label">Label</div>
  <div class="forge-typography--button">Button</div>
  <div class="forge-typography--overline">Overline</div>
</div>

<script type="module" src="typography.ts"></script>
