<div class="forge-typography--heading-01">Heading 01</div>
<div class="forge-typography--heading-02">Heading 02</div>
<div class="forge-typography--heading-03">Heading 03</div>
<div class="forge-typography--heading-04">Heading 04</div>
<div class="forge-typography--heading-05">Heading 05</div>
<div class="forge-typography--heading-06">Heading 06</div>
<div class="forge-typography--display-01">Display 01</div>
<div class="forge-typography--display-02">Display 02</div>
<div class="forge-typography--display-03">Display 03</div>
<div class="forge-typography--display-04">Display 04</div>
<div class="forge-typography--display-05">Display 05</div>
<div class="forge-typography--display-06">Display 06</div>
<div class="forge-typography--body-01">Body 01</div>
<div class="forge-typography--body-02">Body 02</div>
<div class="forge-typography--body">Body (alias for Body 02)</div>
<div class="forge-typography--title">Title</div>
<div class="forge-typography--subtitle">Subtitle</div>
<div class="forge-typography--label">Label</div>
<div class="forge-typography--button">Button</div>

<forge-divider style="margin-block: 24px;"></forge-divider>

<div class="forge-typography--title">Title</div>
<div class="forge-typography--headline1">Headline 1</div>
<div class="forge-typography--headline2">Headline 2</div>
<div class="forge-typography--headline3">Headline 3</div>
<div class="forge-typography--headline4">Headline 4</div>
<div class="forge-typography--headline5">Headline 5</div>
<div class="forge-typography--headline6">Headline 6</div>
<div class="forge-typography--subtitle1">Subtitle 1</div>
<div class="forge-typography--subtitle2">Subtitle 2</div>
<div class="forge-typography--body1">Body 1</div>
<div class="forge-typography--body2">Body 2</div>
<div class="forge-typography--caption">Caption</div>
<div class="forge-typography--overline">Overline</span>

<script type="module" src="typography.ts"></script>
