<div class="forge-typography--title">Title</div>
<div class="forge-typography--headline1">Headline 1</div>
<div class="forge-typography--headline2">Headline 2</div>
<div class="forge-typography--headline3">Headline 3</div>
<div class="forge-typography--headline4">Headline 4</div>
<div class="forge-typography--headline5">Headline 5</div>
<div class="forge-typography--headline6">Headline 6</div>
<div class="forge-typography--subtitle1">Subtitle 1</div>
<div class="forge-typography--subtitle2">Subtitle 2</div>
<div class="forge-typography--body1">Body 1</div>
<div class="forge-typography--body2">Body 2</div>
<div class="forge-typography--caption">Caption</div>
<div class="forge-typography--overline">Overline</span>

<script type="module" src="typography.ts"></script>
