<forge-list navlist>
  <forge-list-item selected>
    <forge-icon slot="start" name="dashboard"></forge-icon>
    <a href="#">Dashboard</a>
  </forge-list-item>
  <forge-list-item>
    <forge-icon slot="start" name="bar_chart"></forge-icon>
    <a href="#">Analytics</a>
  </forge-list-item>
  <forge-list-item>
    <forge-icon slot="start" name="people"></forge-icon>
    <a href="#">Users</a>
  </forge-list-item>
  <forge-list-item>
    <forge-icon slot="start" name="folder"></forge-icon>
    <a href="#">Projects</a>
  </forge-list-item>

</forge-list>
