<!-- Checkbox facet for multi-select filtering -->
<div class="flex flex-col gap-xsmall">
  <span class="text-label1 text-medium">Status</span>
  <forge-list dense>
    <forge-list-item>
      <forge-checkbox slot="start" dense></forge-checkbox>
      Active
    </forge-list-item>
    <forge-list-item>
      <forge-checkbox slot="start" dense></forge-checkbox>
      Pending
    </forge-list-item>
    <forge-list-item>
      <forge-checkbox slot="start" dense></forge-checkbox>
      Completed
    </forge-list-item>
    <forge-list-item>
      <forge-checkbox slot="start" dense></forge-checkbox>
      Archived
    </forge-list-item>
  </forge-list>
</div>
