<div class="p-medium">
  <forge-card class="p-0">
    <forge-toolbar>
      <h2 class="text-heading5" slot="start">Card Title</h2>
    </forge-toolbar>
    <div class="p-medium">
    <p>Card content goes here.</p>
    </div>
  </forge-card>
</div>