<forge-toolbar slot="header">
  <h2 slot="start" class="text-heading4">Title</h2>
  <forge-icon-button slot="end" density="medium" aria-label="Search">
    <forge-icon name="search"></forge-icon>
  </forge-icon-button>
  <forge-icon-button slot="end" density="medium" aria-label="More options">
    <forge-icon name="more_vert"></forge-icon>
  </forge-icon-button>
</forge-toolbar>
