<div class="flex-vert">
  
  <div>
    <h3 class="forge-typography--subtitle1">Attached by parent relationship</h3>
    <div class="ripple-surface-example">
      <forge-ripple></forge-ripple>
    </div>
  </div>
  
  <div>
    <forge-ripple target="#ripple-surface-target-1"></forge-ripple>

    <h3 class="forge-typography--subtitle1">Attached by target</h3>
    <div id="ripple-surface-target-1" class="ripple-surface-example"></div>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1">Card</h3>
    <forge-card id="forge-ripple-card" style="--forge-card-padding: 0;">
      <div style="padding: 16px;">
        Ripple's believe it or not!
        <forge-ripple></forge-ripple>
      </div>
    </forge-card>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1">Unbounded</h3>
    <div class="unbounded-container">
      <forge-ripple unbounded></forge-ripple>
    </div>
  </div>
</div>

<script type="module" src="ripple.ts"></script>
