<div class="demo">
  <!-- Select -->
  <forge-select label="Pick a Food Group" id="select">
    <forge-option value="">None</forge-option>
    <forge-option value="grains">Bread, Cereal, Rice, and Pasta</forge-option>
    <forge-option value="vegetables">Vegetables (disabled)</forge-option>
    <forge-option value="fruit">Fruit</forge-option>

    <!-- Leading -->
    <forge-icon slot="leading" name="food"></forge-icon>

    <!-- Addon end -->
    <forge-checkbox slot="addon-end">
      <input type="checkbox" id="select-all">
    </forge-checkbox>

    <!-- Helper text -->
    <span slot="helper-text">Please choose a food group</span>
  </forge-select>

  <!-- CSS-only -->
  <h3>CSS-only</h3>
  <div class="forge-field">
    <forge-icon name="forge_logo"></forge-icon>
    <select>
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </select>
    <forge-icon name="arrow_drop_down"></forge-icon>
  </div>

  <!-- Select dropdown -->
  <h3>Select dropdown</h3>
  <forge-button variant="raised" style="width: 256px;" id="select-dropdown-target" aria-label="Choose an option">
    <span id="select-dropdown-text" aria-live="assertive" aria-atomic="true">Choose...</span>
    <forge-icon slot="end" name="arrow_drop_down"></forge-icon>
  </forge-button>
  <forge-select-dropdown
    target="#select-dropdown-target"
    id="select-dropdown"
    sync-selected-text="true"
    selected-text-target="#select-dropdown-text">
    <forge-option value=""></forge-option>
    <forge-option value="1">One</forge-option>
    <forge-option value="2">Two</forge-option>
    <forge-option value="3" disabled>Three</forge-option>
    <forge-option divider></forge-option>
    <forge-option value="4">Four</forge-option>
    <forge-option value="5">Five</forge-option>
    <forge-option divider></forge-option>
    <forge-option value="6">Six</forge-option>
  </forge-select-dropdown>

  <h3>Label aware</h3>
  <forge-label>
    <span>Label</span>
    <forge-select>
      <forge-option value="">None</forge-option>
      <forge-option value="grains">Bread, Cereal, Rice, and Pasta</forge-option>
      <forge-option value="vegetables" disabled>Vegetables (disabled)</forge-option>
      <forge-option value="fruit">Fruit</forge-option>
    </forge-select>
  </forge-label>

  <h3>Form associated</h3>
  <form name="form" id="form">
    <forge-select label="Form associated" name="select">
      <forge-option value="">None</forge-option>
      <forge-option value="grains">Bread, Cereal, Rice, and Pasta</forge-option>
      <forge-option value="vegetables" disabled>Vegetables (disabled)</forge-option>
      <forge-option value="fruit">Fruit</forge-option>
    </forge-select>
    <button type="reset">Reset</button>
  </form>
</div>

<script type="module" src="select.ts"></script>
