<!--
  @block Chips — Avatar
  @type component
  @description Avatar usage example for the forge-chips component.
  @tags chips, avatar, storybook, component-example
-->
<forge-chip-set>
  <forge-chip value="ruby">
    <forge-avatar size="small" image-url="./ruby-side.jpg" slot="start">
    </forge-avatar>
    Ruby
  </forge-chip>
  <forge-chip value="leo">
    <forge-avatar size="small" image-url="./leo.png" slot="start">
    </forge-avatar>
    Leo
  </forge-chip>
  <forge-chip value="harley">
    <forge-avatar size="small" image-url="./harley.jpg" slot="start">
    </forge-avatar>
    Harley
  </forge-chip>
</forge-chip-set>
