<!--
  @block Structured Card — Demo
  @type component
  @description Demo usage example for the forge-structured-card component.
  @tags structured-card, demo, storybook, component-example
-->
<forge-structured-card class="w-[400px]">
  <span slot="before-title">before-title</span>
  <span slot="title">title</span>
  <span slot="header-actions">header-actions</span>
  <span slot="after-header-actions">after-header-actions</span>
  <span slot="body" class="h-[200px]">body</span>
  <span slot="footer-start">footer-start</span>
  <span slot="footer-secondary-action">footer-secondary-action</span>
  <span slot="footer-primary-action">footer-primary-action</span>
</forge-structured-card>
