<!--
  @block Meter — Grouped
  @type component
  @description Grouped usage example for the forge-meter component.
  @tags meter, grouped, storybook, component-example
-->
<forge-meter-group id="meter-group">
  <label slot="label" for="meter-group">Label</label>
  <forge-meter id="meter-1" value="0.25" style="--forge-meter-color: #1E88E5; --_meter-z-index: 3; --_meter-inset: 0%;">
  </forge-meter>
  <forge-meter id="meter-2" value="0.15" style="--forge-meter-color: #FDD835; --_meter-z-index: 2; --_meter-inset: 25%;">
  </forge-meter>
  <forge-meter id="meter-3" value="0.35" style="--forge-meter-color: #43A047; --_meter-z-index: 1; --_meter-inset: 40%;">
  </forge-meter>
</forge-meter-group>
<forge-key style="margin-block-start: 8px;">
  <forge-key-item style="--forge-key-item-icon-color: #1E88E5;">
    <label for="meter-1">First</label>
    <span slot="value">25%</span>
  </forge-key-item>
  <forge-key-item style="--forge-key-item-icon-color: #FDD835;">
    <label for="meter-2">Second</label>
    <span slot="value">15%</span>
  </forge-key-item>
  <forge-key-item style="--forge-key-item-icon-color: #43A047;">
    <label for="meter-3">Third</label>
    <span slot="value">35%</span>
  </forge-key-item>
</forge-key>
