<h3 class="forge-typography--subtitle2">Horizontal</h3>
<div>
  <forge-divider></forge-divider>
</div>

<h3 class="forge-typography--subtitle2">Vertical</h3>
<div style="margin-left: 50px; height: 200px;">
  <forge-divider vertical></forge-divider>
</div>

<script type="module" src="divider.ts"></script>
