<section>
  <h3 class="forge-typography--heading2">Horizontal</h3>
  <div>
    <forge-divider></forge-divider>
  </div>
</section>

<section>
  <h3 class="forge-typography--heading2">CSS only</h3>
  <div>
    <div class="forge-divider"></div>
  </div>
</section>

<h3 class="forge-typography--heading2">Vertical</h3>
<div style="margin-left: 50px; height: 200px;">
  <forge-divider vertical></forge-divider>
</div>

<script type="module" src="divider.ts"></script>
