<div class="vert">
  <div>
    <h3 class="forge-typography--subtitle1">ID associated</h3>
    <div>
      <forge-label for="checkbox">Label</forge-label>
    </div>
    <forge-checkbox id="checkbox"></forge-checkbox>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1">Nested</h3>
    <forge-label>
      <span>Label</span>
      <forge-checkbox></forge-checkbox>
    </forge-label>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1">Frozen</h3>
    <forge-label freeze>
      <span>Label</span>
      <forge-checkbox></forge-checkbox>
    </forge-label>
  </div>
</div>

<script type="module" src="label.ts"></script>