<!--
  @block Chip Field — With Autocomplete
  @type component
  @description With Autocomplete usage example for the forge-chip-field component.
  @tags chip-field, with-autocomplete, storybook, component-example
-->
<forge-autocomplete mode="stateless">
  <forge-chip-field popover-icon show-clear>
    <label slot="label" for="tag-input">Tags</label>
    <input type="text" id="tag-input" autocomplete="off" role="combobox" aria-live="polite" aria-atomic="true" aria-haspopup="true" aria-expanded="false" aria-autocomplete="list" aria-controls="forge-aria-controls-placeholder">
  </forge-chip-field>
</forge-autocomplete>
