.scaffold-example {
  --forge-scaffold-height: 500px;
  --forge-scaffold-width: 100%;
}

.scaffold-example div[slot],
.forge-scaffold > div[class^='forge-scaffold__'] {
  border: 2px dashed var(--forge-theme-outline-low);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--forge-spacing-xsmall);
  margin: var(--forge-spacing-xsmall);
  box-sizing: border-box;
}
