.expandable-card {
  --forge-card-padding: 0;
}

.scrollable-expansion-content {
  max-height: 200px;
  overflow: auto;
}

// Hides scrollbar while expansion panel is animating open
forge-expansion-panel[opening] .scrollable-expansion-content {
  overflow: hidden;
}
