@use '../../lib/table/core' as table-core;

.section {
  margin-block: 16px 24px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

:is(table:not(.sb-anchor, .sb-unstyled, .sb-unstyled table)) {
  th, td {
    text-align: start;
  }
}
