@use '../../lib/table/core' as table-core;

.container {
  position: relative;
}

.codeLink {
  position: absolute;
  top: -54px;
  left: 54px;
}

.section {
  margin-block: 24px 32px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

:is(table:not(.sb-anchor, .sb-unstyled, .sb-unstyled table)) {
  th, td {
    text-align: start;
  }
}
