<!--
  @block Label — Aligned List
  @type component
  @description Aligned List usage example for the forge-label component.
  @tags label, aligned-list, storybook, component-example
-->
<div class="grid">
  <forge-label for="one">Item One</forge-label>
  <forge-checkbox id="one" aria-label="Item One" aria-required="false">
  </forge-checkbox>
  <forge-label for="two">Item Two with a longer label</forge-label>
  <forge-checkbox id="two" aria-label="Item Two with a longer label" aria-required="false">
  </forge-checkbox>
  <forge-label for="three">Item Three</forge-label>
  <forge-checkbox id="three" aria-label="Item Three" aria-required="false">
  </forge-checkbox>
  <forge-label for="four">Item Four</forge-label>
  <forge-checkbox id="four" aria-label="Item Four" aria-required="false">
  </forge-checkbox>
  <forge-label for="five">Item 5</forge-label>
  <forge-checkbox id="five" aria-label="Item 5" aria-required="false">
  </forge-checkbox>
</div>
