<div class="vert">
  <div class="vert">
    <forge-badge>9</forge-badge>
    <forge-badge>99</forge-badge>
    <forge-badge>999+</forge-badge>
    <forge-badge>99999999+</forge-badge>
  </div>

  <div class="vert">
    <forge-badge>
      <forge-icon name="heart" slot="start"></forge-icon>
      w/Start icon
    </forge-badge>
    <forge-badge>
      w/End icon
      <forge-icon name="heart" slot="end"></forge-icon>
    </forge-badge>
  </div>

  <div class="flex">
    <forge-icon-button>
      <forge-icon name="notifications"></forge-icon>
      <forge-badge slot="badge" dot></forge-badge>
    </forge-icon-button>

    <forge-icon-button>
      <forge-icon name="notifications"></forge-icon>
      <forge-badge slot="badge">99</forge-badge>
    </forge-icon-button>

    <forge-icon-button>
      <forge-icon name="notifications"></forge-icon>
      <forge-badge slot="badge">999999+</forge-badge>
    </forge-icon-button>
  </div>

  <div class="flex">
    <div class="vert">
      <h3 class="forge-typography--heading2">Theme</h3>
      <forge-badge>Default</forge-badge>
      <forge-badge theme="primary">Primary</forge-badge>
      <forge-badge theme="secondary">Secondary</forge-badge>
      <forge-badge theme="tertiary">Tertiary</forge-badge>
      <forge-badge theme="success">Success</forge-badge>
      <forge-badge theme="error">Error</forge-badge>
      <forge-badge theme="warning">Warning</forge-badge>
      <forge-badge theme="info">Info</forge-badge>
      <forge-badge theme="info-secondary">Info (secondary)</forge-badge>
    </div>
    <div class="vert">
      <h3 class="forge-typography--heading2">Theme (strong)</h3>
      <forge-badge strong>Default</forge-badge>
      <forge-badge strong theme="primary">Primary</forge-badge>
      <forge-badge strong theme="secondary">Secondary</forge-badge>
      <forge-badge strong theme="tertiary">Tertiary</forge-badge>
      <forge-badge strong theme="success">Success</forge-badge>
      <forge-badge strong theme="error">Error</forge-badge>
      <forge-badge strong theme="warning">Warning</forge-badge>
      <forge-badge strong theme="info">Info</forge-badge>
      <forge-badge strong theme="info-secondary">Info (secondary)</forge-badge>
    </div>
  </div>
</div>

<script type="module" src="badge.ts"></script>
