<!--
  @block Time Picker — Format
  @type component
  @description Format usage example for the forge-time-picker component.
  @tags time-picker, format, storybook, component-example
-->
<forge-time-picker>
  <forge-text-field>
    <label for="time-picker-12h">12-hour</label>
    <input type="text" id="time-picker-12h" />
  </forge-text-field>
</forge-time-picker>
<forge-time-picker use24-hour-time>
  <forge-text-field>
    <label for="time-picker-24h">24-hour</label>
    <input type="text" id="time-picker-24h" />
  </forge-text-field>
</forge-time-picker>
