<!--
  @block Autocomplete — Empty State
  @type component
  @description Empty State usage example for the forge-autocomplete component.
  @tags autocomplete, empty-state, storybook, component-example
-->
<forge-autocomplete class="w-[256px]">
  <forge-text-field show-clear popover-icon>
    <input type="text" id="autocomplete-emptystate" autocomplete="off" role="combobox" aria-live="polite" aria-atomic="true" aria-haspopup="true" aria-expanded="false" aria-autocomplete="list" aria-controls="forge-aria-controls-placeholder">
    <label for="autocomplete-emptystate" slot="label">Choose state</label>
  </forge-text-field>
</forge-autocomplete>
