<!--
  @block Switch — CSS Only
  @type component
  @description CSS Only usage example for the forge-switch component.
  @tags switch, css-only, storybook, component-example
-->
<label class="forge-typography--label2" style="display: flex; align-items: center;">
  <div class="forge-switch">
    <input type="checkbox" switch>
    <div class="forge-switch__thumb">
      <forge-icon name="close" class="forge-switch__icon forge-switch__icon--off">
      </forge-icon>
      <forge-icon name="check" class="forge-switch__icon forge-switch__icon--on">
      </forge-icon>
    </div>
  </div>
  <span>Toggle me</span>
</label>
