<!--
  @block Inline Message — Themed
  @type component
  @description Themed usage example for the forge-inline-message component.
  @tags inline-message, themed, storybook, component-example
-->
<div style="display: flex; gap: 16px; flex-direction: column">
  <forge-inline-message theme="error">
    <forge-icon slot="icon" name="info">
    </forge-icon>
    <p>Qui nulla anim sunt eiusmod eiusmod id esse veniam proident ea adipisicing ad exercitation.</p>
  </forge-inline-message>
  <forge-inline-message theme="warning">
    <forge-icon slot="icon" name="info">
    </forge-icon>
    <p>Qui nulla anim sunt eiusmod eiusmod id esse veniam proident ea adipisicing ad exercitation.</p>
  </forge-inline-message>
  <forge-inline-message theme="success">
    <forge-icon slot="icon" name="info">
    </forge-icon>
    <p>Qui nulla anim sunt eiusmod eiusmod id esse veniam proident ea adipisicing ad exercitation.</p>
  </forge-inline-message>
  <forge-inline-message theme="info">
    <forge-icon slot="icon" name="info">
    </forge-icon>
    <p>Qui nulla anim sunt eiusmod eiusmod id esse veniam proident ea adipisicing ad exercitation.</p>
  </forge-inline-message>
  <forge-inline-message theme="info-secondary">
    <forge-icon slot="icon" name="info">
    </forge-icon>
    <p>Qui nulla anim sunt eiusmod eiusmod id esse veniam proident ea adipisicing ad exercitation.</p>
  </forge-inline-message>
</div>
