<!--
  @block Popover — Non Modal
  @type component
  @description Non Modal usage example for the forge-popover component.
  @tags popover, non-modal, storybook, component-example
-->
<forge-button id="popover-trigger-nonmodal" variant="raised">Show Non-modal Popover</forge-button>
<forge-popover anchor="popover-trigger-nonmodal" placement="bottom-start" arrow aria-modal="false" aria-labelledby="nonmodal-title">
  <forge-scaffold>
    <forge-toolbar no-border slot="header">
      <h2 class="forge-typography--heading4" slot="start" id="nonmodal-title">Enter Your Name</h2>
    </forge-toolbar>
    <div slot="body" id="nonmodal-description" style="width: 300px; padding: var(--forge-spacing-medium);">
      <form autocomplete="off">
        <forge-text-field>
          <input autofocus type="text" name="your-name" value required aria-label="Enter your name">
        </forge-text-field>
      </form>
    </div>
    <forge-toolbar no-border slot="footer">
      <forge-button slot="end" style="margin-right: var(--forge-spacing-medium);">Cancel</forge-button>
      <forge-button slot="end" variant="filled" disabled>Save</forge-button>
    </forge-toolbar>
  </forge-scaffold>
</forge-popover>
