<div class="vert">
  <div>
    <h3 class="forge-typography--heading2">Default</h3>
    <div role="radiogroup" aria-label="Choose a radio option">
      <forge-radio name="default">Option 1</forge-radio>
      <forge-radio name="default">Option 2</forge-radio>
      <forge-radio name="default">Option 3</forge-radio>
    </div>
  </div>

  <form>
    <h3 class="forge-typography--heading2">Form associated</h3>
    <div role="radiogroup" aria-label="Choose a radio option">
      <forge-radio name="default">Option 1</forge-radio>
      <forge-radio name="default">Option 2</forge-radio>
      <forge-radio name="default">Option 3</forge-radio>
    </div>
    <button type="reset">Reset</button>
  </form>

  <form>
    <h3 class="forge-typography--heading2">Label aware</h3>
    <div role="radiogroup" aria-label="Choose a radio option">
      <forge-label>
        Option 1
        <forge-radio name="default"></forge-radio>
      </forge-label>
      <forge-label>
        Option 2
        <forge-radio name="default"></forge-radio>
      </forge-label>
      <forge-label>
        Option 3
        <forge-radio name="default"></forge-radio>
      </forge-label>
    </div>
  </form>

<script type="module" src="radio.ts"></script>
