<div class="vert">
  <div>
    <h3 class="forge-typography--subheading4">Default</h3>
    <div role="radiogroup" aria-label="Choose radio option">
      <forge-radio>
        <input type="radio" id="input-radio-01" name="radios" />
        <label for="input-radio-01">Option 01</label>
      </forge-radio>
      <forge-radio>
        <input type="radio" id="input-radio-02" name="radios" checked />
        <label for="input-radio-02">Option 02</label>
      </forge-radio>
      <forge-radio>
        <input type="radio" id="input-radio-03" name="radios" />
        <label for="input-radio-03">Option 03</label>
      </forge-radio>
    </div>
  </div>

  <div>
    <h3 class="forge-typography--subheading4">Dense</h3>
    <div role="radiogroup" aria-label="Choose radio option">
      <forge-radio dense>
        <input type="radio" id="input-radio-dense-01" name="radios-dense" />
        <label for="input-radio-dense-01">Option 01</label>
      </forge-radio>
      <forge-radio dense>
        <input type="radio" id="input-radio-dense-02" name="radios-dense" checked />
        <label for="input-radio-dense-02">Option 02</label>
      </forge-radio>
      <forge-radio dense>
        <input type="radio" id="input-radio-dense-03" name="radios-dense" />
        <label for="input-radio-dense-03">Option 03</label>
      </forge-radio>
    </div>
  </div>

  <div>
    <h3 class="forge-typography--subheading4">Disabled</h3>
    <div role="radiogroup" aria-label="Choose radio option">
      <forge-radio>
        <input type="radio" id="input-radio-disabled-01" name="radios-disabled" disabled />
        <label for="input-radio-disabled-01">Option 01</label>
      </forge-radio>
      <forge-radio>
        <input type="radio" id="input-radio-disabled-02" name="radios-disabled" checked disabled />
        <label for="input-radio-disabled-02">Option 02</label>
      </forge-radio>
      <forge-radio>
        <input type="radio" id="input-radio-disabled-03" name="radios-disabled" disabled />
        <label for="input-radio-disabled-03">Option 03</label>
      </forge-radio>
    </div>
  </div>

  <div>
    <h3 class="forge-typography--subheading4">Example</h3>
    <div role="radiogroup" id="example-radio-group" aria-label="Choose radio option">
      <forge-radio>
        <input type="radio" id="input-radio-example-1" name="radios-example" />
        <label for="input-radio-example-1">Option 1</label>
      </forge-radio>
      <forge-radio>
        <input type="radio" id="input-radio-example-2" name="radios-example" checked />
        <label for="input-radio-example-2">Option 2</label>
      </forge-radio>
      <forge-radio>
        <input type="radio" id="input-radio-example-3" name="radios-example" />
        <label for="input-radio-example-3">Option 3</label>
      </forge-radio>
    </div>
  </div>

  <div class="actions">
    <forge-button type="raised">
      <button type="button" id="next-button">Next</button>
    </forge-button>
    <forge-button type="raised">
      <button type="button" id="add-button">Add radio</button>
    </forge-button>
    <forge-button type="raised">
      <button type="button" id="remove-button">Remove radio</button>
    </forge-button>
  </div>
</div>

<script type="module" src="radio.ts"></script>
