<div class="vert">
  <div>
    <h3 class="forge-typography--heading2">Default</h3>
    <div role="radiogroup" aria-label="Choose a radio option">
      <forge-radio name="default">Option 1</forge-radio>
      <forge-radio name="default">Option 2</forge-radio>
      <forge-radio name="default">Option 3</forge-radio>
    </div>
  </div>

  <form>
    <h3 class="forge-typography--heading2">CSS-based Radio</h3>
    <div role="radiogroup" aria-label="Choose a radio option" style="display: grid; grid-template-columns: auto auto; inline-size: fit-content; align-items: center;">
      <div class="forge-radio">
        <input type="radio" name="css" id="css-radio-1" />
      </div>
      <label class="forge-typography--label1" for="css-radio-1">Option 1</label>
      <div class="forge-radio">
        <input type="radio" name="css" id="css-radio-2" />
      </div>
      <label class="forge-typography--label1" for="css-radio-2">Option 2</label>
      <div class="forge-radio">
        <input type="radio" name="css" id="css-radio-3" />
      </div>
      <label class="forge-typography--label1" for="css-radio-3">Option 3</label>
    </div>
  </form>

  <form id="radio-form">
    <h3 class="forge-typography--heading2">Form associated</h3>
    <div role="radiogroup" aria-label="Choose a radio option">
      <forge-radio name="default" value="Option 1" required>Option 1</forge-radio>
      <forge-radio name="default" value="Option 2">Option 2</forge-radio>
      <forge-radio name="default" value="Option 3">Option 3</forge-radio>
    </div>
    <button type="reset">Reset</button>
    <button type="submit">Submit</button>
  </form>

  <form>
    <h3 class="forge-typography--heading2">Label aware</h3>
    <div role="radiogroup" aria-label="Choose a radio option">
      <forge-label>
        Option 1
        <forge-radio name="default"></forge-radio>
      </forge-label>
      <forge-label>
        Option 2
        <forge-radio name="default"></forge-radio>
      </forge-label>
      <forge-label>
        Option 3
        <forge-radio name="default"></forge-radio>
      </forge-label>
    </div>
  </form>

  <form>
    <h3 class="forge-typography--heading2">Disabled</h3>
    <div role="radiogroup" aria-label="Choose a radio option">
      <forge-radio name="default" disabled>Option 1</forge-radio>
      <forge-radio name="default" disabled>Option 2</forge-radio>
      <forge-radio name="default" disabled>Option 3</forge-radio>
    </div>
  </form>

  <form>
    <h3 class="forge-typography--heading2">Read only</h3>
    <div role="radiogroup" aria-label="Choose a radio option">
      <forge-radio name="default" readonly>Option 1</forge-radio>
      <forge-radio name="default" readonly>Option 2</forge-radio>
      <forge-radio name="default" readonly>Option 3</forge-radio>
    </div>
  </form>

  <form>
    <h3 class="forge-typography--heading2">Label position start</h3>
    <div role="radiogroup" aria-label="Choose a radio option">
      <forge-radio name="default" label-position="start">Option 1</forge-radio>
      <forge-radio name="default" label-position="start">Option 2</forge-radio>
      <forge-radio name="default" label-position="start">Option 3</forge-radio>
    </div>
  </form>

  <form>
    <h3 class="forge-typography--heading2">Dense</h3>
    <div role="radiogroup" aria-label="Choose a radio option">
      <forge-radio name="default" dense>Option 1</forge-radio>
      <forge-radio name="default" dense>Option 2</forge-radio>
      <forge-radio name="default" dense>Option 3</forge-radio>
    </div>
  </form>

  <form>
    <h3 class="forge-typography--heading2">Radio group</h3>
    <forge-radio-group>
      <forge-label legend>Choose an option</forge-label>
      <forge-radio name="default">Option 1</forge-radio>
      <forge-radio name="default">Option 2</forge-radio>
      <forge-radio name="default">Option 3</forge-radio>
    </forge-radio-group>
  </form>

  <form>
    <h3 class="forge-typography--heading2">Disabled radio group</h3>
    <forge-radio-group disabled>
      <forge-label legend>Choose an option</forge-label>
      <forge-radio name="default">Option 1</forge-radio>
      <forge-radio name="default">Option 2</forge-radio>
      <forge-radio name="default">Option 3</forge-radio>
    </forge-radio-group>
  </form>
</div>

<script type="module" src="radio.ts"></script>
