<div class="vert" id="container">
  <div>
    <h3 class="forge-typography--subtitle1">Default</h3>
    <forge-checkbox>Default</forge-checkbox>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1">Exposed input</h3>
    <forge-checkbox id="exposed-input-checkbox">
      <span>Exposed input</span>
    </forge-checkbox>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1">Dense</h3>
    <forge-checkbox dense>Dense</forge-checkbox>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1">Readonly</h3>
    <forge-checkbox readonly>Readonly</forge-checkbox>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1">Disabled</h3>
    <forge-checkbox disabled>Disabled</forge-checkbox>
  </div>
</div>

<script type="module" src="checkbox.ts"></script>
