<div class="vert">
  <div>
    <h3 class="forge-typography--subheading4">Default</h3>
    <forge-checkbox>
      <input type="checkbox" id="default-checkbox" checked>
      <label for="default-checkbox" class="forge-typography--label">Checkbox label</label>
    </forge-checkbox>
  </div>

  <div>
    <h3 class="forge-typography--subheading4">Dense</h3>
    <forge-checkbox dense>
      <input type="checkbox" id="dense-checkbox" checked>
      <label for="dense-checkbox" class="forge-typography--label">Dense checkbox</label>
    </forge-checkbox>
  </div>

  <div>
    <h3 class="forge-typography--subheading4">Indeterminate</h3>
    <forge-checkbox >
      <input type="checkbox" id="indeterminate-checkbox" checked>
      <label for="indeterminate-checkbox" class="forge-typography--label">Indeterminate checkbox</label>
    </forge-checkbox>
  </div>

  <div>
    <h3 class="forge-typography--subheading4">Disabled</h3>
    <forge-checkbox>
      <input type="checkbox" id="disabled-checkbox" checked disabled>
      <label for="disabled-checkbox" class="forge-typography--label">Disabled checkbox</label>
    </forge-checkbox>
  </div>
</div>

<script type="module" src="checkbox.ts"></script>
