<!--
  @block Content Scaffold — Full Width Header
  @type component
  @description Full Width Header usage example for the forge-content-scaffold component.
  @tags content-scaffold, full-width-header, storybook, component-example
-->
<div class="h-[240px] border border-outline rounded-lg">
  <forge-content-scaffold>
    <div slot="header">header slot</div>
    <div slot="body">body</div>
    <div slot="footer-start">footer-start</div>
    <div slot="footer-end">footer-end</div>
  </forge-content-scaffold>
</div>
