<!--
  @block Split Button — Demo
  @type component
  @description Demo usage example for the forge-split-button component.
  @tags split-button, demo, storybook, component-example
-->
<forge-split-button variant="raised" theme="primary">
  <forge-button style="min-width: 100px;" variant="raised">Send</forge-button>
  <forge-menu>
    <forge-button aria-label="Show menu" popover-icon variant="raised" aria-atomic="true" aria-live="assertive" aria-haspopup="true">
    </forge-button>
  </forge-menu>
</forge-split-button>
