<!--
  @block Icon Button — Variants
  @type component
  @description Variants usage example for the forge-icon-button component.
  @tags icon-button, variants, storybook, component-example
-->
<forge-icon-button aria-label="Default icon button">
  <forge-icon name="favorite">
  </forge-icon>
</forge-icon-button>
<forge-icon-button variant="outlined" aria-label="Outlined icon button">
  <forge-icon name="favorite">
  </forge-icon>
</forge-icon-button>
<forge-icon-button variant="tonal" aria-label="Tonal icon button">
  <forge-icon name="favorite">
  </forge-icon>
</forge-icon-button>
<forge-icon-button variant="filled" aria-label="Filled icon button">
  <forge-icon name="favorite">
  </forge-icon>
</forge-icon-button>
<forge-icon-button variant="raised" aria-label="Raised icon button">
  <forge-icon name="favorite">
  </forge-icon>
</forge-icon-button>
