<!--
  @block Page State — CSS Only
  @type component
  @description CSS Only usage example for the forge-page-state component.
  @tags page-state, css-only, storybook, component-example
-->
<div class="forge-page-state">
  <img src="https://cdn.forge.tylertech.com/v1/images/spot-hero/404-error-spot-hero.svg" class="forge-page-state__graphic" alt>
  <div class="forge-page-state__title">Nothing but tumbleweeds here...</div>
  <div class="forge-page-state__message">
    Even our best explorer couldn't find the page you're looking for. It might have been removed or you may have mistyped the URL.
  </div>
  <div class="forge-page-state__actions">
    <button class="forge-button forge-button--raised">Go back</button>
    <button class="forge-button forge-button--outlined">Refresh</button>
  </div>
</div>
