<div class="busy-indicator-host">
  <forge-button type="raised">
    <button id="show-busy-indicator-button">Show busy indicator</button>
  </forge-button>
</div>

<script type="module" src="busy-indicator.ts"></script>
