<!--
  @block Key — Demo
  @type component
  @description Demo usage example for the forge-key component.
  @tags key, demo, storybook, component-example
-->
<forge-key>
  <forge-key-item style="--forge-key-item-icon-color: salmon;">
    <span>Black Guillemot</span>
    <span slot="value">25%</span>
  </forge-key-item>
  <forge-key-item style="--forge-key-item-icon-color: var(--forge-theme-success);">
    <span>Great Shearwater</span>
    <span slot="value">50%</span>
  </forge-key-item>
  <forge-key-item style="--forge-key-item-icon-color: #abcdef;">
    <span>Mealy Redpoll</span>
    <span slot="value">75%</span>
  </forge-key-item>
</forge-key>
