<div role="tablist">
  <forge-tab-bar id="demo-tabs" active-tab="0">
    <forge-tab>
      Tab 1 label
    </forge-tab>
    <forge-tab>
      <forge-icon slot="leading" name="favorite"></forge-icon>
      Tab 2 label
    </forge-tab>
    <forge-tab>
      Tab 3 label
      <forge-icon slot="trailing" name="favorite"></forge-icon>
    </forge-tab>
    <forge-tab>
      <forge-icon name="settings"></forge-icon>
    </forge-tab>
  </forge-tab-bar>
  <div role="tabpanel" class="tab-content"></div>
</div>

<script type="module" src="tab-bar.ts"></script>
