<!--
  @block Tree — Demo
  @type component
  @description Demo usage example for the forge-tree component.
  @tags tree, demo, storybook, component-example
-->
<forge-tree aria-multiselectable="false">
  <forge-tree-item>
    <span>Item 1</span>
    <forge-tree-item slot="children">
      <span>Item 1.1</span>
      <forge-tree-item slot="children">
        <span>Item 1.1.1</span>
      </forge-tree-item>
      <forge-tree-item slot="children">
        <span>Item 1.1.2</span>
      </forge-tree-item>
      <forge-tree-item slot="children">
        <span>Item 1.1.3</span>
      </forge-tree-item>
    </forge-tree-item>
    <forge-tree-item slot="children">
      <span>Item 1.2</span>
      <forge-tree-item slot="children">
        <span>Item 1.2.1</span>
      </forge-tree-item>
      <forge-tree-item slot="children">
        <span>Item 1.2.2</span>
      </forge-tree-item>
      <forge-tree-item slot="children">
        <span>Item 1.2.3</span>
      </forge-tree-item>
    </forge-tree-item>
  </forge-tree-item>
  <forge-tree-item>
    <span>Item 2</span>
    <forge-tree-item slot="children">
      <span>Item 2.1</span>
      <forge-tree-item slot="children">
        <span>Item 2.1.1</span>
      </forge-tree-item>
      <forge-tree-item slot="children">
        <span>Item 2.1.2</span>
      </forge-tree-item>
      <forge-tree-item slot="children">
        <span>Item 2.1.3</span>
      </forge-tree-item>
    </forge-tree-item>
    <forge-tree-item slot="children">
      <span>Item 2.2</span>
      <forge-tree-item slot="children">
        <span>Item 2.2.1</span>
      </forge-tree-item>
      <forge-tree-item slot="children">
        <span>Item 2.2.2</span>
      </forge-tree-item>
      <forge-tree-item slot="children">
        <span>Item 2.2.3</span>
      </forge-tree-item>
    </forge-tree-item>
  </forge-tree-item>
  <forge-tree-item>
    <span>Item 3</span>
    <forge-tree-item slot="children">
      <span>Item 3.1</span>
      <forge-tree-item slot="children">
        <span>Item 3.1.1</span>
      </forge-tree-item>
      <forge-tree-item slot="children">
        <span>Item 3.1.2</span>
      </forge-tree-item>
      <forge-tree-item slot="children">
        <span>Item 3.1.3</span>
      </forge-tree-item>
    </forge-tree-item>
    <forge-tree-item slot="children">
      <span>Item 3.2</span>
      <forge-tree-item slot="children">
        <span>Item 3.2.1</span>
      </forge-tree-item>
      <forge-tree-item slot="children">
        <span>Item 3.2.2</span>
      </forge-tree-item>
      <forge-tree-item slot="children">
        <span>Item 3.2.3</span>
      </forge-tree-item>
    </forge-tree-item>
  </forge-tree-item>
</forge-tree>
