.placeholder-container {
  border: 2px dashed var(--forge-theme-outline);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: 8px;
  margin-block: 4px;
}

forge-toolbar[auto-height] {
  .placeholder-container {
    height: 100px;
  }
}

