<forge-toolbar id="toolbar">
  <div slot="start" class="placeholder-container">Start</div>
  <div slot="center" class="placeholder-container">Center</div>
  <div slot="end" class="placeholder-container">End</div>
</forge-toolbar>

<script type="module" src="toolbar.ts"></script>
