<!--
  @block Accordion — Demo
  @type component
  @description Demo usage example for the forge-accordion component.
  @tags accordion, demo, storybook, component-example
-->
<forge-accordion>
  <forge-expansion-panel orientation="vertical" animation-type="default" trigger open-icon name>
    <div slot="header">
      Panel One
      <forge-open-icon orientation="vertical" rotation="full"></forge-open-icon>
    </div>
    <div id="forge-expansion-panel-content-dmk3t">Panel One Content</div>
  </forge-expansion-panel>
  <forge-divider>
  </forge-divider>
  <forge-expansion-panel orientation="vertical" animation-type="default" trigger open-icon name>
    <div slot="header">
      Panel Two
      <forge-open-icon orientation="vertical" rotation="full"></forge-open-icon>
    </div>
    <div id="forge-expansion-panel-content-1ogog">Panel Two Content</div>
  </forge-expansion-panel>
  <forge-divider>
  </forge-divider>
  <forge-expansion-panel orientation="vertical" animation-type="default" trigger open-icon name>
    <div slot="header">
      Panel Three
      <forge-open-icon orientation="vertical" rotation="full"></forge-open-icon>
    </div>
    <div id="forge-expansion-panel-content-kxzv3">Panel Three Content</div>
  </forge-expansion-panel>
</forge-accordion>
