<forge-key>
  <forge-key-item color="salmon">
    <span>Black Guillemot</span>
    <span slot="value">25%</span>
  </forge-key-item>
  <forge-key-item color="var(--forge-theme-success)">
    <span>Great Shearwater</span>
    <span slot="value">50%</span>
  </forge-key-item>
  <forge-key-item color="#abcdef">
    <span>Mealy Redpoll</span>
    <span slot="value">75%</span>
  </forge-key-item>
</forge-key>

<h3 class="forge-typography--heading2">Custom Icons</h3>
<forge-key>
  <forge-key-item>
    <forge-icon slot="icon" name="star"></forge-icon>
    <span>Black Guillemot</span>
    <span slot="value">25%</span>
  </forge-key-item>
  <forge-key-item>
    <forge-icon slot="icon" name="square"></forge-icon>
    <span>Great Shearwater</span>
    <span slot="value">50%</span>
  </forge-key-item>
  <forge-key-item>
    <forge-icon slot="icon" name="favorite"></forge-icon>
    <span>Mealy Redpoll</span>
    <span slot="value">75%</span>
  </forge-key-item>
</forge-key>

<h3 class="forge-typography--heading2">Vertical (with inline values)</h3>
<forge-key style="--forge-key-direction: column; max-inline-size: 400px;">
  <forge-key-item inline color="salmon">
    <span>Black Guillemot</span>
    <span slot="value">25%</span>
  </forge-key-item>
  <forge-key-item inline color="var(--forge-theme-success)">
    <span>Great Shearwater</span>
    <span slot="value">50%</span>
  </forge-key-item>
  <forge-key-item inline color="#abcdef">
    <span>Mealy Redpoll</span>
    <span slot="value">75%</span>
  </forge-key-item>
</forge-key>

<script type="module" src="key.ts"></script>
