<div class="vert">
  <forge-key>
    <forge-key-item color="salmon">
      <span>Black Guillemot</span>
      <span slot="value">25%</span>
    </forge-key-item>
    <forge-key-item color="var(--forge-theme-success)">
      <span>Great Shearwater</span>
      <span slot="value">50%</span>
    </forge-key-item>
    <forge-key-item color="#abcdef">
      <span>Mealy Redpoll</span>
      <span slot="value">75%</span>
    </forge-key-item>
  </forge-key>
  
  <div>
    <h3 class="forge-typography--heading2">No Values</h3>
    <forge-key>
      <forge-key-item color="salmon">Black Guillemot</forge-key-item>
      <forge-key-item color="var(--forge-theme-success)">Great Shearwater</forge-key-item>
      <forge-key-item color="#abcdef">Mealy Redpoll</forge-key-item>
    </forge-key>
  </div>
  
  <div>
    <h3 class="forge-typography--heading2">Custom Icons</h3>
    <forge-key>
      <forge-key-item>
        <forge-icon slot="icon" name="star"></forge-icon>
        <span>Black Guillemot</span>
        <span slot="value">25%</span>
      </forge-key-item>
      <forge-key-item>
        <forge-icon slot="icon" name="square"></forge-icon>
        <span>Great Shearwater</span>
        <span slot="value">50%</span>
      </forge-key-item>
      <forge-key-item>
        <forge-icon slot="icon" name="favorite"></forge-icon>
        <span>Mealy Redpoll</span>
        <span slot="value">75%</span>
      </forge-key-item>
    </forge-key>
  </div>
  
  <div>
    <h3 class="forge-typography--heading2">Vertical (with inline values)</h3>
    <forge-key style="--forge-key-direction: column; max-inline-size: 256px;">
      <forge-key-item inline color="salmon">
        <span>Black Guillemot</span>
        <span slot="value">25%</span>
      </forge-key-item>
      <forge-key-item inline color="var(--forge-theme-success)">
        <span>Great Shearwater</span>
        <span slot="value">50%</span>
      </forge-key-item>
      <forge-key-item inline color="#abcdef">
        <span>Mealy Redpoll</span>
        <span slot="value">75%</span>
      </forge-key-item>
    </forge-key>
  </div>
</div>

<script type="module" src="key.ts"></script>
