<!--
  @block List — Navigation Menu
  @type component
  @description Navigation Menu usage example for the forge-list component.
  @tags list, navigation-menu, storybook, component-example
-->
<forge-drawer open direction="left">
  <aside>
    <forge-list navlist>
      <forge-list-item>
        <forge-icon slot="start" name="home">
        </forge-icon>
        <a href="javascript: void(0);">Home</a>
      </forge-list-item>
      <forge-list-item>
        <forge-icon slot="start" name="inbox">
        </forge-icon>
        <a href="javascript: void(0);">Inbox</a>
      </forge-list-item>
      <forge-list-item>
        <forge-icon slot="start" name="star">
        </forge-icon>
        <a href="javascript: void(0);">Starred</a>
      </forge-list-item>
      <forge-list-item>
        <forge-icon slot="start" name="settings">
        </forge-icon>
        <a href="javascript: void(0);">Settings</a>
      </forge-list-item>
    </forge-list>
  </aside>
</forge-drawer>
