<div class="vert">
   <div>
     <h3 class="forge-typography--heading2">Default</h3>
     <forge-tree>
       <forge-tree-item value="passerines" disabled>
         <span>Passerines</span>
         <forge-tree-item value="corvids">
           <span>Corvids</span>
           <forge-tree-item value="magpie">Magpie</forge-tree-item>
           <forge-tree-item value="raven">Raven</forge-tree-item>
           <forge-tree-item value="crow">Crow</forge-tree-item>
           <forge-tree-item value="jay">Jay</forge-tree-item>
         </forge-tree-item>
         <forge-tree-item value="finches">
           <span>Finches</span>
           <forge-tree-item value="goldfinch">Goldfinch</forge-tree-item>
           <forge-tree-item value="greenfinch">Greenfinch</forge-tree-item>
           <forge-tree-item value="chaffinch">Chaffinch</forge-tree-item>
           <forge-tree-item value="bullfinch">Bullfinch</forge-tree-item>
         </forge-tree-item>
         <forge-tree-item value="bird-of-paradise">Bird of paradise</forge-tree-item>
         <forge-tree-item value="chickadee">Chickadee</forge-tree-item>
       </forge-tree-item>
       <forge-tree-item value="ratites" open-disabled>
         <span>Ratites</span>
         <forge-tree-item value="ostrich">Ostrich</forge-tree-item>
         <forge-tree-item value="emu">Emu</forge-tree-item>
         <forge-tree-item value="rhea">Rhea</forge-tree-item>
         <forge-tree-item value="cassowary">Cassowary</forge-tree-item>
         <forge-tree-item value="kiwi">Kiwi</forge-tree-item>
       </forge-tree-item>
       <forge-tree-item value="waterfowl">
         <span>Waterfowl</span>
         <forge-tree-item value="ducks">
           <span>Ducks</span>
           <forge-tree-item value="mallard">Mallard</forge-tree-item>
           <forge-tree-item value="wood-duck">Wood duck</forge-tree-item>
           <forge-tree-item value="bufflehead">Bufflehead</forge-tree-item>
           <forge-tree-item value="comb-duck">Comb duck</forge-tree-item>
         </forge-tree-item>
         <forge-tree-item value="geese">
           <span>Geese</span>
           <forge-tree-item value="canada-goose">Canada goose</forge-tree-item>
           <forge-tree-item value="brant">Brant</forge-tree-item>
           <forge-tree-item value="hawaiian-goose">Hawaiian goose</forge-tree-item>
         </forge-tree-item>
         <forge-tree-item value="swans">
           <span>Swans</span>
           <forge-tree-item value="trumpeter-swan">Trumpeter swan</forge-tree-item>
           <forge-tree-item value="whooper-swan">Whooper swan</forge-tree-item>
           <forge-tree-item value="tundra-swan">Tundra swan</forge-tree-item>
         </forge-tree-item>
       </forge-tree-item>
     </forge-tree>
   </div>

   <!-- <div>
     <h3 class="forge-typography--heading2">Start and end slots</h3>
     <forge-tree>
       <forge-tree-item value="passerines">
         <forge-icon slot="start" name="tree"></forge-icon>
         <span>Passerines</span>
         <forge-icon slot="end" name="bird"></forge-icon>
         <forge-tree-item value="corvids">
           <span>Corvids</span>
           <forge-tree-item value="magpie">Magpie</forge-tree-item>
           <forge-tree-item value="raven">Raven</forge-tree-item>
           <forge-tree-item value="crow">Crow</forge-tree-item>
           <forge-tree-item value="jay">Jay</forge-tree-item>
         </forge-tree-item>
         <forge-tree-item value="finches">
           <span>Finches</span>
           <forge-tree-item value="goldfinch">Goldfinch</forge-tree-item>
           <forge-tree-item value="greenfinch">Greenfinch</forge-tree-item>
           <forge-tree-item value="chaffinch">Chaffinch</forge-tree-item>
           <forge-tree-item value="bullfinch">Bullfinch</forge-tree-item>
         </forge-tree-item>
         <forge-tree-item value="bird-of-paradise">Bird of paradise</forge-tree-item>
         <forge-tree-item value="chickadee">Chickadee</forge-tree-item>
       </forge-tree-item>
       <forge-tree-item value="ratites">
         <forge-icon slot="start" name="grass"></forge-icon>
         <span>Ratites</span>
         <forge-icon slot="end" name="bird"></forge-icon>
         <forge-tree-item value="ostrich">Ostrich</forge-tree-item>
         <forge-tree-item value="emu">Emu</forge-tree-item>
         <forge-tree-item value="rhea">Rhea</forge-tree-item>
         <forge-tree-item value="cassowary">Cassowary</forge-tree-item>
         <forge-tree-item value="kiwi">Kiwi</forge-tree-item>
       </forge-tree-item>
       <forge-tree-item value="waterfowl">
         <forge-icon slot="start" name="water"></forge-icon>
         <span>Waterfowl</span>
         <forge-icon slot="end" name="bird"></forge-icon>
         <forge-tree-item value="ducks">
           <span>Ducks</span>
           <forge-tree-item value="mallard">Mallard</forge-tree-item>
           <forge-tree-item value="wood-duck">Wood duck</forge-tree-item>
           <forge-tree-item value="bufflehead">Bufflehead</forge-tree-item>
           <forge-tree-item value="comb-duck">Comb duck</forge-tree-item>
         </forge-tree-item>
         <forge-tree-item value="geese">
           <span>Geese</span>
           <forge-tree-item value="canada-goose">Canada goose</forge-tree-item>
           <forge-tree-item value="brant">Brant</forge-tree-item>
           <forge-tree-item value="hawaiian-goose">Hawaiian goose</forge-tree-item>
         </forge-tree-item>
         <forge-tree-item value="swans">
           <span>Swans</span>
           <forge-tree-item value="trumpeter-swan">Trumpeter swan</forge-tree-item>
           <forge-tree-item value="whooper-swan">Whooper swan</forge-tree-item>
           <forge-tree-item value="tundra-swan">Tundra swan</forge-tree-item>
         </forge-tree-item>
       </forge-tree-item>
     </forge-tree>
   </div> -->
 </div>

 <script type="module" src="tree.ts"></script>
 