<!--
  @block List — CSS Only
  @type component
  @description CSS Only usage example for the forge-list component.
  @tags list, css-only, storybook, component-example
-->
<div class="list-demo">
  <ul class="forge-list">
    <li class="forge-list-item">
      <span>List Item One</span>
    </li>
    <li class="forge-list-item">
      <span>List Item Two</span>
    </li>
    <li class="forge-list-item">
      <span>List Item Three</span>
    </li>
    <li class="forge-list-item">
      <span>List Item Four</span>
    </li>
  </ul>
</div>
