<forge-card class="demo-card" outlined>
  <forge-toolbar no-border>
    <h3 class="forge-typography--headline5" slot="start">
      This is the card title
    </h3>
    <forge-icon-button slot="end">
      <button type="button" aria-label="View options">
        <forge-icon name="more_vert" external></forge-icon>
      </button>
    </forge-icon-button>
  </forge-toolbar>

  <p class="card-body forge-typography--body2">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
    exercitationem doloremque dolorem ullam, nesciunt quia velit
    necessitatibus numquam quasi voluptates impedit earum dolores
    repudiandae facilis totam non quo labore itaque?
  </p>

  <forge-toolbar inverted no-border>
    <div slot="end" class="card-footer-buttons">
      <forge-button>
        <button type="button">Cancel</button>
      </forge-button>
      <forge-button type="unelevated">
        <button type="button">Apply</button>
      </forge-button>
    </div>
  </forge-toolbar>
</forge-card>

<script type="module" src="card.ts"></script>
