<div class="vert">
  <section>
    <h3 class="forge-typography--heading2">Variants</h3>
    <div class="flex">
      <forge-icon-button aria-label="Default icon button">
        <forge-icon name="favorite"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="outlined" aria-label="Outlined icon button">
        <forge-icon name="favorite"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="tonal" aria-label="Tonal icon button">
        <forge-icon name="favorite"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="filled" aria-label="Filled icon button">
        <forge-icon name="favorite"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="raised" aria-label="Raised icon button">
        <forge-icon name="favorite"></forge-icon>
      </forge-icon-button>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">CSS-only Variants</h3>
    <div class="flex">
      <button class="forge-icon-button" aria-label="Default icon button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>
      </button>

      <button class="forge-icon-button forge-icon-button--outlined" aria-label="Outlined icon button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>
      </button>

      <button class="forge-icon-button forge-icon-button--tonal" aria-label="Tonal icon button">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>
      </button>

      <button class="forge-icon-button forge-icon-button--filled" aria-label="Filled icon button">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>
      </button>

      <button class="forge-icon-button forge-icon-button--raised" aria-label="Raised icon button">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>
      </button>

      <a class="forge-icon-button" href="javascript: alert('Anchor link icon button works!');" aria-label="Anchor link icon button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 19H5V5h7V3H5a2 2 0 00-2 2v14a2 2 0 002 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg>
      </a>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Toggle</h3>
    <div class="flex">
      <forge-icon-button toggle aria-label="Toggle icon button">
        <forge-icon name="close"></forge-icon>
        <forge-icon name="check" slot="on"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="outlined" toggle aria-label="Outlined toggle icon button">
        <forge-icon name="close"></forge-icon>
        <forge-icon name="check" slot="on"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="tonal" toggle aria-label="Tonal toggle icon button">
        <forge-icon name="close"></forge-icon>
        <forge-icon name="check" slot="on"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="filled" toggle aria-label="Filled toggle icon button">
        <forge-icon name="close"></forge-icon>
        <forge-icon name="check" slot="on"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="raised" toggle aria-label="Raised toggle icon button">
        <forge-icon name="close"></forge-icon>
        <forge-icon name="check" slot="on"></forge-icon>
      </forge-icon-button>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">w/Anchor link</h3>
    <forge-icon-button>
      <a href="javascript: alert('Anchor link icon button works!');" aria-label="Anchor link icon button">
        <forge-icon name="open_in_new"></forge-icon>
      </a>
    </forge-icon-button>
  </section>

  <section>
    <h3 class="forge-typography--heading2">w/Badge</h3>
    <forge-icon-button aria-label="With dot badge">
      <forge-icon name="notifications"></forge-icon>
      <forge-badge slot="badge" dot></forge-badge>
    </forge-icon-button>

    <forge-icon-button aria-label="With badge count">
      <forge-icon name="notifications"></forge-icon>
      <forge-badge slot="badge">99+</forge-badge>
    </forge-icon-button>
  </section>

  <section>
    <h3 class="forge-typography--heading2">w/Circular progress</h3>
    <div class="flex">
      <forge-icon-button>
        <forge-circular-progress aria-label="With circular progress"></forge-circular-progress>
      </forge-icon-button>

      <forge-icon-button variant="outlined">
        <forge-circular-progress aria-label="Outlined with circular progress"></forge-circular-progress>
      </forge-icon-button>

      <forge-icon-button variant="tonal">
        <forge-circular-progress aria-label="Tonal with circular progress"></forge-circular-progress>
      </forge-icon-button>

      <forge-icon-button variant="filled">
        <forge-circular-progress aria-label="Filled with circular progress"></forge-circular-progress>
      </forge-icon-button>

      <forge-icon-button variant="raised">
        <forge-circular-progress aria-label="Raised with circular progress"></forge-circular-progress>
      </forge-icon-button>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Label aware</h3>
    <div class="flex">
      <forge-label class="with-label">
        <forge-icon-button aria-label="my custom label">
          <forge-icon name="settings"></forge-icon>
        </forge-icon-button>
        <span>Settings</span>
      </forge-label>
      <forge-label class="with-label">
        <forge-icon-button id="copy-btn">
          <forge-icon name="file_copy"></forge-icon>
        </forge-icon-button>
        <span>Copy</span>
      </forge-label>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Slots</h3>
    <div class="flex">
      <forge-icon-button aria-label="With start slot icon">
        <forge-icon slot="start" name="arrow_drop_down"></forge-icon>
        <forge-icon name="favorite"></forge-icon>
      </forge-icon-button>

      <forge-icon-button aria-label="With end slot icon">
        <forge-icon name="favorite"></forge-icon>
        <forge-icon slot="end" name="arrow_drop_down"></forge-icon>
      </forge-icon-button>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Deprecated (legacy) icon button</h3>
    <forge-deprecated-icon-button>
      <button type="button" aria-label="Deprecated icon button">
        <forge-icon name="favorite"></forge-icon>
      </button>
    </forge-deprecated-icon-button>

    <forge-deprecated-icon-button dense density="medium">
      <button type="button" aria-label="Deprecated icon button dense">
        <forge-icon name="favorite"></forge-icon>
      </button>
    </forge-deprecated-icon-button>
    
    <forge-deprecated-icon-button dense>
      <button type="button" aria-label="Deprecated icon button dense">
        <forge-icon name="favorite"></forge-icon>
      </button>
    </forge-deprecated-icon-button>

    <forge-deprecated-icon-button toggle>
      <button type="button" aria-label="Deprecated icon button toggle">
        <forge-icon name="check" forge-icon-button-on></forge-icon>
        <forge-icon name="close"></forge-icon>
      </button>
    </forge-deprecated-icon-button>

    <forge-deprecated-icon-button>
      <a href="javascript: alert('Anchor link button works!');" aria-label="Deprecated icon button with anchor">
        <forge-icon name="open_in_new"></forge-icon>
      </a>
    </forge-deprecated-icon-button>
  </section>
</div>

<script type="module" src="icon-button.ts"></script>
