<div class="vert">
  <div>
    <h3 class="forge-typography--subtitle4">Default</h3>
    <forge-icon-button>
      <button type="button">
        <forge-icon name="code"></forge-icon>
      </button>
    </forge-icon-button>
  </div>

  <div>
    <h3 class="forge-typography--subtitle4">Default (dense)</h3>
    <forge-icon-button dense>
      <button type="button">
        <forge-icon name="code"></forge-icon>
      </button>
    </forge-icon-button>
  </div>

  <div>
    <h3 class="forge-typography--subtitle4">Toggle</h3>
    <forge-icon-button toggle="true" is-on="false">
      <button type="button">
        <forge-icon name="favorite" forge-icon-button-on></forge-icon>
        <forge-icon name="favorite_border"></forge-icon>
      </button>
    </forge-icon-button>
  </div>

  <div>
    <h3 class="forge-typography--subtitle4">Toggle (dense)</h3>
    <forge-icon-button dense toggle is-on="false">
      <button type="button">
        <forge-icon name="favorite" forge-icon-button-on></forge-icon>
        <forge-icon name="favorite_border"></forge-icon>
      </button>
    </forge-icon-button>
  </div>

  <div>
    <h3 class="forge-typography--subtitle4">w/Anchor link</h3>
    <forge-icon-button>
      <a href="javascript: alert('Anchor link icon button works!');">
        <forge-icon name="open_in_new"></forge-icon>
      </a>
    </forge-icon-button>
  </div>
</div>

<script type="module" src="icon-button.ts"></script>
