<div class="vert">
  <section>
    <h3 class="forge-typography--heading2">Variants</h3>
    <div class="flex">
      <forge-icon-button aria-label="Default icon button">
        <forge-icon name="favorite"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="outlined" aria-label="Outlined icon button">
        <forge-icon name="favorite"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="tonal" aria-label="Tonal icon button">
        <forge-icon name="favorite"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="filled" aria-label="Filled icon button">
        <forge-icon name="favorite"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="raised" aria-label="Raised icon button">
        <forge-icon name="favorite"></forge-icon>
      </forge-icon-button>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Toggle</h3>
    <div class="flex">
      <forge-icon-button toggle aria-label="Toggle icon button">
        <forge-icon name="close"></forge-icon>
        <forge-icon name="check" slot="on"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="outlined" toggle aria-label="Outlined toggle icon button">
        <forge-icon name="close"></forge-icon>
        <forge-icon name="check" slot="on"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="tonal" toggle aria-label="Tonal toggle icon button">
        <forge-icon name="close"></forge-icon>
        <forge-icon name="check" slot="on"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="filled" toggle aria-label="Filled toggle icon button">
        <forge-icon name="close"></forge-icon>
        <forge-icon name="check" slot="on"></forge-icon>
      </forge-icon-button>

      <forge-icon-button variant="raised" toggle aria-label="Raised toggle icon button">
        <forge-icon name="close"></forge-icon>
        <forge-icon name="check" slot="on"></forge-icon>
      </forge-icon-button>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">w/Anchor link</h3>
    <forge-icon-button href="javascript: alert('Anchor link icon button works!');" aria-label="Anchor link icon button">
      <forge-icon name="open_in_new"></forge-icon>
    </forge-icon-button>
  </section>

  <section>
    <h3 class="forge-typography--heading2">w/Badge</h3>
    <forge-icon-button aria-label="With dot badge">
      <forge-icon name="notifications"></forge-icon>
      <forge-badge slot="badge" dot></forge-badge>
    </forge-icon-button>

    <forge-icon-button aria-label="With badge count">
      <forge-icon name="notifications"></forge-icon>
      <forge-badge slot="badge">99+</forge-badge>
    </forge-icon-button>
  </section>

  <section>
    <h3 class="forge-typography--heading2">w/Circular progress</h3>
    <div class="flex">
      <forge-icon-button>
        <forge-circular-progress aria-label="With circular progress"></forge-circular-progress>
      </forge-icon-button>

      <forge-icon-button variant="outlined">
        <forge-circular-progress aria-label="Outlined with circular progress"></forge-circular-progress>
      </forge-icon-button>

      <forge-icon-button variant="tonal">
        <forge-circular-progress aria-label="Tonal with circular progress"></forge-circular-progress>
      </forge-icon-button>

      <forge-icon-button variant="Filled">
        <forge-circular-progress aria-label="Filled with circular progress"></forge-circular-progress>
      </forge-icon-button>

      <forge-icon-button variant="raised">
        <forge-circular-progress aria-label="Raised with circular progress"></forge-circular-progress>
      </forge-icon-button>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Label aware</h3>
    <div class="flex">
      <forge-label class="with-label">
        <forge-icon-button aria-label="my custom label">
          <forge-icon name="settings"></forge-icon>
        </forge-icon-button>
        <span>Settings</span>
      </forge-label>
      <forge-label class="with-label">
        <forge-icon-button id="copy-btn">
          <forge-icon name="file_copy"></forge-icon>
        </forge-icon-button>
        <span>Copy</span>
      </forge-label>
    </div>
  </section>

  <section>
    <h3 class="forge-typography--heading2">Slots</h3>
    <div class="flex">
      <forge-icon-button aria-label="With start slot icon">
        <forge-icon slot="start" name="arrow_drop_down"></forge-icon>
        <forge-icon name="favorite"></forge-icon>
      </forge-icon-button>

      <forge-icon-button aria-label="With end slot icon">
        <forge-icon name="favorite"></forge-icon>
        <forge-icon slot="end" name="arrow_drop_down"></forge-icon>
      </forge-icon-button>
    </div>
  </section>
</div>

<script type="module" src="icon-button.ts"></script>
