<!--
  @block Toolbar — CSS Only
  @type component
  @description CSS Only usage example for the forge-toolbar component.
  @tags toolbar, css-only, storybook, component-example
-->
<div class="forge-toolbar">
  <div class="forge-toolbar__start flex flex-col justify-center items-center w-full py-xsmall my-xxsmall border-2 border-dashed border-outline">Start</div>
  <div class="forge-toolbar__center flex flex-col justify-center items-center w-full py-xsmall my-xxsmall border-2 border-dashed border-outline">Center</div>
  <div class="forge-toolbar__end flex flex-col justify-center items-center w-full py-xsmall my-xxsmall border-2 border-dashed border-outline">End</div>
</div>
