<div class="flex">
  <forge-button variant="raised" id="show-inline-dialog-button">Show inline dialog</forge-button>
  <forge-button variant="raised" id="show-dynamic-dialog-button">Show dynamic dialog</forge-button>
  <forge-button variant="raised" id="show-css-dialog-button">Show CSS-only dialog</forge-button>
</div>

<forge-dialog trigger="show-inline-dialog-button" id="inline-dialog" class="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-desc">
  <%- include('./dialog-template-basic.ejs') %>
</forge-dialog>

<template id="forge-dialog-template">
  <%- include('./dialog-template-basic.ejs') %>
</template>

<dialog class="forge-dialog" id="css-only-dialog">
  <forge-scaffold>
    <forge-toolbar slot="header" class="header-toolbar" no-border>
      <h1 id="dialog-title" slot="start" class="forge-typography--heading4">Dialog title</h1>
      <forge-icon-button slot="end" id="close-button" aria-label="Close">
        <forge-icon name="close"></forge-icon>
      </forge-icon-button>
    </forge-toolbar>
    <div slot="body" id="dialog-desc" class="dialog-body" tabindex="0">
      <p class="forge-typography--body2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eaque illum itaque.
        Quas, libero eaque veniam et voluptatem quod natus fugit! Nihil consequatur quo
        corrupti beatae ad, ratione velit aut!
      </p>
        
      <p class="forge-typography--body2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eaque illum itaque.
        Quas, libero eaque veniam et voluptatem quod natus fugit! Nihil consequatur quo
        corrupti beatae ad, ratione velit aut!
      </p>
      <p class="forge-typography--body2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eaque illum itaque.
        Quas, libero eaque veniam et voluptatem quod natus fugit! Nihil consequatur quo
        corrupti beatae ad, ratione velit aut!
      </p>
    </div>
    <forge-toolbar slot="footer" no-border class="footer-toolbar">
      <div slot="end">
        <forge-button variant="outlined" id="cancel-button" autofocus>Cancel</forge-button>
        <forge-button variant="raised" id="save-button">Save</forge-button>
      </div>
    </forge-toolbar>
  </forge-scaffold>
</dialog>

<script type="module" src="dialog.ts"></script>
