<div class="dialog-container">
  <forge-scaffold>
    <forge-toolbar slot="header" class="header-toolbar" no-border forge-dialog-move-target>
      <h1 slot="start" class="forge-typography--heading4">Dialog title</h1>
      <forge-icon-button slot="end" id="close-button">
        <forge-icon name="close"></forge-icon>
      </forge-icon-button>
    </forge-toolbar>
    <div slot="body" class="dialog-body">
      <p class="forge-typography--body2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eaque illum itaque.
        Quas, libero eaque veniam et voluptatem quod natus fugit! Nihil consequatur quo
        corrupti beatae ad, ratione velit aut!
      </p>
        
      <p class="forge-typography--body2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eaque illum itaque.
        Quas, libero eaque veniam et voluptatem quod natus fugit! Nihil consequatur quo
        corrupti beatae ad, ratione velit aut!
      </p>
      
      <p class="forge-typography--body2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eaque illum itaque.
        Quas, libero eaque veniam et voluptatem quod natus fugit! Nihil consequatur quo
        corrupti beatae ad, ratione velit aut!
      </p>
    </div>
    <forge-toolbar slot="footer" no-border class="footer-toolbar">
      <div slot="end">
        <forge-button variant="outlined" id="cancel-button" autofocus>Close</forge-button>
        <forge-button variant="raised" id="accept-button" forge-dialog-focus>Apply</forge-button>
      </div>
      <form slot="end" style="display: flex; gap: 8px;">
        <button type="submit" formmethod="dialog">Form close</button>
        <forge-button type="submit" formmethod="dialog">Form close Forge</forge-button>
      </form>
    </forge-toolbar>
  </forge-scaffold>
</div>
