<div class="dialog-container">
  <forge-scaffold>
    <forge-toolbar slot="header" class="header-toolbar" no-border forge-dialog-move-target>
      <h1 slot="start" class="forge-typography--headline5">Dialog title</h1>
      <forge-icon-button slot="end">
        <button type="button" id="close-button">
          <forge-icon name="close"></forge-icon>
        </button>
      </forge-icon-button>
    </forge-toolbar>
    <div slot="body" class="dialog-body">
      <p class="forge-typography--body1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eaque illum itaque.
        Quas, libero eaque veniam et voluptatem quod natus fugit! Nihil consequatur quo
        corrupti beatae ad, ratione velit aut!
      </p>
        
      <p class="forge-typography--body1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eaque illum itaque.
        Quas, libero eaque veniam et voluptatem quod natus fugit! Nihil consequatur quo
        corrupti beatae ad, ratione velit aut!
      </p>
      
      <p class="forge-typography--body1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eaque illum itaque.
        Quas, libero eaque veniam et voluptatem quod natus fugit! Nihil consequatur quo
        corrupti beatae ad, ratione velit aut!
      </p>
    </div>
    <forge-toolbar slot="footer" no-border class="footer-toolbar">
      <div slot="end">
        <forge-button type="outlined">
          <button type="button" id="cancel-button">Close</button>
        </forge-button>
        <forge-button type="raised">
          <button type="button" id="accept-button" forge-dialog-focus>Apply</button>
        </forge-button>
      </div>
    </forge-toolbar>
  </forge-scaffold>
</div>
