<forge-button type="raised">
  <button id="show-dialog-button">Show dialog</button>
</forge-button>

<template id="forge-dialog-template">
  <%- include('./dialog-template-basic.ejs') %>
</template>

<script type="module" src="dialog.ts"></script>
