.dialog:not([fullscreen]) {
  .dialog-container {
    max-width: 500px;
  }
}

.dialog[fullscreen] {
  .dialog-container {
    height: 100%;
  }

  .dialog-body {
    max-height: 100%;
  }
}

forge-dialog[preset$=-sheet] {
  .dialog-body {
    max-height: none;
  }
}

forge-dialog:is([preset=left-sheet], [preset=right-sheet]) {
  .dialog-container {
    height: 100%;
  }
}

forge-dialog:not([fullscreen])[size-strategy=container-inline] {
  .dialog-container {
    max-width: none;
  }
}

forge-dialog:not([fullscreen])[size-strategy=container-block] {
  .dialog-body {
    max-height: none;
  }
}

.header-toolbar forge-icon-button:last-child {
  margin-right: -8px;
}

.dialog-body {
  padding: 0px 24px;
  max-height: 200px;
  overflow-y: auto;
}

.footer-toolbar forge-button {
  margin-right: 8px;
}
