<div class="vert">
  <div>
    <h3 class="forge-typography--heading2">Default</h3>
    <forge-field>
      <span slot="label">Label</span>
      <input type="text" value="Content" />
    </forge-field>
  </div>

  <div>
    <h3 class="forge-typography--heading2">Label block start</h3>
    <forge-field label-position="block-start">
      <span slot="label">Label</span>
      <input type="text" value="Content" />
    </forge-field>
  </div>

  <div>
    <h3 class="forge-typography--heading2">Label inline start</h3>
    <forge-field label-position="inline-start">
      <span slot="label">Label</span>
      <input type="text" value="Content" />
    </forge-field>
  </div>

  <div>
    <h3 class="forge-typography--heading2">Label inline end</h3>
    <forge-field label-position="inline-end">
      <span slot="label">Label</span>
      <input type="text" value="Content" />
    </forge-field>
  </div>

  <div>
    <h3 class="forge-typography--heading2">Label inset</h3>
    <forge-field id="inset-field" label-position="inset">
      <span slot="label">Label</span>
      <input type="text" value="" />
    </forge-field>
  </div>

  <div>
    <h3 class="forge-typography--heading2">Label none</h3>
    <forge-field label-position="none">
      <span slot="label">Label</span>
      <input type="text" value="Content" />
    </forge-field>
  </div>
</div>

<script type="module" src="field.ts"></script>
