<!--
  @block Expansion Panel — Demo
  @type component
  @description Demo usage example for the forge-expansion-panel component.
  @tags expansion-panel, demo, storybook, component-example
-->
<forge-expansion-panel orientation="vertical" animation-type="default" trigger open-icon name>
  <button slot="header" type="button" aria-controls="content" aria-expanded="false">Toggle</button>
  <div id="content" role="group">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus ut illum corporis incidunt quod temporibus consequatur rem! Libero rem
      nulla quod corporis similique consequuntur facere laborum veniam error eius.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus ut illum corporis incidunt quod temporibus consequatur rem! Libero rem
      nulla quod corporis similique consequuntur facere laborum veniam error eius.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus ut illum corporis incidunt quod temporibus consequatur rem! Libero rem
      nulla quod corporis similique consequuntur facere laborum veniam error eius.
    </p>
  </div>
</forge-expansion-panel>
