<div class="clipping-container">
  <div class="scroll-container">
    <forge-button type="raised" slot="trigger">
      <button type="button" id="my-btn">Show overlay</button>
    </forge-button>

    <forge-overlay target="my-btn" id="my-overlay">
      <div class="overlay-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore tenetur illum aliquam corporis veritatis quos accusamus. Laborum ullam autem fugiat eligendi ratione beatae consequuntur provident earum, nemo neque itaque!
      </div>
    </forge-overlay>
  </div>
</div>

<script type="module" src="overlay.ts"></script>
