<div class="clipping-container">
  <div class="scroll-container">
    <!-- Trigger element -->
    <forge-button type="raised">
      <button type="button" id="my-btn" style="white-space: nowrap;">Show overlay</button>
    </forge-button>
  </div>
  
  <!-- Static/inline overlay -->
  <forge-overlay id="my-overlay">
    <div class="overlay-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore tenetur illum aliquam corporis veritatis quos accusamus. Laborum ullam autem fugiat eligendi ratione beatae consequuntur provident earum, nemo neque itaque!
    </div>
  </forge-overlay>
</div>

<script type="module" src="overlay.ts"></script>
