forge-popover {
  --forge-overlay-width: 300px;
}

.clipping-container {
  height: 500px;
  border: 1px solid var(--forge-theme-border-color);
  overflow: auto;

  &.force-clipping {
    transform: translate3d(0,0,0);
    border: 2px dashed var(--mdc-theme-error);
  }

  &.use-small-container {
    height: 150px;
  }
}

.scroll-container {
  height: 350%;
  width: 350%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-dropdown-section {
  display: flex;
  justify-content: center;
  border: 1px dashed var(--forge-theme-border-color);
  font-size: 0.75em;
  padding: 16px;
}
