<div class="vert">
  <div class="flex">
    <forge-fab aria-label="Floating Action Button">
      <forge-icon name="favorite"></forge-icon>
    </forge-fab>

    <forge-fab>
      <forge-icon slot="start" name="add"></forge-icon>
      <span slot="label">Create</span>
    </forge-fab>

    <forge-fab>
      <span slot="label">Label</span>
    </forge-fab>

    <forge-fab>
      <span slot="label">Create</span>
      <forge-icon slot="end" name="add"></forge-icon>
    </forge-fab>

    <forge-fab>
      <a href="javascript: alert('FAB with anchor link!')" aria-label="Test FAB with anchor link">
        <forge-icon name="open_in_new"></forge-icon>
      </a>
    </forge-fab>
  </div>
</div>

<forge-fab class="positioned-fab">
  <forge-icon name="forge_logo"></forge-icon>
  Positioned
</forge-fab>

<script type="module" src="fab.ts"></script>
