<div class="vert">
  <forge-fab>
    <button type="button" aria-label="Default FAB">
      <forge-icon name="favorite"></forge-icon>
    </button>
  </forge-fab>

  <forge-fab>
    <a href="javascript: alert('Anchor link FAB works!');" aria-label="Anchor link FAB">
      <forge-icon name="open_in_new"></forge-icon>
    </a>
  </forge-fab>

  <forge-fab mini>
    <button type="button" aria-label="Mini FAB">
      <forge-icon name="favorite"></forge-icon>
    </button>
  </forge-fab>

  <forge-fab extended>
    <button type="button" aria-label="Extended FAB with leading icon">
      <forge-icon name="add"></forge-icon>
      <span>Create</span>
    </button>
  </forge-fab>

  <forge-fab extended>
    <button type="button" aria-label="Extended FAB with trailing icon">
      <span>Create</span>
      <forge-icon name="add"></forge-icon>
    </button>
  </forge-fab>

  <forge-fab extended>
    <button type="button" type="button" aria-label="Extended FAB with just text">
      <span>Create</span>
    </button>
  </forge-fab>

  <forge-fab theme="primary">
    <button type="button" aria-label="Add primary FAB">
      <forge-icon name="add"></forge-icon>
    </button>
  </forge-fab>

  <forge-fab theme="danger">
    <button type="button" aria-label="Delete FAB">
      <forge-icon name="delete"></forge-icon>
    </button>
  </forge-fab>
</div>

<script type="module" src="fab.ts"></script>
