<!--
  @block Text Field — Variant
  @type component
  @description Variant usage example for the forge-text-field component.
  @tags text-field, variant, storybook, component-example
-->
<forge-text-field variant="plain">
  <label slot="label">Plain</label>
  <input type="text" />
</forge-text-field>
<forge-text-field variant="outlined">
  <label slot="label">Outlined</label>
  <input type="text" />
</forge-text-field>
<forge-text-field variant="tonal">
  <label slot="label">Tonal</label>
  <input type="text" />
</forge-text-field>
<forge-text-field variant="filled">
  <label slot="label">Filled</label>
  <input type="text" />
</forge-text-field>
<forge-text-field variant="raised">
  <label slot="label">Raised</label>
  <input type="text" />
</forge-text-field>
