forge-card {
  --forge-card-padding: 0 !important;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  margin: 16px;

  & > *:first-child {
    margin-inline-end: auto;
  }
}

forge-icon[name='chevron_right'],
forge-open-icon {
  margin-inline-start: 8px;
}

.expansion-panel-content {
  margin: 16px;
}
