<!--
  @block List — Demo
  @type component
  @description Demo usage example for the forge-list component.
  @tags list, demo, storybook, component-example
-->
<forge-list>
  <forge-list-item value="list-item-1">
    <span>List item 1</span>
  </forge-list-item>
  <forge-list-item value="list-item-2">
    <span>List item 2</span>
  </forge-list-item>
  <forge-list-item value="list-item-3">
    <span>List item 3</span>
  </forge-list-item>
  <forge-list-item value="list-item-4">
    <span>List item 4</span>
  </forge-list-item>
</forge-list>
