.demo-card {
  max-width: 400px
}

.demo-card .forge-card-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.demo-card .forge-card-header-container h3 {
  margin: 0
}

.demo-card .forge-card-footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--forge-spacing-medium)
}

.scaffold-card {
  width: 400px;
  --forge-card-padding: 0;
  --forge-card-height: 300px
}

.card-content {
  padding: 16px;
  margin: 0
}
