<!--
  @block Tabs — With Icons
  @type component
  @description With Icons usage example for the forge-tabs component.
  @tags tabs, with-icons, storybook, component-example
-->
<forge-tab-bar data-aria-label="Demo tabs" active-tab="0">
  <forge-tab selected>
    <forge-icon slot="start" name="favorite">
    </forge-icon> Tab 1
  </forge-tab>
  <forge-tab>
    <forge-icon slot="start" name="favorite">
    </forge-icon> Tab 2
  </forge-tab>
  <forge-tab>
    <forge-icon slot="start" name="favorite">
    </forge-icon> Tab 3
  </forge-tab>
</forge-tab-bar>
