<div class="vert">
  <div>
    <h3 class="forge-typography--subtitle1-secondary">Default</h3>
    <forge-switch id="forge-switch-01">
      <span>off/on</span>
    </forge-switch>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Default (start label)</h3>
    <forge-switch label-position="start">off/on</forge-switch>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Dense</h3>
    <forge-switch dense>off/on</forge-switch>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Disabled</h3>
    <forge-switch disabled>off/on</forge-switch>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Disabled (selected)</h3>
    <forge-switch disabled selected>off/on</forge-switch>
  </div>
</div>

<script type="module" src="switch.ts"></script>
