<div class="vert">
  <div>
    <h3 class="forge-typography--subtitle1-secondary">Default</h3>
    <forge-switch id="forge-switch-01" required aria-label="Active">
      <span>off/on</span>
    </forge-switch>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Default (start label)</h3>
    <forge-switch label-position="start">off/on</forge-switch>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Dense</h3>
    <forge-switch dense>off/on</forge-switch>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Disabled</h3>
    <forge-switch disabled>off/on</forge-switch>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Disabled (on)</h3>
    <forge-switch disabled selected>off/on</forge-switch>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Custom icons</h3>
    <forge-switch icon="both">
      <span>sad/happy</span>
      <forge-icon slot="icon-off" name="emoticon_sad"></forge-icon>
      <forge-icon slot="icon-on" name="emoticon_happy"></forge-icon>
    </forge-switch>
  </div>

  <form>
    <h3 class="forge-typography--subtitle1-secondary">Form associated</h3>
    <label class="form-switch">
      <span class="forge-typography--caption">off/on</span>
      <forge-switch id="form-switch" aria-label="Aria active"></forge-switch>
    </label>
    <button type="reset">Reset</button>
  </form>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Custom styling</h3>
    <forge-switch class="custom-switch" label-position="start">off/on</forge-switch>
  </div>

  <div>
    <h3 class="forge-typography--subtitle1-secondary">Prevent default</h3>
    <forge-switch id="prevent-switch">off/on</forge-switch>
  </div>
</div>

<script type="module" src="switch.ts"></script>
