<!--
  @block Date Range Picker — Disabled
  @type component
  @description Disabled usage example for the forge-date-range-picker component.
  @tags date-range-picker, disabled, storybook, component-example
-->
<forge-date-range-picker disabled>
  <forge-text-field disabled>
    <label for="date-range-disabled-01">Date range</label>
    <input type="text" id="date-range-disabled-01" autocomplete="off" placeholder="mm/dd/yyyy" />
    <input type="text" id="date-range-disabled-02" autocomplete="off" placeholder="mm/dd/yyyy" />
  </forge-text-field>
</forge-date-range-picker>
