.stack-container {
  height: 800px;
}

.box {
  border: 4px dashed var(--mdc-theme-text-secondary-on-background);
  background-color: var(--mdc-theme-text-disabled-on-background);
  border-radius: 8px;
}

.small {
  height: 40px;
  width: 40px;
}

.medium {
  height: 80px;
  width: 80px;
}

.large {
  height: 120px;
  width: 120px;
}

.xlarge {
  height: 160px;
  width: 160px;
}

.more-examples {
  margin-block-start: 64px;
}

p {
  margin: 0;
  padding: 0;
}