<p class="forge-typography--body2">Resize browser window to see wrapping (set inline and wrap to true)</p>
<div class="stack-container">
  <forge-stack>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </forge-stack>
</div>

<script type="module" src="stack.ts"></script>