<div class="resize-div">
    <forge-stack>
        <div class="box">Box</div>
        <div class="box">Box</div>
        <div class="box">Box</div>
        <div class="box">Box</div>
    </forge-stack>
</div>


<script type="module" src="stack.ts"></script>