.stack-container {
  height: 800px;
  padding: 16px;
  background: beige;
  border-radius: 8px;
}

.box {
    padding: 36px;
    border: 4px dashed darkgray;
    background-color: bisque;
    border-radius: 8px;
}

.more-examples {
  margin-block-start: 64px;
}