<p class="forge-typography--body2">Resize browser window to see wrapping (set inline and wrap to true)</p>
<forge-stack>
  <div class="box">Box</div>
  <div class="box">Box</div>
  <div class="box">Box</div>
  <div class="box">Box</div>
</forge-stack>


<script type="module" src="stack.ts"></script>