<!--
  @block Open Icon — Expansion Panel
  @type component
  @description Expansion Panel usage example for the forge-open-icon component.
  @tags open-icon, expansion-panel, storybook, component-example
-->
<forge-expansion-panel orientation="vertical" animation-type="default" trigger open-icon name>
  <div role="button" tabindex="0" slot="header" style="display: flex; justify-content: space-between; align-items: center;">
    <div>Expansion panel</div>
    <forge-open-icon orientation="vertical" rotation="full">
    </forge-open-icon>
  </div>
  <div id="forge-expansion-panel-content-925g3">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum error officia iure corporis veritatis ut quod quo libero ea repellendus, consequuntur
    porro explicabo exercitationem minus pariatur debitis nihil at labore!
  </div>
</forge-expansion-panel>
