forge-tree {
  max-width: 256px;
}

forge-tree-item {
  &:state(open) {
    forge-icon.animate {
      transform: rotate(45deg);
      color: var(--forge-theme-warning);
    }
  }
}

forge-icon {
  &[slot='expand-icon'],
  &[slot='collapse-icon'],
  &[slot='context-expand-icon'],
  &[slot='context-collapse-icon'] {
    --forge-icon-font-size: 18px;
  }

  &.animate {
    transition:
      transform 0.2s,
      color 0.2s;
    color: var(--forge-theme-success);
  }
}

[slot='children-header'] {
  margin-block: 8px 4px;
  color: var(--forge-theme-text-medium);
}

[slot='children-footer'] {
  margin-inline-start: -16px;
}
