<h3 class="forge-typography--caption">External icon</h3>
<forge-icon name="face" external theme="success"></forge-icon>

<h3 class="forge-typography--caption">External icon (lazy)</h3>
<forge-icon name="code" lazy external></forge-icon>

<h3 class="forge-typography--caption">Registry icon</h3>
<forge-icon name="action_launcher"></forge-icon>

<h3 class="forge-typography--caption">Custom</h3>
<forge-icon name="palette" style="font-size: 48px; color: deepPink;" external></forge-icon>

<h3 class="forge-typography--caption">Invalid icon</h3>
<forge-icon name="invalidIconName"></forge-icon>

<h3 class="forge-typography--caption">Invalid icon (external)</h3>
<forge-icon name="another_invalid_icon_name" external></forge-icon>

<script type="module" src="icon.ts"></script>
