<forge-button type="raised">
  <button type="button" id="show-popup-button">Show popup</button>
</forge-button>

<template id="forge-popup-template">
  <div class="vert" style="padding: 16px;">
    <h2 class="forge-typography--title">Popup title</h2>

    <forge-select label="Select" value="determinate">
      <forge-option value="one">One</forge-option>
      <forge-option value="two">Two</forge-option>
      <forge-option value="three">Three</forge-option>
    </forge-select>

    <forge-text-field>
      <label for="popup-input">Value</label>
      <input type="text" id="popup-input" />
    </forge-text-field>
    
    <forge-button type="unelevated">
      <button type="button">Click me</button>
    </forge-button>
  </div>
</template>

<script type="module" src="popup.ts"></script>
