<forge-quantity-field>
  <label slot="label">Favorite number</label>
  <forge-icon-button slot="decrement-button">
    <forge-icon name="remove_circle_outline"></forge-icon>
  </forge-icon-button>
  <forge-text-field>
    <input type="number" style="text-align: center; width: 64px;" />
  </forge-text-field>
  <forge-icon-button slot="increment-button">
    <forge-icon name="control_point"></forge-icon>
  </forge-icon-button>
  <div slot="helper-text">Choose your favorite number</div>
</forge-quantity-field>

<script type="module" src="quantity-field.ts"></script>
