<!--
  @block State Layer — With Card
  @type component
  @description With Card usage example for the forge-state-layer component.
  @tags state-layer, with-card, storybook, component-example
-->
<forge-card aria-label="Click me" style="width:300px;outline:none;position:relative;">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.</p>
  <forge-focus-indicator>
  </forge-focus-indicator>
  <forge-state-layer>
  </forge-state-layer>
</forge-card>
