<div class="vert">
  <div>
    <h3 class="forge-typography--heading2">Imperative</h3>
    <forge-virtualizer id="virtualizer"></forge-virtualizer>
  </div>

  <div>
    <h3 class="forge-typography--heading2">Declarative</h3>
    <forge-virtualizer id="declarative-virtualizer"></forge-virtualizer>
  </div>
  
  <div>
    <h3 class="forge-typography--heading2">Horizontal</h3>
    <forge-virtualizer id="horizontal-virtualizer" direction="horizontal"></forge-virtualizer>
  </div>

  <div>
    <h3 class="forge-typography--heading2">Dynamic</h3>
    <forge-virtualizer id="dynamic-virtualizer" dynamic></forge-virtualizer>
  </div>

  <div>
    <h3 class="forge-typography--heading2">Headless</h3>
    <div id="headless-virtualizer" class="headless-virtualizer">
      <div id="headless-scroller" class="headless-scroller"></div>
    </div>
  </div>
</div>

<script type="module" src="virtualizer.ts"></script>
