<!--
  @block Secret — Css Only
  @type component
  @description Css Only usage example for the forge-secret component.
  @tags secret, css-only, storybook, component-example
-->
<span class="forge-secret forge-secret--blur" id="css-only-secret" role="group" aria-label="Secret">
  <span class="forge-secret__content" inert>Secret content here</span>
  <forge-icon-button class="forge-secret__button" aria-labelledby="css-only-secret" aria-controls="css-only-secret">
    <forge-icon class="forge-secret__icon" name="eye_outline">
    </forge-icon>
  </forge-icon-button>
  <forge-tooltip position="top" placement="top" aria-hidden="true">Show</forge-tooltip>
</span>
