forge-card {
  --forge-card-padding: 0 !important;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  margin: 16px;
  
  &>*:first-child {
    margin-inline-end: auto;
  }
}

forge-icon[name=chevron_right],
forge-open-icon {
  margin-inline-start: 8px;
}

.expansion-panel-content {
  margin: 16px;
}

#toggle-icon {
  margin-inline-end: 8px;
}

.current-container {
  display: grid;
  grid-template-columns: 256px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px;

  .current-detail {
    grid-area: 1 / 2 / -1 / -1;

    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      block-size: 100%;
    }
  }
}