<h3 class="forge-typography--subtitle1">Permanent</h3>
<div class="drawer-demo">
  <forge-scaffold stretch>
    <forge-app-bar title-text="Permanent Drawer" menu="false" slot="header">
      <forge-icon slot="logo" name="forge_logo"></forge-icon>
    </forge-app-bar>
    <forge-toolbar slot="body-header">
      <div slot="start" class="forge-typography--title">Toolbar</div>
    </forge-toolbar>
    <div slot="body" style="padding: 16px;">
      <forge-card>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.
      </forge-card>
    </div>
    <forge-drawer slot="body-left">
      <forge-toolbar slot="header">
        <div slot="start">Header</div>
      </forge-toolbar>
      <aside>
        <forge-list>
          <forge-list-item selected>
            <forge-icon slot="leading" name="inbox"></forge-icon>
            Inbox
          </forge-list-item>
          <forge-list-item>
            <forge-icon slot="leading" name="send"></forge-icon>
            Outgoing
          </forge-list-item>
          <forge-list-item indented>
            Pending
          </forge-list-item>
          <forge-list-item>
            <forge-icon slot="leading" name="drafts"></forge-icon>
            Drafts
          </forge-list-item>
          <forge-list-item>
            <forge-icon slot="leading" name="send"></forge-icon>
            Sent
          </forge-list-item>
        </forge-list>
      </aside>
      <forge-toolbar inverted slot="footer">
        <div slot="start">Footer</div>
      </forge-toolbar>
    </forge-drawer>
  </forge-scaffold>
</div>