<!--
  @block Date Range Picker — Constraints
  @type component
  @description Constraints usage example for the forge-date-range-picker component.
  @tags date-range-picker, constraints, storybook, component-example
-->
<forge-date-range-picker min="01/01/2026" max="12/31/2026">
  <forge-text-field>
    <label for="date-range-min-01">Project span</label>
    <input type="text" id="date-range-min-01" autocomplete="off" placeholder="mm/dd/yyyy" />
    <input type="text" id="date-range-min-02" autocomplete="off" placeholder="mm/dd/yyyy" />
  </forge-text-field>
</forge-date-range-picker>
