@import '@tylertech/forge/dist/dialog/forge-dialog.css';

forge-dialog:not([fullscreen]) forge-scaffold {
  --forge-scaffold-width: 500px
}

forge-dialog forge-scaffold {
  height: auto
}

forge-dialog forge-scaffold h1 {
  margin: 0
}

forge-dialog forge-scaffold>[slot=body] {
  padding: var(--forge-spacing-medium)
}
