<!--
  @block Dialog — CSS Only
  @type component
  @description CSS Only usage example for the forge-dialog component.
  @tags dialog, css-only, storybook, component-example
-->
<forge-button variant="raised">Open Dialog</forge-button>
<dialog id="css-dialog" style="max-inline-size: 480px;" class="forge-dialog forge-dialog--modal forge-dialog--center forge-dialog--dialog forge-dialog--zoom">
  <forge-scaffold>
    <forge-toolbar slot="header" no-border>
      <h2 class="forge-typography--heading4">Title</h2>
      <forge-icon-button slot="end" aria-label="Close">
        <forge-icon name="close">
        </forge-icon>
      </forge-icon-button>
    </forge-toolbar>
    <p slot="body" style="margin: 16px;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.
    </p>
    <forge-toolbar slot="footer" no-border>
      <forge-button slot="end">Close</forge-button>
    </forge-toolbar>
  </forge-scaffold>
</dialog>
