<forge-menu id="forge-menu-example">
  <!-- <button type="button">Show menu</button> -->
  <forge-button variant="raised">Show menu</forge-button>
</forge-menu>

<script type="module" src="menu.ts"></script>
