<div class="vert">
  <!-- Basic -->
  <forge-label-value>
    <span slot="label">Status</span>
    <span slot="value">ACTIVE</span>
  </forge-label-value>

  <!-- w/Icon-->
  <forge-label-value>
    <forge-icon slot="icon" name="person"></forge-icon>
    <span slot="label">Status</span>
    <span slot="value">ACTIVE</span>
  </forge-label-value>

  <!-- Roomy -->
  <forge-label-value density="roomy">
    <span slot="label">Status</span>
    <span slot="value">ACTIVE</span>
  </forge-label-value>

  <!-- Dense -->
  <forge-label-value density="dense">
    <span slot="label">Status</span>
    <span slot="value">ACTIVE</span>
  </forge-label-value>

  <!-- Dense w/Icon-->
  <forge-label-value density="dense">
    <forge-icon slot="icon" name="person"></forge-icon>
    <span slot="label">Status</span>
    <span slot="value">ACTIVE</span>
  </forge-label-value>

  <!-- Empty -->
  <forge-label-value empty>
    <span slot="label">Status</span>
    <span slot="value">no data</span>
  </forge-label-value>

  <!-- Ellipsis (overflowing text)-->
  <div style="max-width: 150px;">
    <forge-label-value ellipsis>
      <span slot="label">Position</span>
      <span slot="value">Beverage Dissemination Officer</span>
    </forge-label-value>
  </div>
</div>

<script type="module" src="label-value.ts"></script>
