<div class="vert">
  <!-- Basic -->
  <forge-label-value>
    <span slot="label">Status</span>
    <span slot="value">Active</span>
  </forge-label-value>

  <!-- w/Long text -->
  <forge-label-value>
    <span slot="label">Status</span>
    <span slot="value">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, ducimus ad ab dolore, quae commodi aliquam incidunt quibusdam illo amet repudiandae provident aspernatur perspiciatis quas accusantium eius doloremque, dignissimos quisquam.</span>
  </forge-label-value>

  <!-- w/Icon-->
  <forge-label-value>
    <forge-icon slot="icon" name="info_outline"></forge-icon>
    <span slot="label">Status</span>
    <span slot="value">Active</span>
  </forge-label-value>

  <!-- Roomy -->
  <forge-label-value density="roomy">
    <span slot="label">Status</span>
    <span slot="value">Active</span>
  </forge-label-value>

  <!-- Dense -->
  <forge-label-value dense>
    <span slot="label">Status</span>
    <span slot="value">Active</span>
  </forge-label-value>

  <!-- Dense w/Icon-->
  <forge-label-value dense>
    <forge-icon slot="icon" name="info_outline"></forge-icon>
    <span slot="label">Status</span>
    <span slot="value">Active</span>
  </forge-label-value>

  <!-- Empty -->
  <forge-label-value empty>
    <span slot="label">Status</span>
    <span slot="value">n/a</span>
  </forge-label-value>

  <!-- Ellipsis (overflowing text)-->
  <div style="max-width: 150px;">
    <forge-label-value ellipsis>
      <span slot="label">Status</span>
      <span slot="value">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
    </forge-label-value>
  </div>
</div>

<script type="module" src="label-value.ts"></script>
