<!--
  @block Date Range Picker — Demo
  @type component
  @description Demo usage example for the forge-date-range-picker component.
  @tags date-range-picker, demo, storybook, component-example
-->
<forge-date-range-picker style="width: 263px">
  <forge-text-field>
    <label for="input-date-range-picker-01" slot="label">Date</label>
    <input type="text" id="input-date-range-picker-01" autocomplete="off" placeholder="mm/dd/yyyy" autocorrect="off" autocapitalize="off" spellcheck="false" role="combobox" aria-live="assertive" aria-atomic="true" aria-haspopup="true" aria-expanded="false" aria-owns="forge-date-range-picker-v7zqn" aria-controls="forge-aria-controls-placeholder" aria-disabled="false">
    <span data-forge-multi-input-separator aria-hidden="true">-</span>
    <input type="text" id="input-date-range-picker-02" autocomplete="off" placeholder="mm/dd/yyyy" autocorrect="off" autocapitalize="off" spellcheck="false" role="combobox" aria-live="assertive" aria-atomic="true" aria-haspopup="true" aria-expanded="false" aria-owns="forge-date-range-picker-v7zqn" aria-label="To date" aria-controls="forge-aria-controls-placeholder" aria-disabled="false">
    <forge-icon-button aria-label="Toggle calendar" slot="end" density="medium">
      <forge-icon name="date_range">
      </forge-icon>
    </forge-icon-button>
  </forge-text-field>
</forge-date-range-picker>
