<!--
  @block Dialog — Left Sheet
  @type component
  @description Left Sheet usage example for the forge-dialog component.
  @tags dialog, left-sheet, storybook, component-example
-->
<div>
  <forge-button variant="raised">Open dialog</forge-button>
  <forge-dialog preset="left-sheet">
    <forge-scaffold>
      <forge-toolbar slot="header" no-divider>
        <h1 class="forge-typography--heading4" id="dialog-title" slot="start">Title text</h1>
        <forge-icon-button slot="end" aria-label="Close dialog">
          <forge-icon name="close">
          </forge-icon>
        </forge-icon-button>
      </forge-toolbar>
      <p slot="body" id="dialog-message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sed pariatur error repellendus eos! Quas, optio esse ad illum quis blanditiis rerum quia.
        Corrupti, ad hic velit praesentium voluptatum dolores?
      </p>
      <forge-toolbar slot="footer" no-divider>
        <forge-button slot="end" variant="raised">Close</forge-button>
      </forge-toolbar>
    </forge-scaffold>
  </forge-dialog>
</div>
