<!--
  @block List — Multicolumn
  @type component
  @description Multicolumn usage example for the forge-list component.
  @tags list, multicolumn, storybook, component-example
-->
<forge-list multicolumn>
  <forge-list-item>
    <forge-icon slot="start" name="folder">
    </forge-icon>
    <button type="button">List Item 1</button>
  </forge-list-item>
  <forge-list-item>
    <forge-icon slot="start" name="folder">
    </forge-icon>
    <button type="button">List Item 2</button>
  </forge-list-item>
  <forge-list-item>
    <forge-icon slot="start" name="folder">
    </forge-icon>
    <button type="button">List Item 3</button>
  </forge-list-item>
  <forge-list-item>
    <forge-icon slot="start" name="folder">
    </forge-icon>
    <button type="button">List Item 4</button>
  </forge-list-item>
  <forge-list-item>
    <forge-icon slot="start" name="folder">
    </forge-icon>
    <button type="button">List Item 5</button>
  </forge-list-item>
  <forge-list-item>
    <forge-icon slot="start" name="folder">
    </forge-icon>
    <button type="button">List Item 6</button>
  </forge-list-item>
  <forge-list-item>
    <forge-icon slot="start" name="folder">
    </forge-icon>
    <button type="button">List Item 7</button>
  </forge-list-item>
  <forge-list-item>
    <forge-icon slot="start" name="folder">
    </forge-icon>
    <button type="button">List Item 8</button>
  </forge-list-item>
  <forge-list-item>
    <forge-icon slot="start" name="folder">
    </forge-icon>
    <button type="button">List Item 9</button>
  </forge-list-item>
</forge-list>
