.forge-table-expandable-row {
  margin: 16px;
  border: 4px dashed var(--forge-theme-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 16px;
  height: 200px;
  box-sizing: border-box;
}
