<section>
  <h2 class="forge-typography--subheading4">Component</h2>
  <forge-banner id="banner">
    <forge-icon id="leading-icon" slot="icon" name="add_alert"></forge-icon>
    <div id="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
    <forge-button id="action-button" variant="outlined" slot="button">Learn more</forge-button>
  </forge-banner>
</section>

<section>
  <h2 class="forge-typography--subheading4">CSS class</h2>
  <div class="forge-banner">
    <forge-icon name="add_alert"></forge-icon>
    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
    <forge-button variant="outlined">Learn more</forge-button>
  </div>
</section>

<script type="module" src="banner.ts"></script>
