<forge-banner id="banner">
  <forge-icon id="leading-icon" slot="icon" name="add_alert"></forge-icon>
  <div id="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
  <forge-button id="action-button" variant="outlined" slot="button">Learn more</forge-button>
</forge-banner>

<script type="module" src="banner.ts"></script>
