<forge-banner id="banner">
  <forge-icon id="leading-icon" slot="icon" name="add_alert"></forge-icon>
  <div id="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
  <forge-button id="action-button" type="outlined" slot="button">
    <button type="button">Learn more</button>
  </forge-button>
</forge-banner>

<script type="module" src="banner.ts"></script>
