@use '../../../lib/switch';

.form-switch {
  display: flex;
  align-items: center;
}

.custom-switch {
  --primary-color: var(--forge-theme-primary);

  @include switch.provide-theme(
    (
      handle-on-color: var(--forge-theme-surface),
      handle-size: 24px,
      handle-off-scale: 0.67,
      handle-active-off-scale: 0.83,
      handle-on-elevation: none,
      track-on-color: var(--primary-color),
      track-width: 54px,
      track-height: 32px,
      track-border-width: 2px,
      track-off-border-color: #9e9e9e,
      icon-on-size: 16px,
      icon-on-color: var(--primary-color),
      direction: column,
      gap: 4px,
      state-layer-on-color: var(--primary-color)
    )
  );
}
