<!--
  @block Autocomplete — Custom Options
  @type component
  @description Custom Options usage example for the forge-autocomplete component.
  @tags autocomplete, custom-options, storybook, component-example
-->
<forge-autocomplete>
  <forge-text-field show-clear popover-icon>
    <input type="text" id="state" autocomplete="off" role="combobox" aria-live="polite" aria-atomic="true" aria-haspopup="true" aria-expanded="false" aria-autocomplete="list" aria-controls="forge-aria-controls-placeholder">
    <label for="state" aria-label="choose state" slot="label">Choose state</label>
  </forge-text-field>
</forge-autocomplete>
