<!--
  @block Date Picker — Date Formats
  @type component
  @description Date Formats usage example for the forge-date-picker component.
  @tags date-picker, date-formats, storybook, component-example
-->
<forge-date-picker date-format="MM/DD/YYYY">
  <forge-text-field>
    <label for="date-picker-date-formats" slot="label">MM/DD/YYYY</label>
    <input type="text" id="date-picker-date-formats" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="combobox" aria-live="assertive" aria-atomic="true" aria-haspopup="true" aria-expanded="false" aria-owns="forge-date-picker-38u9l" aria-controls="forge-aria-controls-placeholder" aria-disabled="false">
    <forge-icon-button aria-label="Toggle calendar" slot="end" density="medium">
      <forge-icon name="insert_invitation">
      </forge-icon>
    </forge-icon-button>
  </forge-text-field>
</forge-date-picker>
