#list-demo-root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--forge-spacing-large);

  --forge-list-column-width: 128px;

  & > div {
    min-width: 0;
  }
}

.list-demo {
  max-width: 600px;
  border: 1px solid var(--forge-theme-outline);
  forge-menu {
    display: contents;
  }
}
