name: Pull Request Validation

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, labeled, unlabeled]
  workflow_dispatch:
    
jobs:
  release:
    name: Pull Request Validation
    uses: tyler-technologies/forge-automation-shared/.github/workflows/wf-auto-pr-check.yml@v0.22.0
