name: Pull Request Validation

on:
  pull_request:
    branches:
      - next
    types: [opened, synchronize, reopened, labeled, unlabeled]
  workflow_dispatch:
    
jobs:
  release:
    name: Pull Request Validation
    uses: tyler-technologies-oss/forge-automation-shared/.github/workflows/wf-auto-pr-check.yml@v1.0.0
