name: Build Pull Request

on:
  pull_request:
    paths:
      - 'forge.json'
      - 'package.json'
      - '.eslintrc.json'
      - '.stylelintrc'
      - '.github/workflows/**/*'
      - 'src/**/*'

jobs:
  build:
    name: Build and Test
    uses: tyler-technologies/forge-automation-shared/.github/workflows/wf-build-and-test.yml@v0.17.0
    with:
      TESTS_ENABLED: true
    secrets:
      NPM_TOKEN: ${{ secrets.FORGE_NPM_TOKEN }}

  deploy-storybook:
    name: Deploy Storybook
    uses: tyler-technologies/forge-automation-shared/.github/workflows/wf-publish-gh-pages.yml@v0.17.0
    with:
      PRODUCTION_RELEASE: false
      BUILD_DIRECTORY: dist/storybook
      BUILD_TARGET_DIRECTORY: docs/${{ github.event.pull_request.head.ref }}
      BUILD_NPM_SCRIPT: "ci:build-storybook"
      PR_COMMENT_HEADER: "View Storybook Deployment"
    secrets:
      GITHUB_DEPLOY_TOKEN: ${{ secrets.FORGE_AUTOBOT_SECRET }}
