name: Build Pull Request

on:
  pull_request_target:
    paths:
      - 'forge.json'
      - 'package.json'
      - '.eslintrc.json'
      - '.stylelintrc'
      - '.github/workflows/**/*'
      - 'src/**/*'

jobs:
  wf-config:
    name: Workflow Configuration
    runs-on: ubuntu-latest
    steps:
      - name: Check File Changes
        uses: dorny/paths-filter@v2
        id: file-filter
        with:
          filters: |
            build:
              - 'forge.json'
              - 'tsconfig.json'
              - 'package.json'
              - '.eslintrc.json'
              - '.stylelintrc'
              - 'auto.config.ts'
              - '.github/workflows/**'
              - 'src/lib/**'
            test:
              - 'src/lib/**'
              - 'src/test/**'
            storybook:
              - 'src/lib/**'
              - 'src/stories/**'
    outputs:
      build-files-changed: ${{ steps.file-filter.outputs.build == 'true' }}
      test-files-changed: ${{ steps.file-filter.outputs.test == 'true' }}
      deploy-storybook: ${{ steps.file-filter.outputs.storybook == 'true' }}

  build:
    name: Build and Test
    needs: wf-config
    uses: tyler-technologies-oss/forge-automation-shared/.github/workflows/wf-build-and-test.yml@v2.1.1
    if: ${{ needs.wf-config.outputs.build-files-changed == 'true' || needs.wf-config.outputs.test-files-changed == 'true' }}
    with:
      BUILD_ENABLED: ${{ needs.wf-config.outputs.build-files-changed == 'true' }}
      TESTS_ENABLED: ${{ needs.wf-config.outputs.test-files-changed == 'true' }}
    secrets:
      NPM_TOKEN: ${{ secrets.FORGE_NPM_TOKEN }}

  deploy-storybook:
    name: Deploy Storybook
    needs: wf-config
    uses: tyler-technologies-oss/forge-automation-shared/.github/workflows/wf-publish-gh-pages.yml@v2.5.0
    if: ${{ needs.wf-config.outputs.deploy-storybook == 'true' }}
    with:
      PRODUCTION_RELEASE: false
      BUILD_DIRECTORY: dist/storybook
      BUILD_TARGET_DIRECTORY: docs/pr/${{ github.event.pull_request.head.ref }}-${{ github.sha }}
      BUILD_NPM_SCRIPT: "ci:build-storybook"
      PR_COMMENT_HEADER: "View Storybook Deployment"
      PR_PATH: pr/${{ github.event.pull_request.head.ref }}-${{ github.sha }}
    secrets:
      GITHUB_DEPLOY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NPM_TOKEN: ${{ secrets.FORGE_NPM_TOKEN }}
