name: Build Pull Request

on:
  pull_request:
    paths:
      - 'forge.json'
      - 'package.json'
      - 'package-lock.json'
      - '.eslintrc.json'
      - '.stylelintrc'
      - '.autorc'
      - '.github/workflows/**/*'
      - 'src/**/*'

jobs:
  wf-config:
    name: Workflow Configuration
    runs-on: ubuntu-latest
    steps:
      - name: Check File Changes
        uses: dorny/paths-filter@v3
        id: file-filter
        with:
          filters: |
            build:
              - 'forge.json'
              - 'tsconfig.json'
              - 'package.json'
              - 'package-lock.json'
              - '.eslintrc.json'
              - '.stylelintrc'
              - '.autorc'
              - '.github/workflows/**'
              - 'src/lib/**'
            test:
              - 'src/lib/**'
              - 'src/test/**'
    outputs:
      build-files-changed: ${{ steps.file-filter.outputs.build == 'true' }}
      test-files-changed: ${{ steps.file-filter.outputs.test == 'true' }}

  build:
    name: Build and Test
    needs: wf-config
    uses: tyler-technologies-oss/forge-automation-shared/.github/workflows/wf-build-and-test.yml@v2.9.0
    if: ${{ needs.wf-config.outputs.build-files-changed == 'true' || needs.wf-config.outputs.test-files-changed == 'true' }}
    with:
      BUILD_ENABLED: ${{ needs.wf-config.outputs.build-files-changed == 'true' }}
      TESTS_ENABLED: ${{ needs.wf-config.outputs.test-files-changed == 'true' }}
    secrets:
      NPM_TOKEN: ${{ secrets.FORGE_NPM_TOKEN }}
