name: Cleanup Pull Request

on:
  pull_request_target:
    types:
      - closed
  
jobs:
  cleanup-storybook-pr:
    name: Cleanup Storybook Deployment
    uses: tyler-technologies-oss/forge-automation-shared/.github/workflows/wf-cleanup-gh-pages.yml@v2.3.0
    secrets:
      GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
