<!--
  @block Footer — Demo
  @type component
  @description Demo usage example for the forge-footer component.
  @tags footer, demo, storybook, component-example
-->
<forge-footer>
  <forge-footer-item>
    <a href="javascript: void(0);">About</a>
  </forge-footer-item>
  <forge-footer-item>
    <a href="javascript: void(0);">Contact</a>
  </forge-footer-item>
  <forge-footer-item>
    <a href="javascript: void(0);">Privacy</a>
  </forge-footer-item>
  <forge-footer-item>
    <span>© 2026 Tyler Technologies</span>
  </forge-footer-item>

  <a slot="graphic" href="https://www.tylertech.com/" target="_blank">
    <img src="https://cdn.forge.tylertech.com/v1/images/branding/tyler/tyler-empowered-logo-white.svg" alt="Empowered by Tyler Technologies" />
  </a>
</forge-footer>
