<!--
  @block Scaffold — Demo
  @type component
  @description Demo usage example for the forge-scaffold component.
  @tags scaffold, demo, storybook, component-example
-->
<forge-scaffold class="[--forge-scaffold-height:500px] [--forge-scaffold-width:100%]">
  <div slot="left" class="border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">left</div>
  <div slot="header" class="border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">header</div>
  <div slot="body-header" class="border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">body-header</div>
  <div slot="body-left" class="border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">body-left</div>
  <div slot="body" class="border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">body</div>
  <div slot="body-right" class="border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">body-right</div>
  <div slot="body-footer" class="border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">body-footer</div>
  <div slot="footer" class="border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">footer</div>
  <div slot="right" class="border-2 border-dashed border-outline-low flex flex-col justify-center items-center p-xsmall m-xsmall box-border">right</div>
</forge-scaffold>
